@{
    ViewBag.Title = "Library Services and Technology Act Grants";
    ViewBag.Author = "Jonathan Shaw";
    ViewBag.Description = "Find information about federal funding for library improvements here";
    ViewBag.Keywords = "Institute Museum Library Services IMLS Library Services Technology Act LSTA Five Year Plan";
    ViewBag.pageID = "LSTA Grants";

}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
            <div class="section">
                <ol class="breadcrumb dynamic"></ol>
                <h2 class="page-title">@ViewBag.Title</h2>
                <div class="section">
                    <p>
                        The <a href="https://www.imls.gov/"> Institute of Museum and Library Services (IMLS)</a>supports libraries in the 50 states through funding from the federal <a href="~/Content/StateTemplate/pdf/grants/LSTA/LSTADescription.pdf">Library Services and Technology Act (LSTA)</a>, which is administered in California by the State Librarian. The funds are used to promote, through a competitive grant process, improvements in services to all types of libraries; to facilitate access to, and sharing of, resources and services through the California State Library; and to achieve economical and effective delivery of service for the purpose of cultivating an educated and informed citizenry. In addition, LSTA funds are targeted for statewide library services and support a wide array of programs, from early learning to digital access and preservation. LSTA also supports efforts to educate the current and future library workforce in California. LSTA priorities as defined in 20 USC Chapter 72 are:
                    </p>
                    <div class="section half">
                        <ul class="list-standout">
                            <li>Expanding services for learning and access to information and educational resources in a variety of formats, in all type of libraries, and for individuals of all ages</li>
                            <li>Developing library services that provide all users access to information through local, State, regional, national, and international electronic networks</li>
                            <li>Providing linkages among and between all types of libraries</li>
                            <li>Developing public and private partnerships with other agencies and community-based organizations</li>
                            <li>Targeting library services to individuals of diverse geographical, cultural, and socioeconomical backgrounds, to individuals with disabilities, and to individuals with limited functional literacy or information skills</li>
                            <li>Targeting library and information services to persons having difficulty using a library and to underserved urban and rural communities, including children from families with incomes below the poverty lines</li>
                        </ul>
                    </div>
                    <div class="section half">
                        <br/>
                        <img src="~/Content/StateTemplate/images/grants/LSTA/IMLS_Logo_square.jpg" alt="IMLS Logo" style="width:70%; height:auto; margin-left:50px; margin-bottom:30px"/>
                    </div>
                </div>
                <div class="section indent-outer">
                    <h3>California LSTA Five-Year Plan</h3>
                    <p>
                        The State Library is required by IMLS to submit a five-year plan outlining how the state will spend LSTA funds according to the priorities defined in the law. This plan is developed with input from focus groups and library staff and the assistance of outside consultants. Competitive grant proposals must address one or more of the goals and needs outlined in the current plan. The State Library is also required to submit an evaluation at the end of every LSTA 5-year plan. 
                    </p>
                    <div class="section indent-inner">
                        <ul class="list-understated">
                            <li><a href="~/Content/StateTemplate/pdf/grants/LSTA/CaliforniaFiveYearPlan2018-2022.pdf">California LSTA Five-Year Plan 2018-2022</a></li>
                            <li><a href="~/Content/StateTemplate/pdf/grants/LSTA/LSTAEvaluation2013-2016.pdf">California LSTA Funding Evaluation 2013-2016</a></li>
                            <li><a href="~/Content/StateTemplate/pdf/grants/LSTA/LSTA5YearPlan2013-2017.pdf">California LSTA Five-Year Plan 2013-2017</a></li>
                            <li><a href="~/Content/StateTemplate/pdf/grants/LSTA/LSTAEvaluation2006-2011.pdf">California LSTA Funding Evaluation 2006-2011</a></li>
                        </ul>
                    </div>
                </div>
                <div class="section">
                    <h3>Contact Us About LSTA</h3>
                    <div class="section half" align="center">
                        <p>
                                California State Library<br />
                                Greg Lucas, State Librarian of California<br />
                                P.O. Box 942837<br />
                                Sacramento, CA 94237-0001
                        </p>
                    </div>
                    <div class="section half" align="center">
                        <p>
                                (916) 323-9759<br />
                                FAX (916) 323-9786<br />
                                Email: <a href="mailto:lsta@library.ca.gov">lsta@library.ca.gov </a>
                        </p>
                    </div>
                </div>
                <p>
                    Note: Documents in PDF format can be viewed with the Adobe Acrobat Reader.
                </p>
            </div>
        </div>
    </main>
</div>

