@{
    ViewBag.Title = "CSL - BTBL User Advisory Council (BUAC)";
    ViewBag.PageTitle = "Braille and Talking Book Library (BTBL) User Advisory Council (BUAC)";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "BTBL User Advisory Council members have an opportunity to advise and make recommendations to BTBL and CSL management for improvements to library services. However, the Council is not a policy-making body. Introduction BUAC Bylaws Application Members' Statements of Interest Meeting Minutes and Agenda";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">

        <div class="section">
            <div class="container">

                <ol class="breadcrumb ">
                    <li><a href="/">Home</a></li>
                    <li><a href="/services/">Services</a></li>
                    <li><a href="/BTBL/">Braille and Talking Books</a></li>
                    <li class="active">Advisory Council</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>


                <div class='panel-group' role='tablist' aria-multiselectable='true'>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading1'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>Introduction</a>
                            </h3>
                        </div>
                        <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                            <div class='panel-body'>
                                <p>
                                    In early 2014, following the example of NLS network libraries nationwide, BTBL launched a 7-15 member BTBL User Advisory Council (BUAC).

                                </p>
                                <p>
                                    The purpose of the Council is to provide advice to the California State Library (CSL) and BTBL. Council members have an opportunity to advise and make recommendations to BTBL and CSL management for improvements to library services. However, the Council is not a policy-making body.

                                </p>
                                <p>
                                    We are seeking diverse Northern California geographical representation as well as print disability demographic representation. We truly encourage all who are interested to apply.

                                </p>
                                <p>
                                    The council meets three to four times per year – via teleconference or online – with at least one annual expenses-paid, in-person meeting at the State Library in Sacramento. Thus far we have been meeting in person quarterly. Councilor terms last for two years, and one third of the Council membership rotates off each year.

                                </p>
                                <p>
                                    The initial applications were reviewed by a selection committee of BTBL staff, and ever since, responsibility to review applications has been the domain of the council selection committee.

                                </p>
                                <p>
                                    If you have questions or comments, please contact BTBL Library Director Mike Marlin at <a href="mailto:mike.marlin@library.ca.gov">mike.marlin@library.ca.gov</a> or (800) 952-5666. Thank you!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading2'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>BUAC Bylaws</a>
                            </h3>
                        </div>
                        <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                            <div class='panel-body'>
                                <p>
                                    BUAC Bylaws (<a href="~/Content/StateTemplate/pdf/btbl/council/BTBLUserAdvisoryCouncilByLawsDec2016.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BTBLUserAdvisoryCouncilByLawsDec2016.pdf" target="_blank">PDF</a>)
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading3'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>Application</a>
                            </h3>
                        </div>
                        <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                            <div class='panel-body'>
                                <p>
                                    Please read the BUAC Bylaws, and if you're interested, we hope you will consider applying for this vital volunteer role.
                                </p>
                                <p>
                                    Applications are accepted continuously throughout the year, with preferred consideration given to applications received by November 15th. The November deadline gives us enough time to review and select applicants in time for a paid/reimbursable meeting at the California State Library in January.
                                </p>
                                <ul>
                                    <li>
                                        BUAC Application Form (<a href="~/Content/StateTemplate/pdf/btbl/council/BTBL-UserAdvisoryCouncil_application FinalOct2013.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BTBL_UserAdvisoryCouncil_Fillable_ApplicationFinal.pdf" target="_blank">PDF</a>)
                                    </li>
                                </ul>
                                <p>
                                    The application is also available via U.S. mail, fax, or email by contacting the library at <a href="mailto:btbl@library.ca.gov">btbl@library.ca.gov</a> or <br>(800) 952-5666.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading4'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse4' aria-expanded='false' aria-controls='collapse4'>Members' Statements of Interest</a>
                            </h3>
                        </div>
                        <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                            <div class='panel-body'>
                                <p>
                                    <strong>Chair, Gil Johnson (San Leandro)</strong>, <a href="mailto:gil.johnson@sbcglobal.net">email</a>
                                </p>
                                <p>
                                    (representing California Council of the Blind &ndash; CCB)
                                </p>
                                <p>
                                    When I was appointed by Judy Wilkinson, President of California Council of the Blind (CCB) to the Braille and Talking Book User Advisory council in July, I was delighted. While I am affiliated with CCB, I have also worked with the National Federation of the Blind of California (NFBC) and know many of their members.
                                </p>
                                <p>
                                    Recorded books from the National Library Services have always been an important source of reading materials for me from the time when I was a student at the Minnesota Braille and Sight Saving School. The regional library was on the campus of the school, and after school, I would spend time helping to go through returned books to be sure the records were in correct order. I became good friends with the librarian and he suggested many books that I read.
                                </p>
                                <p>
                                    In the late 1960's, I started writing down the name and author of books I read and eventually combined the author and title and NLS annotation into separate files which I have in a folder. Yes, I am a collector. To date, I have 1,066 titles in that folder and that does not include books that I have re-read. I check the new listing on the BARD website regularly and have plenty of books waiting to be read.
                                </p>
                                <p>
                                    I have served on many advisory committees and boards of directors in my life, but the Braille and Talking Book Advisory Council is one of the most important to me. As newly elected chair, I hope to help the Library expand its services and reach more print disabled persons. It is one of the least known and best tax payer supported programs the Federal and State government has. I want to help make it more visible to potential subscribers and the public.
                                </p>
                                <p>
                                    <strong>Vice-Chair, Alan B. Smith (Concord)</strong>, <a href="mailto:alanbsmith@sbcglobal.net">email</a>
                                </p>
                                <p>
                                    I would like the council, along with other patrons, to educate state legislators about the BTBL. I encourage the BTBL to enhance its search engine to be more "flexible" like Google. With low vision it is easy to mistype an author's name by one letter so the author is not found. Google search "understands" what is meant with typos. Google should be approached to assist with the search logic. I encourage BTBL to broaden its collections of biographies and autobiographies of major historical persons. Quite often I look for a book referenced in a book from the BTBL, and the library does not have it.
                                </p>
                                <p>
                                    Educating state legislators, county, and city officials about library service is a high priority. Through my activities, many legislators are now aware of the BTBL, and the California Library Association's lobbyists often include the importance of the BTBL in their library lobbying efforts. I testified at both SCA 7 hearings in Sacramento last year. This is the proposed constitutional amendment which, if passed, would allow library measures to be passed at 55% rather than the present two thirds super majority requirement. BATF is a group of 18 members appointed by the BART board of directors who are visually/hearing impaired, wheel chair users, senior citizens, or have other disabilities. We advise BART on how to make the system more accessible for all. There have been many achievements in the past two years, including the addition of yellow stripes on almost all stairs to make them more visible. I address the BART board at many board meetings.
                                </p>
                                <p>
                                    I think my years of championing libraries, working with elected officials and now advising BART, have given me the skills to be an effective council member. Thank you.
                                </p>
                                <p>
                                    <strong>Secretary, Hy Cohen (Stockton)</strong>, <a href="mailto:hyc@communitycenterfortheblind.org">email</a>
                                </p>
                                <!--<p>
                                    (representing juvenile patrons)
                                </p>-->
                                <p>
                                    <em>Statement forthcoming</em>
                                </p>
                                <p>
                                    <strong>Margie Donovan (Folsom)</strong>, <a href="mailto:margie.donovan1@outlook.com">email</a>
                                </p>
                                <p>
                                    I have 30+ years of experience of providing services and serving on committees in the blindness community. BTBL is a high priority in my personal life and to ensure that it is widely known about in the community, especially to those that are new to sight-loss. I would like to bring my commitment and vast knowledge of service provision in the blindness community to the table to enhance BTBL's services to the community.
                                </p>
                                <!--<p>
                                    <strong>Mary Willows</strong>, <a href="mailto:mwillows@sbcglobal.net">email</a>
                                </p>
                                <p>
                                    (representing the National Federation of the Blind &ndash; NFB)
                                </p>
                                <p>
                                    <em>Statement forthcoming</em>
                                </p>
                                <p>
                                    <strong>Deborah Armstrong (Milpitas)</strong>, <a href="mailto:debee@jfcl.com">email</a>
                                </p>
                                <p>
                                    I use Bookshare, Learning Ally, iBooks and the Audible and Kindle apps regularly. I'm also an Overdrive user with public library cards for every library I qualify for. Because I know what the experience of using books from such a diversity of services is like, I believe I can bring a perspective to your committee that's different from the average senior. I want to use my knowledge of these other services to help keep the quality of your services high.
                                </p>
                                <p>
                                    I am a long-time patron who believes in reading. I am the alternate media specialist at De Anza Community College in Cupertino, where I serve approximately 80 print-impaired students each quarter. I feel that I understand the needs of a large cross-section of Californians with print disabilities, and though I don't think the library's services need much improvement, I want to be part of its future.
                                </p>-->
                                <!--<p>
                                    Hello Everyone,
                                </p>
                                <p>
                                    I'm available to you by email for any library concerns that I can assist you with. I am a long-time library patron due to visual impairment. The library has been integral to my achieving educational goals, expanding my view of the world we live in, and just simply hours of pleasure. For me, reading is a life-long love affair.
                                </p>
                                <p>
                                    My purpose on this committee is to make our library the best it can be and to reach as many people as I can, letting them know what a wonderful resource we have and just how easy it is to be a part of this resource.
                                </p>
                                <!--<p>
                                    <strong>Elena Thomason (Citrus Heights)</strong>, <a href="mailto:Elenathomason1@gmail.com">email</a>
                                </p>
                                <p>
                                    I love books! I have received BTBL services for over 50 years and know quite a bit about NLS. I hope to bring to the Council my expertise in Braille production. I also do volunteer work for my local chapter of the California Council of the Blind.
                                </p>-->
                                <p>
                                    <strong>Karen Parsegian (Sacramento)</strong>, <a href="mailto:Karen.parsegian@gmail.com">email</a>
                                </p>
                                <p>
                                    It is an honor to serve on the Inaugural Advisory committee for the California BTBL and give back a small fraction of time and effort to an organization I have enjoyed immensely since going totally and unexpectedly blind in 2002.
                                </p>
                                <p>
                                    Part of my discovery process to resume a competent, independent and full throttle life has included being a Vocational Rehabilitation client, graduating from the Colorado Center for the Blind NFB in 2003 and feeling the amazing thrill of being hired (then furloughed shortly thereafter with 4 others in my unit) as a California State employee in 2008.
                                </p>
                                <p>
                                    Perhaps the most rewarding pieces of my reinvented life is having the opportunity to speak to schools and groups around the country about disability awareness and to volunteer for two amazing organizations serving youth and now the BUAC.
                                </p>
                                <p>
                                    My most essential travel gear when I'm on the road is my talking books collection. BARD and the miniaturization of technology have greatly enhanced my travel experience. I remain convinced that the NLS BTBL program is primarily responsible for getting me through the challenging transition of losing my sight by keeping my mind active and interested. The happy surprise of finding new selections in my daily mail is a bonus.
                                </p>
                                <p>
                                    I welcome the opportunity to represent adult readers who have come to their visual impairment after having an active career and who wish to stay current in both business and popular culture along with a wide variety of recreational reading.
                                </p>
                                <p>
                                    <strong>Roslyn McCoy (Mount Shasta)</strong>, <a href="mailto:r.maccoy@gmail.com">email</a>
                                </p>
                                <p>
                                    In high school I began learning braille as a last resort due to my profound form of dyslexia.
                                </p>
                                <p>
                                    Within a few months we could see I was gifted. Within 6 months my ability to read braille far exceeded my ability to read print. The Library of Congress suddenly became my best friend, and watching for the mailman lugging boxes of braille books and records was my new joy in life. I spent many hours listening to books, but experienced many difficulties exercising choice of what books I received and when.
                                </p>
                                <p>
                                    Now in the last years, I could hear about a book and many times, I could immediately download the book off my computer. What a joy I could choose a book and not have to wait weeks or months to read it. I have already downloaded an app for my iPad. I am so joyful that I can put the book in my pocket, considering I began with records! Baby we have come a long ways!
                                </p>
                                <p>
                                    I am grateful to the Library of Congress to extend services to me, and someone had to stand up and advocate for the rewriting of regulations on my behalf. If there's some way I can return the gifts that I have been given I would be honored to be of service.
                                </p>
                                <!--<p>
                                    <strong>Claire LeDonne</strong>, <a href="mailto:Claire.ledonne@earthlink.net">email</a>
                                </p>
                                <p>
                                    <em>Statement forthcoming</em>
                                </p>
                                <!--<p>
                                    <strong>Thomas Mason (Sacramento)</strong>, <a href="mailto:tzmason@sbcglobal.net">email</a>
                                </p>
                                <p>
                                    (representing the Blinded Veterans Association &ndash; BVA)
                                </p>
                                <p>
                                    <em>Statement forthcoming</em>
                                </p>-->

                                <p>
                                    <strong>Janet Snow (Redding)</strong>, <a href="mailto:janetsnow53@gmail.com">email</a>
                                </p>
                                <p>
                                    (representing the National Federation of the Blind &ndash; NFB)
                                </p>
                                <p>
                                    The Braille and Talking Book Library has been a part of my life since I was 12 years old. Starting out reading books in Braille and on talking book records, it has been a thrilling experience to observe and utilize many of the services that BTBL has made available to its users through the years. From having to pack a Braille book in my suit case when going on vacation with family, then being able to carry a phone in my purse with my favorite book selection downloaded and ready for me to read, has been a joy to behold. Even the way we read braille has changed by using a braille display. And with the development of new and innovative ideas in assistive technology, the possibilities seem limitless.
                                </p>
                                <p>
                                    I am grateful to have a small part to play in whatever lies ahead for the Braille and Talking Book Library. I am willing to listen, learn, and help in the advancement and fulfillment of plans and goals.
                                </p>
                                <p>
                                    <strong>Richard Rueda (Sacramento)</strong>, <a href="mailto:richr_&#64;hotmail.com">email</a>
                                </p>
                                <p>
                                    It's an honor to serve on the Braille and Talking Book User Advisory Council. I have spent the past two decades working in the field of Rehabilitation Counseling and specifically working with blind and visually impaired youth, their families and the community. Presently, I work as a Consultant with the Society for the Blind in Sacramento assisting in the development of a first-rate employment readiness program for teens and adults who are blind or low vision.
                                </p>
                                <p>
                                    Literacy in all forms is essential and vital to our health and well-being. Advocating for literature accessibility in all formats from Braille, to electronic text and all formats in-between is something that is close to me. I will continue to bring these passions to the Council and further its mission through community engagements and beyond.
                                </p>
                                <p>
                                    <strong>Lenore Presley (Sacramento)</strong>, <a href="mailto:lenorepresley@gmail.com">email</a>
                                </p>
                                <p>
                                    (Representing the DeafBlind community)
                                </p>
                                <p>
                                    I've been a bookworm since I was a child and thoroughly enjoy reading. I was born Deaf and developed retinitis pigmentosa, an eye disorder that results in progressive blindness, as a result of Usher's syndrome. There is only a very small population of people with a combination of hearing and vision issues in our country and in the state of California.
                                </p>
                                <p>
                                    I learned Braille later in life and being able to access the world has enabled me to participate in and serve the DeafBlind community at the national and state level since 1997. Through my experience in the DeafBlind community I have observed how under-served the DeafBlind community has been in all areas of public access including employment, vocational rehabilitation, education, and independent living. This includes accessing the Braille and Talking Book Library.
                                </p>
                                <p>
                                    I am currently on the Northern California Association of the DeafBlind (NCADB) board of directors. In my capacity as a board member, I invited Mike Marlin and MaryJane Kayes to give a presentation to the DeafBlind members of NCADB at a Sacramento NCADB social in March 2016. I did this as an attempt to bring awareness to the DeafBlind community the availability of NLS and BTBL. I wanted to promote awareness because, as a patron of BTBL, I have enjoyed access to the world of literature as part of enhancing the quality of my independent living. I wanted my fellow DeafBlind members of the community to experience the same quality of life.
                                </p>
                                <p>
                                    Mike was gracious to encourage me to join the BUAC as a representative of the DeafBlid community. It is truly an honor to be selected to the BUAC knowing that my contributions to and activities on the BUAC will be greatly valued and appreciated. As a member of the BUAC, it is my goal to advocate for the greater growth of Braille books because individuals with severe to profound hearing loss may not find digital books to be the best medium to access books and magazines. There are less Braille formatted titles in the NLS collection, and I believe it would benefit to add text to digital titles so that everybody can have faster access to newly available materials, especially new bestsellers. To me, everybody with a print disability, including DeafBlind persons, should have EQUAL access to all print media, so it is necessary to ensure faster access to new materials by adding text to digital books. Bookshare.org has been very successful in doing this and I am very confident that NLS could easily achieve the same.
                                </p>
                                <p>
                                    Happy reading in an accessible way!
                                </p>
                                <!--<p>
                                    <strong>Willis Lyon (Monterey)</strong>, <a href="mailto:willisylyon@gmail.com">email</a>
                                </p>
                                <p>
                                    My name is Willis Lyon and I live in Monterey, where I practiced dentistry for 29 years. Prior to that I was in the U.S. Air Force where I served as a Navigator for six years. Reading has been an important part of my life. Whether for escape, entertainment enlightenment, a book has been my constant companion. I have a large wonderful family who are very supportive but they couldn't replace the loss of reading when age-related macular degeneration took away my joy of reading. Talking books and downloading books have restored the light that reading sheds on my life. The VA Blind and Low Vision Clinic along with talking books have made it possible for me to keep the pall of depression at bay. I am honored to represent Veterans and the central coast on the Advisory Council.
                                </p>-->
                                <!--<p>
                                    <strong>Lynette Kersey</strong>, <a href="mailto:lynette.c.kersey@gmail.com">email</a>
                                </p>
                                <p>
                                    I appreciate the privilege to serve on this council.
                                </p>
                                <p>
                                    I have been receiving braille and talking books through BTBL since 1969. That is where my love of books began. I'm an advocate for braille for the visually impaired and hope to be able to pass on my love of books as I assist in reaching out to those who would benefit from the services that are provided.
                                </p>-->
                                <p>
                                    <strong>Ex Officio:</strong>
                                </p>
                                <p>
                                    Mike Marlin, BTBL Director, <a href="mailto:mike.marlin@library.ca.gov">email</a>
                                </p>
                                <p>
                                    Rebecca Wendt, SLS Bureau Chief, <a href="mailto:rebecca.wendt@library.ca.gov">email</a>
                                </p>
                                <p>
                                    Greg Lucas, State Librarian of California, <a href="mailto:greg.lucas@library.ca.gov">email</a>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading5'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse5' aria-expanded='false' aria-controls='collapse5'>Meeting Minutes and Agendas</a>
                            </h3>
                        </div>
                        <div id='collapse5' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading5'>
                            <div class='panel-body'>
                                <h3>2017</h3>

                                <p><strong>July 15, 2017</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda7-15-17.docx">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda7-15-17.pdf" target="_blank">PDF</a>)</li>
                                    <!--<li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes7-15-17.docx">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes7-15-17.pdf" target="_blank">PDF</a>)</li>-->
                                </ul>
                                <p><strong>March 4, 2017</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda3-4-17.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda3-4-17.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes3-4-17.docx">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes3-4-17.pdf" target="_blank">PDF</a>)</li>
                                </ul>

                                <h3>2016</h3>
                                <p><strong>December 3, 2016</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda12-3-16.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda12-3-16.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes12-3-16.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes12-3-16.pdf" target="_blank">PDF</a>)</li>
                                </ul>
                                <p><strong>July 30, 2016</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda7-30-16.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda7-30-16.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes7-30-16.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes7-30-16.pdf" target="_blank">PDF</a>)</li>
                                </ul>
                                <p><strong>April 30, 2016</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda4-30-16.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda4-30-16.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes4-30-16.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes4-30-16.pdf" target="_blank">PDF</a>)</li>
                                </ul>
                                <p><strong>January 26, 2016</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda1-26-16.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda1-26-16.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes1-26-16.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes1-26-16.pdf" target="_blank">PDF</a>)</li>
                                </ul>

                                <h3>2015</h3>
                                <p><strong>December 5, 2015</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda12-5-15.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda12-5-15.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes12-5-15.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes12-5-15.pdf" target="_blank">PDF</a>)</li>
                                </ul>
                                <p><strong>August 29, 2015</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda8-29-15.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda8-29-15.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes8-29-15.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes8-29-15.pdf" target="_blank">PDF</a>)</li>
                                </ul>
                                <p><strong>May 29, 2015</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda5-29-15.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda5-29-15.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes5-29-15.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes5-29-15.pdf" target="_blank">PDF</a>)</li>
                                </ul>
                                <p><strong>February 7, 2015</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda2-7-15.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda2-7-15.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes2-7-15.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes2-7-15.pdf" target="_blank">PDF</a>)</li>
                                </ul>


                                <h3>2014</h3>
                                <p><strong>September 6, 2014</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda9-6-14.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda9-6-14.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes9-6-14.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes9-6-14.pdf" target="_blank">PDF</a>)</li>
                                </ul>
                                <p><strong>May 19, 2014</strong></p>
                                <ul>
                                    <li>Agenda (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda5-19-14.docx">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACAgenda5-19-14.pdf" target="_blank">PDF</a>)</li>
                                    <li>Minutes (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes5-9-14.doc">WORD</a>), (<a href="~/Content/StateTemplate/pdf/btbl/council/BUACMinutes5-9-14.pdf" target="_blank">PDF</a>)</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </main>
</div>