@{
    ViewBag.Title = "CSL - BTBL - About BARD (Braille & Audio Reading Download)";
    ViewBag.PageTitle = "About BARD (Braille & Audio Reading Download)";
    ViewBag.Author = "Ryan Salcido";
    ViewBag.Description = "BARD is a free website where you can download audio and electronic braille books, magazines, and more! BARD Benefits Equipment Needed Getting Started BARD Express BARD Tutorials BARD Mobile Tutorials BARD signup BARD Help BARD instructions BARD FAQ Tips How to Download BARD User Guide";
    ViewBag.Keywords = "BARD, BTBL, Braille, Audio, Reading";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/btbl">Braille and Talking Books</a></li>
                    <li>Bard</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <p>
                    BARD is a free website where you can download audio and electronic braille books, magazines, and more!
                </p>

                <div class="group">
                    <div class="half">
                        <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">BARD Benefits</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ul class="list-overstated">
                                            <li>Absolutely free</li>
                                            <li>No limit on number of downloads</li>
                                            <li>Downloads do not need to be returned</li>
                                            <li>It's OK to have a friend or family member help you download</li>
                                            <li>Available 24 hours a day, 7 days a week</li>
                                            <li>You can still get books by mail</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="half">
                        <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Equipment Needed</a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <p>
                                            1. Access to a computer with high-speed internet connection and a valid email address.
                                        </p>
                                        <p>
                                            2. You cannot listen to audio downloads directly from your computer. To listen to audio downloads you need
                                        </p>
                                        <p class="list-unstyled m-l-md">
                                            a. Library's loaned Digital Book Machine – OR – NLS-compatible <a href="/btbl/purchase-player/">Third Party Player</a>
                                            <br />
                                            b. Standard USB flash (thumb) drive – OR – <a href="/btbl/purchase-book/">Blank book cartridge and cable</a>
                                        </p>
                                        <p>
                                            3. To use braille downloads you need
                                        </p>
                                        <p class="list-unstyled m-l-md">
                                            a. Braille display, braille-aware notetaker, or braille embosser (see <a href="/btbl/purchase-player/">Third Party Player</a>)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="group list-unstyled p-t-md">
                    <div class="half">
                        <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Getting Started</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>
                                            1. To download books, you must first <a href="https://nlsbard.loc.gov/CA1A/ApplicationInstructions.html">Sign-Up for BARD</a>
                                        </p>
                                        <p>
                                            2. Once you have submitted your completed application, you will receive an email with further instructions within the next few business days.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="half">
                        <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">BARD Express</a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <p>
                                            BARD Express is designed to assist users who have personal computers which run on Windows operating systems (XP, Vista, 7, 8, 8.1, and 10) to download books.
                                            The goal of the application is to simplify logging in, searching, browsing, downloading, and transferring audio reading material from the BARD website to a cartridge or USB drive.
                                            The BARD Express application and more information about it is now available on your BARD Main Page under Additional Links, then BARD Express.
                                        </p>
                                        <p>
                                            NLS has also produced a set of tutorial videos, called the BARD Express How-To Series which are linked from the Frequently Asked Questions pages found in the BARD Express Documentation link.
                                            (BARD Express is *NOT* a replacement for the BARD Mobile app which is meant for mobile devices like smartphones and tablets.)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="group list-unstyled p-t-md">
                    <div class="half">
                        <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">BARD Tutorials</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>
                                            *Some tutorials have been compiled by other libraries and include customized instructions or references.
                                            These tutorials are meant to be general BARD guides and not step-by-step instructions for our library.
                                        </p>

                                        <ul class="list-overstated">
                                            <li>From NLS: <a href="https://nlsbard.loc.gov/NLS/instructions.html">BARD Instructions</a> (HTML)</li>
                                            <li>From NLS: <a href="https://nlsbard.loc.gov/NLS/FAQ.html">BARD FAQ</a> (HTML)</li>
                                            <li>From North Carolina: <a href="https://statelibrary.ncdcr.gov/lbph/read/download/tips">Digital Book Downloading Tips</a>  (HTML, RTF, BRF)</li>
                                            <li>From North Carolina: <a href="https://statelibrary.ncdcr.gov/lbph/allaboutBARD.mp3">All About BARD</a> (MP3)</li>
                                            <li>From Minnesota: <a href="http://education.state.mn.us/MDE/index.html">How to Download and Play a Talking Book from MN BARD using Windows XP</a> (PDF)</li>
                                            <li>From Oregon: <a href="http://www.oregon.gov/osl/TalkingBooks/Pages/bard_info.aspx">Talking Book and Braille Services BARD Information</a> (HTML)</li>
                                            <li>From Oregon: <a href="http://www.oregon.gov/osl/TalkingBooks/Pages/BARD-Download-Instructions.aspx">BARD Download Instructions</a> (HTML)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="half">
                        <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">BARD Mobile Tutorials</a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <ul class="list-overstated">
                                            <li>From NLS: <a href="https://nlsbard.loc.gov/apidocs/BARDMobile.userguide.iOS.current.html">BARD Mobile iOS Application User Guide</a> (HTML)</li>
                                            <li>From NLS: <a href="https://www.youtube.com/playlist?list=PLpAGnumt6iV7Aap_-C8b-8pR_HCxnh_Ls">BARD Mobile iOS 'How-To Series'</a> (Youtube)</li>
                                            <li>From North Carolina: <a href="https://statelibrary.ncdcr.gov/lbph/read/download/bard-mobile/get-started">BARD Mobile iOS</a>  (HTML)</li>
                                            <li>From NLS: <a href="https://nlsbard.loc.gov/apidocs/android/v1.0/toc.html">BARD Mobile Android Application User Guide</a> (HTML)</li>
                                            <li>From NLS: <a href="https://www.youtube.com/watch?v=w3rn1g0s-XM&list=PLpAGnumt6iV7Aap_-C8b-8pR_HCxnh_Ls">BARD Mobile Android 'How-To Series'</a> (YouTube)</li>
                                            <li>From SAS Institute Inc: <a href="http://support.sas.com/misc/accessibility/education/ios/quickref.html">Quick reference guide for voiceover on iOS</a> (HTML)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>