@{
    ViewBag.Title = "CSL - BTBL Offers Free Subscription to Bookshare.org - for patrons of California NLS libraries";
    ViewBag.PageTitle = "Bookshare Pilot Project to Launch for California NLS Network Libraries on September 1, 2017";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "IMLS grant allows California NLS libraries to offer free subscription to Bookshare.org to patrons. Limited grant seats available, contact BTBL for your free subscription. Bookshare.org offers electronic braille and text-to-speech (synthetic voice) audio books for people with print disabilities, including fiction and nonfiction of all types, and scholarly works. Grant begins September 1, 2017 and lasts through August 31, 2018. The books are available in electronic braille files that can be read on refreshable braille displays, text-to-speech (TTS) DAISY files, and TTS MP3 audio files that can be played on the NLS Digital Talking Book Machine in addition to several third party commercial players. There is a free online DAISY player software to listen to DAISY TTS files on one’s computer as well.";
    ViewBag.Keywords = "Bookshare, Free subscription, BTBL";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/btbl">Braille and Talking Books</a></li>
                    <li>Book Share</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <div class="group">
                    <p>
                        Thanks to a grant from the
                        <a href="https://www.imls.gov/">Institute of Museum and Library Services</a> (IMLS), California NLS network libraries in
                        <a href="/btbl/">Sacramento</a>,
                        <a href="http://www.brailleinstitute.org/library.html">Los Angeles</a>,
                        <a href="http://www.fresnolibrary.org/tblb/">Fresno</a>, and
                        <a href="https://sfpl.org/?pg=0200002301">San Francisco</a> will be rolling out a one year pilot project for <a href="https://www.bookshare.org/cms/">Bookshare.org</a>, a nonprofit service of downloadable electronic braille and text-to-speech (synthetic voice) audio books with a current archive of half a million titles in all genres.
                        Although some titles overlap with the NLS collection of roughly 100,000 titles, <a href="https://www.bookshare.org/cms/">Bookshare</a> exponentially increases the number of books for people with print disabilities, including fiction and nonfiction of all types, and scholarly works.
                        We have secured 325 total seats or licenses for eligible Californians, and we will begin offering seats to eligible users beginning September 1, 2017 and lasting through August 31, 2018.
                        If the program is successful, we hope to extend the grant for a second year and possibly increase the number of seat licenses.
                    </p>
                    <p>
                        If you are an enrolled student in primary, secondary, or post-secondary (college or graduate) school, you are eligible for a free Bookshare membership under a U.S. Department of Education grant and can indicate your school when applying for an account directly via
                        <a href="http://www.bookshare.org/">Bookshare.org</a>.
                    </p>
                    <p>
                        Because Bookshare is an online, download service, patrons who are comfortable and experienced with computers and file management, including <a href="/btbl/bard/">BARD</a> subscribers or current Bookshare subscribers with limited resources when their accounts are about to expire, are most encouraged to partake of this ordinarily fee-based service.
                        The books are available in electronic braille files that can be read on refreshable braille displays, text-to-speech (TTS) DAISY files, and TTS MP3 audio files that can be played on the NLS Digital Talking Book Machine in addition to several
                        <a href="/btbl/purchase-player/">third party commercial players</a>.
                        There is a free online DAISY player software to listen to DAISY TTS files on one's computer as well.
                        Please visit <a href="http://www.bookshare.org/">Bookshare.org</a> to read more about this great service.
                    </p>
                    <p>
                        <strong>
                            If you would like to add your name to a list of interested BTBL patrons, please call
                            <a href="tel:+18009525666">800-952-5666</a>
                            or send an email to
                        </strong> <a href="mailto:btbl@library.ca.gov">btbl@library.ca.gov</a>.
                        We will be collecting names of interested users and contacting folks beginning September 1, 2017.
                        We will be accepting new participants throughout the 12 month grant timeline until all seats are filled.
                        The seats will be divided with approximately 140 seat licenses available for BTBL patrons.
                    </p>
                    <p>
                        Participants will be required to take a brief online survey prior to receiving a license/subscription code to begin Bookshare service.
                        Feel free to <a href="/btbl/contact/">contact us</a> with any questions.
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>

