@{
    ViewBag.Title = "CSL - Library Services for People with Print Disabilities - Assistive Technology, Books, Magazines, Newspapers";
    ViewBag.PageTitle = "Library Services for People with Print Disabilities";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Portal to connect Californians with Print Disabilities to Library Services and assistive technology throughout the state. Talking (audio) and braille books by mail, downloadable books and magazines via desktop or mobile app, descriptive videos, and audio playback equipment are available for loan – FREE OF CHARGE – to Californians unable to read conventional print due to a visual or physical disability. Accessible computers with adaptive hardware and assistive software are available for use at all of California's NLS Network Libraries. Telephonic Reader Programs allow persons with visual impairments to use their telephone touch tone key pads to listen to local magazines, weekly newspapers, TV Guide listings, archived radio shows, bus schedules, newsletters and shopping advertisements. low vision blind blindness visual disability visual impairment physical disability print disability dyslexia";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">

        <div class="section">
            <div class="container">

                <ol class="breadcrumb ">
                    <li><a href="/">Home</a></li>
                    <li><a href="/services/">Services</a></li>
                    <li><a href="/BTBL/">Braille and Talking Books</a></li>
                    <li class="active">Print Disabilities</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>


                <img src="~/Content/StateTemplate/images/btbl/printdisabilities/disable.jpg" class="insetImage" title="Library patron using braille and talking books" alt="Library patron using braille and talking books">

                <h3>NLS Talking (Audio) and Braille Books</h3>
                <p>
                    Talking (audio) and braille books by mail, downloadable books and magazines via desktop or mobile app, descriptive videos, and audio playback equipment are available for loan – <strong>FREE OF CHARGE</strong> – to Californians unable to read conventional print due to a visual or physical disability.
                </p>


                <div class="panel panel-standout">
                    <div class="panel-heading">
                        <h2><span class="ca-gov-icon-info"></span> Find your county</h2>

                    </div>
                    <div class="panel-body">
                        <p>
                            Please select your county of residence from the list below to be directed to the appropriate California National Library Service for the Blind and Physically Handicapped (NLS) network library.
                        </p>

                        <script language="JavaScript">
                            //checkContains(choice);

                            var c43 = Array("Alameda", "Alpine", "Amador", "Butte", "Calaveras", "Colusa", "Contra Costa", "Del Norte", "El Dorado", "Glenn", "Humboldt", "Inyo", "Lake", "Lassen", "Marin", "Mariposa", "Mendocino", "Merced", "Modoc", "Mono", "Monterey", "Napa", "Nevada", "Placer", "Plumas", "Sacramento", "San Benito", "San Joaquin", "San Mateo", "Santa Clara", "Santa Cruz", "Shasta", "Sierra", "Siskiyou", "Solano", "Sonoma", "Stanislaus", "Sutter", "Tehama", "Trinity", "Tuolumne", "Yolo", "Yuba");
                            var c4 = Array("Fresno", "Kings", "Madera", "Tulare");
                            var c1 = Array("San Francisco");
                            var c10 = Array("Buena Vista", "Imperial", "Kern", "Los Angeles", "Orange", "Riverside", "San Bernadino", "San Diego", "Santa Barbara", "Ventura");

                            function myselect(obj) {
                                $(".county_hide").hide();
                                var findValue = obj.value;
                                if (contains(c43, findValue))
                                    $("#c43").show();
                                if (contains(c4, findValue))
                                    $("#c4").show();
                                if (contains(c1, findValue))
                                    $("#c1").show();
                                if (contains(c10, findValue))
                                    $("#c10").show();
                            }

                            // contains function
                            function contains(arr, findValue) {
                                var i = arr.length;

                                while (i--) {
                                    if (arr[i] === findValue) return true;
                                }
                                return false;
                            }


                        </script>

                        <form name="choose-county" id="select_c" action="/" method="post">

                            <select name="county" id="county_choice" title="Choose your county" onchange="myselect(this)">
                                <option selected="selected">Select your county...</option>
                                <option value="Alameda">Alameda</option>
                                <option value="Alpine">Alpine</option>
                                <option value="Amador">Amador</option>
                                <option value="Buena Vista">Buena Vista</option>
                                <option value="Butte">Butte</option>
                                <option value="Calaveras">Calaveras</option>
                                <option value="Colusa">Colusa</option>
                                <option value="Contra Costa">Contra Costa</option>
                                <option value="Del Norte">Del Norte</option>
                                <option value="El Dorado">El Dorado</option>
                                <option value="Fresno">Fresno</option>
                                <option value="Glenn">Glenn</option>
                                <option value="Humboldt">Humboldt</option>
                                <option value="Imperial">Imperial</option>
                                <option value="Inyo">Inyo</option>
                                <option value="Kern">Kern</option>
                                <option value="Kings">Kings</option>
                                <option value="Lake">Lake</option>
                                <option value="Lassen">Lassen</option>
                                <option value="Los Angeles">Los Angeles</option>
                                <option value="Madera">Madera</option>
                                <option value="Marin">Marin</option>
                                <option value="Mariposa">Mariposa</option>
                                <option value="Mendocino">Mendocino</option>
                                <option value="Merced">Merced</option>
                                <option value="Modoc">Modoc</option>
                                <option value="Mono">Mono</option>
                                <option value="Monterey">Monterey</option>
                                <option value="Napa">Napa</option>
                                <option value="Nevada">Nevada</option>
                                <option value="Orange">Orange</option>
                                <option value="Placer">Placer</option>
                                <option value="Plumas">Plumas</option>
                                <option value="Riverside">Riverside</option>
                                <option value="Sacramento">Sacramento</option>
                                <option value="San Benito">San Benito</option>
                                <option value="San Bernadino">San Bernardino</option>
                                <option value="San Diego">San Diego</option>
                                <option value="San Francisco">San Francisco</option>
                                <option value="San Joaquin">San Joaquin</option>
                                <option value="San Mateo">San Mateo</option>
                                <option value="Santa Barbara">Santa Barbara</option>
                                <option value="Santa Clara">Santa Clara</option>
                                <option value="Santa Cruz">Santa Cruz</option>
                                <option value="Shasta">Shasta</option>
                                <option value="Sierra">Sierra</option>
                                <option value="Siskiyou">Siskiyou</option>
                                <option value="Solano">Solano</option>
                                <option value="Sonoma">Sonoma</option>
                                <option value="Stanislaus">Stanislaus</option>
                                <option value="Sutter">Sutter</option>
                                <option value="Tehama">Tehama</option>
                                <option value="Trinity">Trinity</option>
                                <option value="Tulare">Tulare</option>
                                <option value="Tuolumne">Tuolumne</option>
                                <option value="Ventura">Ventura</option>
                                <option value="Yolo">Yolo</option>
                                <option value="Yuba">Yuba</option>
                            </select>

                            <p class="submit_btn" onclick="clickChoice('Choose_choice')"></p>

                        </form>

                        <div id="c43" class="county_hide" style="display:none;">
                            <p><span class="ca-gov-icon-info-line"></span> Contact the <a href="/btbl">California Braille and Talking Book Library</a></p>
                        </div>

                        <div id="c1" class="county_hide" style="display:none;">
                            <p>
                                <span class="ca-gov-icon-info-line"></span> Contact <a href="http://sfpl.org/index.php?pg=0200002301" target="_blank">San Francisco Library for the Blind and Print Disabled</a>
                            </p>
                        </div>

                        <div id="c4" class="county_hide" style="display:none;">
                            <p><span class="ca-gov-icon-info-line"></span> Contact <a href="http://www.fresnolibrary.org/tblb/" target="_blank">Fresno County Public Talking Book Library for the Blind</a></p>
                        </div>

                        <div id="c10" class="county_hide" style="display:none;">
                            <p><span class="ca-gov-icon-info-line"></span> Contact <a href="http://www.brailleinstitute.org/library" target="_blank">Braille Institute Library</a></p>
                        </div>
                    </div>
                </div>


                <h3>National Federation for the Blind NEWSLINE ®</h3>

                <p>
                    By dialing local or in some cases a toll-free number, over 300 national and local (including 19 California) newspapers are now available over any touch-tone telephone via synthetic speech. Individuals who are blind or visually impaired can become eligible for this free service by filling out a simple application. Please contact the library in your area from the above listing.
                </p>

                <h3>
                    Telephonic Reader Programs – available via Greater Sacramento and Los Angeles areas.
                </h3>

                <p>
                    Telephonic Reader Programs allow persons with visual impairments to use their telephone touch tone key pads to listen to local magazines, weekly newspapers, TV Guide listings, archived radio shows, bus schedules, newsletters and shopping advertisements. In Sacramento please contact the <a href="http://www.societyfortheblind.org/" target="_blank">Society for the Blind</a>. In Los Angeles contact the <a href="http://www.braillelibrary.org/" target="_blank">Braille Institute Library</a>.
                </p>

                <h3>Assistive Technology</h3>

                <p>
                    Accessible computers are available for use at all of California's NLS Network Libraries. Please contact each library for details about which adaptive hardware and assistive software is available. Computers may be equipped with:
                </p>

                <p><strong><span class="ca-gov-icon-menu-toggle-closed"></span> Screen reader software:</strong></p>

                <ul>
                    <li>Jaws for Windows</li>
                    <li>WindowEyes</li>
                    <li>NVDA</li>
                </ul>

                <p><strong><span class="ca-gov-icon-menu-toggle-closed"></span> Screen magnification software:</strong></p>

                <ul>
                    <li>ZoomText</li>
                    <li>Magic</li>
                </ul>

                <p>
                    <strong><span class="ca-gov-icon-menu-toggle-closed"></span> Optical character recognition (OCR) software for use with flatbed scanners:</strong>
                </p>

                <ul>
                    <li>Open Book</li>
                    <li>Kurzweil</li>
                </ul>
                <p>
                    <strong><span class="ca-gov-icon-menu-toggle-closed"></span> Braille translation software that allows a user to emboss documents <br>using an attached or networked braille embosser:</strong>
                </p>

                <ul>
                    <li>Duxbury</li>
                </ul>

                <p>
                    Closed-Circuit Magnifiers (CCTVs), various low vision aids, and stand-alone reading machines may also be available for use in these libraries. Please visit or contact any of the following libraries for information about on-site assistive technology.
                </p>

                <ul>
                    <li><a href="/BTBL/">The California Braille and Talking Book Library in Sacramento</a></li>
                    <li><a href="http://www.fresnolibrary.org/tblb/" target="_blank">The Fresno County Public Talking Book Library for the Blind</a></li>
                    <li><a href="http://sfpl.org/index.php?pg=0200002301" target="_blank">The San Francisco Public Library for the Blind and Print Disabled</a></li>
                    <li><a href="http://www.brailleinstitute.org/library" target="_blank">The Braille Institute Library in Los Angeles</a></li>
                    <li>For information about the Library of Congress National Library Service<br> for the Blind and Physically Handicapped visit <a href="http://www.loc.gov/nls" target="_blank">http://www.loc.gov/nls</a></li>
                </ul>

            </div>

        </div>

    </main>
</div>
