@{
    ViewBag.Title = "CSL - BTBL - Purchasing a Third-Party NLS-Compatible Player";
    ViewBag.PageTitle = "Purchasing a Third-Party NLS-Compatible Player";
    ViewBag.Author = "Ryan Salcido";
    ViewBag.Description = "Details equipment that can play BTBL books other than the library-loaned equipment. All equipment is available for private purchase from third party vendors. Apple Android Kindle Mobile Devices. Digital Audiobook Players list.";
    ViewBag.Keywords = "BTBL, Third-Party, NLS, Compatible Player";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/btbl">Braille and Talking Books</a></li>
                    <li>Purchase a Player</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <div>
                    <h3  class="orange list-unstyled p-t-md">Apple and Android Devices</h3>

                    <p>
                        NLS audio and braille books can be played using <a href="https://www.apple.com/">Apple</a> devices with iOS 4.3 or later (iPhone, iPad, or iPod touch). 
                        These devices use the <a href="https://itunes.apple.com/us/app/bard-mobile/id705229586">BARD Mobile iOS app</a> to download and read books on the device.
                    </p>

                    <p>
                        NLS audio books can be played using <a href="https://www.android.com/intl/en_us/">Android</a> devices with Android OS 4.1 or later (smart phones, tablets, Kindle Fire).
                        These devices use the <a href="https://play.google.com/store/apps/details?id=gov.loc.nls.dtb">BARD Mobile Android app</a> to download and read books on the device. 
                        Second-generation Kindle Fire devices can download the BARD Mobile Androip app from the <a href="https://www.amazon.com/gp/product/B016760320?keywords=bard%20mobile%20app&qid=1444139812&ref_=sr_1_2&s=mobile-apps&sr=1-2">Amazon Appstore</a>.
                        BARD Mobile will not work on Kindle e-book readers, only on the Kindle Fire tablets (Fire, Fire Phone, Fire HD 10, Fire HD 8, Fire HD 6, Fire HD 7, Fire HDX 8.9, Fire HDX 8.9 WAN, etc.)
                    </p>
                </div>

                <div>
                    <h3 class="orange list-unstyled p-t-md">Other Third-Party Players</h3>

                    <p>
                        Other commercial devices available for purchase from Third-Party vendors are also compatible for playing NLS downloadable audio and braille books. 
                        A complete list of devices with features, prices, and vendor contact information is located at the NLS website for 
                        <a href="https://www.loc.gov/nls/enrollment-equipment/equipment-needed-for-nls-materials/digital-audiobook-players/#_Toc386612877">Digital Audiobook Players</a>.
                    </p>

                    <p>
                        Please be aware that in providing this information to our patrons we are not endorsing or recommending these products or suppliers. 
                        We will provide similar information on other devices or suppliers as we become aware of them.
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>

