

@{
    ViewBag.Title = "San Francisco Bay Area Genealogy Calendar";
    ViewBag.PageTitle = "CSL - San Francisco Bay Area Genealogy Calendar";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Sutro Library is the site to find all of the Bay Area's genealogy and family history events in one place, from Napa and Fairfield to Antioch and San Jose.";
}
<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

</head>
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Collections/">Our Collections</a></li>
                    <li><a href="/sutro/">Sutro</a></li>
                    <li><a href="/sutro/genealogy/">Genealogy</a></li>

                    <li class="active">
                        Bay Area Genealogy Calendar
                    </li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <p>
                    Welcome to the new home of the San Francisco Bay Area Genealogy Calendar! Every month, a list of genealogy and family history events occurring within a 40-mile radius of San Francisco will be posted. The calendar was created and originally hosted by Stephen Danko on <a href="http://stephendanko.com/blog/" target="_blank">Steve's Genealogy Blog</a> and then moved to the California Genealogy Society and Library. Now it has made its way back to San Francisco, and Sutro Library is excited to be not only a physical hub of resources but also a virtual hub for the community.
                </p>
                <p >
                    With the transition, there are a few minor changes. The calendar will cover events within a 40 mile radius (instead of 75 miles), which still includes Napa, Fairfield, Antioch, and San Jose. Please email <a href="mailto:sutro@library.ca.gov">sutro@library.ca.gov</a> the following information regarding your event: title, date, time, cost, location, and a brief description (1-3 sentences). If possible, please send a Word doc with all events for the year (or as many as you have planned). If events are planned month-to-month, then we ask that they are submitted by the 25th of each month. We want to display three months' worth of events: past, current, and future.
                </p>
                <p>
                    Let us know if you have any questions by <a href="mailto:sutro@library.ca.gov">emailing us</a> or calling us at <a href="tel:+14154696100">(415) 469-6100</a>.
                </p>

                <div class="section">
                    <div class="panel panel-standout highlight">
                        <div class="panel-heading">
                            <h2><span class="ca-gov-icon-calendar"></span> Calendar</h2>

                        </div>
                        <div class="panel-body">
                            <div class="location contact">
                                <span class="ca-gov-icon-calendar"></span>

                                <div class="contact">
                                    <p>Sponsored by Sonoma County Genealogy Society</p>
                                    <h3>
                                        <em>"The Big Picture: Sutro Library's Genealogy Resources" —</em> <span style="color:red;"> CANCELLED</span>
                                    </h3>
                                    <br />
                                    <p>
                                        The California State Library's newest librarian, Dvorah Lewis, will address the common misconception of library obsolescence and highlight how Sutro Library remains relevant.

                                    </p>

                                    <p>
                                        <strong>
                                            1:00 PM - 2:30 PM
                                        </strong>
                                    </p>
                                    <p>
                                        <strong>Located at:</strong> Santa Rosa Finley Center, Cypress Room
                                    </p>
                                    <p>
                                        2060 West College Avenue
                                    </p>
                                    <p>
                                        Santa Rosa, CA 95401

                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="location contact">
                                <span class="ca-gov-icon-calendar"></span>

                                <div class="contact">
                                    <p>Sponsored by Contra Costa County Genealogical Society</p>
                                    <h3><em>"2017 Fall Seminar - Finding Your Female Ancestors"</em></h3>
                                    <br />
                                    <p>
                                        Four great talks on ways to help locate those lost female ancestors with guest speaker, Gena Philibert-Ortega. Online registration and more description of the program, including registration fees, is available on <a href="http://www.rootsweb.ancestry.com/~cacccgs/" target="_blank">their site</a>.
                                    </p>

                                    <p>
                                        <strong>8:00 AM - 4:00 PM</strong> (Doors open at 8:00 AM and program starts at 9:00 AM)
                                    </p>
                                    <p><strong>Located at:</strong> Pleasant Hill Senior Center </p>
                                    <p>
                                        233 Gregory Lane
                                    </p>
                                    <p>Pleasant Hill, CA 94523</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>