@{
    ViewBag.Title = "CSL - High-Speed Broadband in California's Libraries Initiative";
    ViewBag.PageTitle = "High-Speed Broadband in California Libraries";
    ViewBag.Author = "Jonathan Shaw";
    ViewBag.Description = "The Broadband Initiative brings high-speed broadband to California public libraries by connecting them to the California Research and Education Network (CalREN)—a high-capacity 3,800-mile fiber-optic-based network designed to meet the unique requirements of over 20 million users.";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
                <ol class="breadcrumb dynamic"></ol>
                <h2 class="page-title" >
                    @ViewBag.PageTitle
                </h2>
        </div>
        <div class="container">
            <div class="section">
                <h3>
                    Project Goal
                </h3>
                <p>
                    To bring high-speed broadband to all California public libraries by connecting them to the California Research and Education Network (CalREN)—a high-capacity 3,800-mile fiber-optic-based network designed to meet the unique requirements of over 20 million users, including the vast majority of K-20 students together with educators, researchers, and others working in California's vital public-serving institutions.
                </p>
            </div>
        </div>

        <br/>

        <div class="blue-div">
            <div class="container">
                <h3 style="text-align:left; color:white">Investment Since 2014</h3>
                <div class="third">
                    <div class="stat-counter text-accent2">
                        <span class="unit">$</span><span class="number-counter" style="visibility: visible;">6<span class="unit">,</span>000<span class="unit">,</span>000</span>
                    </div>
                    <h4 style="color:#fff; margin:0 auto;">
                        One-time funding for grants that make<br/>it easier for local libraries to connect
                    </h4>
                </div>
                <div class="third">
                    <img alt="money bag image" src="~/Content/StateTemplate/images/services/toLibraries/money-bag.png" width="175" height="175" style="margin-top:-50px"/>
                </div>
                <div class="third">
                    <div class="stat-counter text-accent9">
                        <span class="unit">$</span><span class="number-counter" style="visibility: visible;">2<span class="unit">,</span>475<span class="unit">,</span>000</span>
                    </div>
                    <h4 style="color:#fff; margin:0 auto;">
                        Ongoing annual appropriation
                    </h4>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="section">
                <h3>Results and Impact</h3>
                <div class="half">
                    <img alt="network image" src="~/Content/StateTemplate/images/services/toLibraries/BroadbandInitiativeResults.jpg" width="400" height="225" align="right" />
                </div>
                <div class="half">
                    <div class="quarter">
                        <div class="stat-counter text-accent8">
                            <span class="number-counter" style="visibility: visible">127</span>
                        </div>
                    </div>
                    <div class="half">
                        <h4 style="color:dodgerblue">
                            of California's 184 public library jurisdictions are connected or connecting to the network that links universities, colleges, schools, and libraries around the world.*
                        </h4>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="half">
                    <div class="quarter">
                        <img alt="buildings pic" src="~/Content/StateTemplate/images/services/toLibraries/Buildings.jpg" width="100" height="100"/>
                    </div>
                    <div class="quarter">
                        <div class="stat-counter text-accent7">
                            <span class="number-counter" style="visibility: visible">531</span>
                        </div>
                    </div>
                    <div class="half">
                        <h4 style="color:dodgerblue">
                            of California's 1,119 main and branch libraries are now connected or connecting. 
                        </h4>
                    </div>
                </div>
                <div class="half">
                    <div class="half">
                        <img alt="california pic" src="~/Content/StateTemplate/images/services/toLibraries/California.jpg" width="150" height="175" style="margin-top:-40px" align="right"/>
                    </div>
                    <div class="half">
                        <h4 style="color:dodgerblue">
                            Up to <strong style="font-size:larger"><span class="number-counter" style="visibility: visible">12</span> new jurisdictions</strong> will begin connecting to broadband in 2017.
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <div class="container">
            <div class="two-thirds">
                <h4>
                    Staff in connected libraries report** that:
                </h4>
                <ul>
                    <li>
                        Their libraries are:
                        <ul>
                            <li>
                                providing better support for individual and group online learning,
                            </li>
                            <li>
                                introducing new services and programs,
                            </li>
                            <li>
                                better able to support economic development in the community, and
                            </li>
                            <li>
                                receiving fewer complaints about Internet speed.
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        Community members can use their mobile devices effectively in the library.
                    </li>
                </ul>
                <ul>
                    <li>
                        Library staff can work more efficiently and have access to improved training and professional development opportunities.
                    </li>
                </ul>
            </div>
            <div class="one-third">
                <div class="panel panel-understated">
                    <div class="panel-heading" align="center">
                        <h4><a href="/services/to-libraries/broadband">Broadband Searchable Database</a></h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Search our database of libraries that are connected and connecting to CalREN.
                        </p>
                    </div>
                </div>
                <div class="section"  >
                    <a href="~/Content/StateTemplate/pdf/services/toLibraries/Infographic.pdf"  >
                        <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/icon.jpg" />
                    </a>
                    <a href="~/Content/StateTemplate/pdf/services/toLibraries/Infographic.pdf">
                        Download
                    </a>
                    printable infographic.
                </div>
            </div>
        </div>

        <br/>

        <style>
            p.testimonialPara {
                 font-family:'Times New Roman', Times, serif; 
                 font-style: italic; 
                 margin-top: 7px; 
                 margin-bottom: 30px;
            }

            img.testimonialImg {
                width:3%; 
                height:3%; 
                margin-top:-17px; 
                margin-right: -4px;  
                opacity: 0.3;
            }
        </style>
        <div class="container">
            <div class="section">
                <div class="panel-group"  role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Testimonials from Library Staff</a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <blockquote>
                                        <p class="testimonialPara">
                                            <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/quoteIcon.png" class="testimonialImg" />
                                            Along with having slow internet before CalREN, our library also had not replaced computers for many years due to budget cuts. We have leveraged the new high speed fiber to begin replacing computers and formed a stronger relationship with our County IT department... The connection to CalREN has raised the profile of the library with the county as it's widely recognized that the best way to take advantage of this opportunity is to invest in computers to match the capability.
                                        </p>
                                    </blockquote>
                                    <blockquote>
                                        <p class="testimonialPara">
                                            <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/quoteIcon.png" class="testimonialImg" />
                                            The broadband has allowed groups to work together on projects without being dropped from the network... These groups are also able to utilize all of our study rooms.
                                        </p>
                                    </blockquote>
                                    <blockquote>
                                        <p class="testimonialPara">
                                            <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/quoteIcon.png" class="testimonialImg" />
                                            Staff are spending so much less time responding to concerns over slow internet connection speeds and other related troubleshooting that they are freed up to spend more time addressing the information needs of our patrons.
                                        </p>
                                    </blockquote>
                                    <blockquote>
                                        <p class="testimonialPara">
                                            <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/quoteIcon.png" class="testimonialImg" />
                                            We recently began a partnership with a local professor and UCSD's Osher Lifelong Learning Institute and have begun monthly streaming lectures. In the past we would never have done a live streaming event with the unreliability of the internet connection.
                                        </p>
                                    </blockquote>
                                    <blockquote>
                                        <p class="testimonialPara">
                                            <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/quoteIcon.png" class="testimonialImg" />
                                            The teen department has also utilized the extra bandwidth to support new programs.
                                        </p>
                                    </blockquote>
                                    <blockquote>
                                        <p class="testimonialPara">
                                            <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/quoteIcon.png" class="testimonialImg" />
                                            The CENIC broadband, combined with the new wifi equipment (that takes advantage of the increased internet speed) has finally allowed us to offer the level of wifi service necessary to accommodate all the patrons in the building to use data heavy websites that use streaming video.
                                        </p>
                                    </blockquote>
                                    <blockquote>
                                        <p class="testimonialPara">
                                            <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/quoteIcon.png" class="testimonialImg" />
                                            Staff can now attend webinars or training in any of the community or board rooms in the building because of the strengthened signal made possible by the CENIC broadband connection. This was not possible in the past.
                                        </p>
                                    </blockquote>
                                    <blockquote>
                                        <p class="testimonialPara">
                                            <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/quoteIcon.png" class="testimonialImg" />
                                            Complaints and frustration from the public regarding their own Internet use at our workstations were frequent and occasionally, heated. With the new CENIC Broadband, those complaints are almost non-existent. The public is 100% happier and the staff is happier & relieved.
                                        </p>
                                    </blockquote>
                                    <blockquote>
                                        <p class="testimonialPara">
                                            <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/quoteIcon.png" class="testimonialImg" />
                                            Our computer lab has become so popular both with the public and other city departments that it is difficult to keep up with demand for use. The calendar is almost always full with open labs, classes for the public, classes for our adult literacy program, classes for the school district's special education class, and training sessions for various city departments.
                                        </p>
                                    </blockquote>
                                    <blockquote>
                                        <p class="testimonialPara">
                                            <img alt="broadband image" src="~/Content/StateTemplate/images/services/toLibraries/quoteIcon.png" class="testimonialImg" />
                                            The average wait time for a public computer is now only 5 min (down from a previous high of 30-60+ minute wait-times). Because of the improved speed of the network connection, people finish what they're doing faster.
                                        </p>
                                    </blockquote>
</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Technology Improvement Grants</a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p  >
                                        <strong>94 library jurisdictions</strong> have received grant funding to help them connect to broadband. <strong>Up to 15</strong> new library jurisdictions will receive grants in 2017.
                                    </p>
                                    <p>
                                        Grant funds have helped libraries connect to broadband successfully by providing switches and catalysts used to expand the number of devices that are connected to the upgraded network; firewalls to protect the library against network intrusions; routers to direct Internet traffic between CalREN and library branches; antennae to enable library patrons and staff to connect to broadband Internet services; and network consultants to configure networks and provide IT support.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Project Partners</a>
                            </h3>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <div  >
                                        <strong>
                                            Corporation for Education Network Initiatives in California (CENIC):
                                        </strong>
                                        <p>
                                            The nonprofit organization that operates CalREN.
                                        </p>
                                        <strong>
                                            CALIFA:
                                        </strong>
                                        <p  >
                                            A nonprofit library membership consortium and the project's aggregator. Califa is the project's fiscal, contracting, and billing agent and supports participating libraries.
                                        </p>
                                        <strong>
                                            Southern California Library Cooperatove:
                                        </strong>
                                        <p  >
                                            A consortium of 38 independent city, county, and special district public libraries. The Southern California Library Cooperative administers the project's Technology Improvement Grant funds and supports participating libraries.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">2016-2017 Technology Improvement Grant Program: Information for Libraries</a>
                            </h3>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p  >
                                        <a href="~/Content/StateTemplate/otherDocuments/services/toLibraries/15-02_CaliforniaPublicLibraryBroadbandGrantApplication_REV.docx">
                                            Technology Improvement Grant Application Form (Word)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="~/Content/StateTemplate/otherDocuments/services/toLibraries/15-02_Branch_Broadband_Grant_Guidelines_REV.docx">
                                            Technology Improvement Grant Guidelines (Word)
                                        </a>
                                    </p>
                                    <h4  >
                                        Application Deadline: January 31, 2017
                                    </h4>
                                    <p  >
                                        If you have questions about applying for a grant, please contact Diane Satchwell of the Southern California Library Cooperative at
                                        <a href="mailto:broadband@socallibraries.org">
                                            broadband@socallibraries.org
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Reports</a>
                            </h3>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p >
                                        <a href="~/Content/StateTemplate/otherDocuments/services/toLibraries/CaliforniaPublicLibraryBroadbandProjectUpdate03042015.pptx">
                                            California Public Library Broadband Project Update
                                        </a>
                                        , March, 2015 (PowerPoint)
                                    </p>
                                    <p>
                                        <a href="~/Content/StateTemplate/pdf/services/toLibraries/LightingupLibraries_HighspeedInternetReport_150424.pdf">
                                            Lighting Up Libraries: High-Speed Broadband in California Public Libraries
                                        </a>
                                        , April 2, 2015 (PDF)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">More Information and Resources</a>
                            </h3>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p >
                                        Please visit the Califa website for further information, including: a project summary and background; list of key facts; E-rate and CTF information and documents; FAQs for project participants; steps to connect to CalREN; glossary of broadband terms; statewide reports and publications; and broadband press archives.
                                    </p>
                                    <p>
                                        If you have any questions about the High-Speed Broadband in California Libraries project, please contact
                                        Natalie Cole, Library Programs Consultant, at 
                                        <a href="mailto:Natalie.Cole@library.ca.gov">
                                            Natalie.Cole@library.ca.gov
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <p>
                    * 55 jurisdictions have been connected to CalREN by the California State Library's broadband project; 37 are currently being connected by the broadband project team; 35 were connected before the current project started and receive support from the broadband project aggregator.
                </p>
                <p>
                    ** Library directors are asked to complete an evaluation survey when their libraries have been connected to CalREN for twelve months. The survey was first issued in December 2016 to 14 library jurisdictions. The survey was completed in 13 library jurisdictions.
                </p>
                <br/>
            </div>
        </div>
    </main>
</div>

