@model CSLBusinessObjects.ViewModels.LibraryViewModel

@{
    ViewBag.Title = "CSL - Broadband Initiative Libraries";
    ViewBag.PageTitle = "High-Speed Broadband in California Libraries";
    ViewBag.Author = "Matthew Loller";
    ViewBag.Description = "Use this database to find California public libraries that are connected, or will soon be connected, to the California Research and Education Network (CalREN).";
    ViewBag.Keywords = "";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />
    <link href='~/Content/StateTemplate/css/select2.min.css' rel='stylesheet' type='text/css'>
    <script src='/Content/StateTemplate/js/libs/select2.min.js' type="text/javascript"></script>

    <link href='~/Content/StateTemplate/css/responsive.dataTables.min.css' rel='stylesheet' type='text/css'>
    <script src='~/Content/StateTemplate/js/libs/dataTables.responsive.min.js' type="text/javascript"></script>
    <style>
        select, input {
            color: black;
        }

            select[name=grantsData_length] {
                margin-left: 10px;
            }

        #broadbandData_filter label {
            color: black;
        }

        #broadbandData_length label {
            color: black;
        }

        .filterForms select {
            width: 250px;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
            -webkit-appearance: none;
        }

        option {
            border: solid 1px #DDDDDD;
        }

        .filterForms > div > label {
            width: 120px;
        }

        #tablebody > tr:nth-last-child(even) {
            background-color: aliceblue;
        }

        .filterForms > .half {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                @*<ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Grants">Grants</a></li>
                    <li><a href="/Grants/LSTA">LSTA</a></li>
                    <li>Previous Grant Awards</li>
                </ol>*@

                <ol class="breadcrumb dynamic"></ol>
                <h2 class="page-title">@ViewBag.PageTitle</h2>
                <br />
                <div>
                    <p>
                        Use the searchable database below to find which California public libraries are connected or connecting to the California Research and Education Network (CalREN).
                    </p>
                    @*<p>
                        Access the csv file for all the data below and its data dictionary:
                        <a id="MainContent_lbtnExportCSV" href="javascript:__doPostBack('ctl00$MainContent$lbtnExportCSV','')">Broadband-Libraries.csv</a>
                        <span id="MainContent_lblCSVLastModified">(Last Modified: Monday, August 07, 2017)</span>,
                        <a href="~/Content/StateTemplate/pdf/services/toLibraries/Broadband_Data_Dictionary.pdf" target="_blank">Broadband Data Dictionary.pdf</a>
                    </p>*@
                    <p>
                        If you have any questions, please contact Natalie Cole, Library Programs Consultant, at <a href="mailto:Natalie.Cole@library.ca.gov">Natalie.Cole@library.ca.gov</a>
                    </p>
                </div>

                <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingy">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapsey" aria-expanded="true" aria-controls="collapsey">Instructions</a>
                            </h3>
                        </div>
                        <div id="collapsey" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div>
                                    <p>
                                        Searches can be filtered by:
                                    </p>
                                    <ul>
                                        <li>
                                            the library's name and jurisdiction and the regional system of which the library is a part
                                        </li>
                                        <li>
                                            the city, county, or zip code in which the library is located
                                        </li>
                                        <li>
                                            the assembly, state and senate district in which the library is located; please note that libraries typically serve community members in multiple assembly, senate, and congressional districts, and beyond the districts in which they are physically located
                                        </li>
                                        <li>
                                            the library's connection status.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            select {
                float: right;
                text-align: right;
            }
        </style>
        <div class="section section-standout">
            <div class="container">
                <div class="group">
                    @using (Html.BeginForm("Libraries", "Broadband", FormMethod.Post))
                    {
                        <div class="form-group filterForms">

                            <div class="half">
                                @Html.LabelFor(m => m.GetLibraryListValues, "Library:")
                                @Html.DropDownListFor(m => m.GetLibraryListValues, new SelectList(Model.GetLibraryListValues, "GrantID"))
                            </div>

                            <div class="half">
                                @Html.LabelFor(m => m.GetJurisdictionListValues, "Jurisdiction:")
                                @Html.DropDownListFor(m => m.GetJurisdictionListValues, new SelectList(Model.GetJurisdictionListValues, "Year"))
                            </div>

                            <div class="clearfix"></div>

                            <div class="half">
                                @Html.LabelFor(m => m.GetCLSAListValues, "System:")
                                @Html.DropDownListFor(m => m.GetCLSAListValues, new SelectList(Model.GetCLSAListValues, "Project"))
                            </div>

                            <div class="half">
                                @Html.LabelFor(m => m.GetCityListValues, "City:")
                                @Html.DropDownListFor(m => m.GetCityListValues, new SelectList(Model.GetCityListValues, "Award"))
                            </div>

                            <div class=" clearfix"></div>

                            <div class="half">
                                @Html.LabelFor(m => m.GetCountyListValues, "County:")
                                @Html.DropDownListFor(m => m.GetCountyListValues, new SelectList(Model.GetCountyListValues, "Library"))
                            </div>

                            <div class="half">
                                @Html.LabelFor(m => m.GetZipListValues, "Zip Code:")
                                @Html.DropDownListFor(m => m.GetZipListValues, new SelectList(Model.GetZipListValues, "Project"))
                            </div>

                            <div class=" clearfix"></div>

                            <div class="half">
                                @Html.LabelFor(m => m.GetAssemblyListValues, "Assembly:")
                                @Html.DropDownListFor(m => m.GetAssemblyListValues, new SelectList(Model.GetAssemblyListValues, "Library"))
                            </div>

                            <div class="half">
                                @Html.LabelFor(m => m.GetSenateListValues, "Senate:")
                                @Html.DropDownListFor(m => m.GetSenateListValues, new SelectList(Model.GetSenateListValues, "Project"))
                            </div>

                            <div class=" clearfix"></div>

                            <div class="half">
                                @Html.LabelFor(m => m.GetCongressionalListValues, "Congressional:")
                                @Html.DropDownListFor(m => m.GetCongressionalListValues, new SelectList(Model.GetCongressionalListValues, "Library"))
                            </div>

                            <div class="half">
                                @Html.LabelFor(m => m.GetStatusListValues, "Connection Status:")
                                @Html.DropDownListFor(m => m.GetStatusListValues, new SelectList(Model.GetStatusListValues, "Project"))
                            </div>

                            <div class=" clearfix"></div>

                            <div class="half">
                                @Html.LabelFor(m => m.GetCodeListValues, "Status Code:")
                                @Html.DropDownListFor(m => m.GetCodeListValues, new SelectList(Model.GetCodeListValues, "Project"))
                            </div>

                            <div class=" clearfix"></div>

                        </div>
                        <div class="form-group">
                            <div class="pull-right">
                                <input type="submit" value="Filter" />
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

        <div class="section">
            <div class="container">


                <table id="broadbandData">
                    <thead>
                        <tr>
                            <th>Library</th>
                            <th>Jurisdiction</th>
                            <th>City</th>
                            <th>County</th>
                            <th>System</th>
                            <th>Assembly District</th>
                            <th>Senate District</th>
                            <th>Congressional District</th>
                            <th>Connection Status</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody">
                        @foreach (var item in Model.GetAllLibraries)
                        {
                            <tr>
                                <td>@item.LibraryName</td>
                                <td>@item.Jurisdiction</td>
                                <td>@item.City</td>
                                <td>@item.County</td>
                                <td>@item.CLSA</td>
                                <td>@item.AssemblyDistrict</td>
                                <td>@item.SenateDistrict</td>
                                <td>@item.CongressionalDistrict</td>
                                <td>@item.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </main>
</div>

<script>
    $(document).ready(function () {
        var table = $('#broadbandData').DataTable({ rowReorder: { selector: 'td:nth-child(2)' }, responsive: true });
        $('#GetLibraryListValues').select2();
        $('#GetJurisdictionListValues').select2();
        $('#GetCLSAListValues').select2();
        $('#GetCityListValues').select2();
        $('#GetCountyListValues').select2();
        $('#GetZipListValues').select2();
        $('#GetAssemblyListValues').select2();
        $('#GetSenateListValues').select2();
        $('#GetCongressionalListValues').select2();
        $('#GetStatusListValues').select2();
        $('#GetCodeListValues').select2();

    });
</script>



