
@{
    ViewBag.Title = "CSL - About Adolph Sutro";
    ViewBag.PageTitle = "Adolph Sutro";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Adolph Sutro's rare book and manuscript collection contains over 90,000 volumes and 100,000 pamphlets. ";
    ViewBag.Keywords = "California, State, Library, Adolph, Sutro";
    ViewBag.Image = "adolphsutro.png";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb dynamic"></ol>
                <h2 class="page-title">@(ViewBag.PageTitle)</h2>
                <img class="insetImage image-responsive animated fadeInRight" src="~/Content/StateTemplate/images/sutro/@(ViewBag.Image)" alt="Adolph Sutro" />
                <p>Since the 19th century, Adolph Sutro's passion for book collecting, libraries, the arts, and architecture has benefited San Franciscans and Californians. The California State Library created the Sutro Library from Adolph Sutro's private library in 1917. </p>
                <p>Sutro first staked his claim in the annals of California history through his love of engineering. Before arriving in San Francisco in 1850 aboard the steamship California, Sutro studied mining and engineering in his native Prussia. 
                    When the 20-year-old engineer disembarked in the booming city a year into the Gold Rush, Sutro turned to the profitable business of trading, first in San Francisco and, later, in Stockton. </p>
                <p>In 1859, the Comstock Lode made headlines, and Sutro shrewdly returned to mining. He established the Sutro Metallurgical Works in East Dayton, Nevada, a small mill where he discovered how to reduce ores by improving the process of amalgamation. 
                    Sutro's metallurgical breakthrough led to his building the Sutro Tunnel, an engineering marvel that enabled miners to bring out the Comstock silver quickly. After selling his tunnel in 1879 to the McCalmont Brothers, Sutro returned to San Francisco a millionaire. </p>
                <p>Adolph Sutro was elected mayor of San Francisco in 1894. He served a two-year term and James. D. Phelan succeeded him. </p>
                <p>In the late 19th century Adolph Sutro owned one-twelfth of the acreage of San Francisco. He purchased the Cliff House in the early 1880s, and one thousand acres of land facing the ocean, now called <a title="http://www.sfmuseum.net/hist/sutro.html" href="http://www.sfmuseum.net/hist/sutro.html">Sutro Heights</a>. 
                    He built the <a title="http://www.sfmuseum.net/hist2/baths.html" href="http://www.sfmuseum.net/hist2/baths.html" target="_blank">Sutro saltwater baths</a> and planted Sutro Forest. The sites are now called the <a title="http://parksconservancy.org/visit/park.asp?park=87" href="http://parksconservancy.org/visit/park.asp?park=87" target="_blank">Sutro Historic District</a> and are part of the <a title="http://www.nps.gov/goga/planyourvisit/places.htm" href="http://www.nps.gov/goga/planyourvisit/places.htm">Golden Gate National Recreation Area</a>. </p>
                <p>Sutro owned the finest private library in America, a portion of which was destroyed during the fire that followed the Great Earthquake of 1906. Sutro died in San Francisco August 8, 1898. </p>
            </div>
        </div>
    </main>
</div>

