@model CSLBusinessObjects.Models.SutroClassModel
@{
    ViewBag.Title = "CSL - Classes in Sutro Library";
    ViewBag.PageTitle = "Arranging to use our collections";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "California State Library Replace with: Arrange for a class visit at the Sutro Library";
    ViewBag.Keywords = "";
}

<head>
    <title>@ViewBag.Title</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <style>
        .required{
            color:red
        }

        .myform > div > label, .myform > div > input {
            min-width:55%;
            display:inline-block;
        }

            .myform > div > input {
            width: 250px;
            max-width:90%;
        }

        .myform > div > textarea {
            width: 100%;
        }

    </style>
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/collections">Our Collections</a></li>
                    <li><a href="/sutro">Sutro</a></li>
                    <li><a href="/sutro/visiting">Visiting</a></li>
                    <li>Signup to Bring Class</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>
                <br />   
            </div>
        </div>

        <div class="section">
            <div class="container">

                <p>Instructors can arrange for a library class in the Sutro by completing the form below:<span class="required">&nbsp;(* Required Field)</span></p>
                <br />

                <div class="group">
                    @using (Html.BeginForm("Class", "Sutro", FormMethod.Post))
                    {
                        
                        <div class="myform">
                            <div class="full-width">
                                @Html.LabelFor(m => m.Instructor)
                                @Html.TextBoxFor(m => m.Instructor)
                            </div>
                            <div class="full-width">
                                @Html.LabelFor(m => m.InstructorEmail)
                                @Html.TextBoxFor(m => m.InstructorEmail)
                            </div>
                            <div class="full-width">
                                @Html.LabelFor(m => m.InstructorDepartment)
                                @Html.TextBoxFor(m => m.InstructorDepartment)
                            </div>
                            <div class="full-width">
                                @Html.LabelFor(m => m.CourseNumandTitle)
                                @Html.TextBoxFor(m => m.CourseNumandTitle)
                            </div>
                            <div class="full-width">
                                <span class="required">*</span>
                                @Html.LabelFor(m => m.Frequency)
                                @Html.TextAreaFor(m => m.Frequency)
                                @Html.ValidationMessage("Frequency", new { @class = "text-danger" })
                            </div>
                            <div class="full-width">
                                <span class="required">*</span>@Html.LabelFor(m => m.StudentAmount)
                                @Html.TextBoxFor(m => m.StudentAmount)
                                @Html.ValidationMessage("StudentAmount", new { @class = "text-danger" })
                            </div>
                            <div class="full-width">
                                <span class="required">*</span>@Html.LabelFor(m => m.ClassTimeLength)
                                @Html.TextBoxFor(m => m.ClassTimeLength)
                                @Html.ValidationMessage("ClassTimeLength", new { @class = "text-danger" })
                            </div>
                            <div class="full-width">
                                <span class="required">*</span>@Html.LabelFor(m => m.DoesAssignmentExist)
                                @Html.TextAreaFor(m => m.DoesAssignmentExist)
                                @Html.ValidationMessage("DoesAssignmentExist", new { @class = "text-danger" })
                            </div>
                            <div class="full-width">
                                <span class="required">*</span>@Html.LabelFor(m => m.Materials)
                                @Html.TextAreaFor(m => m.Materials)
                                @Html.ValidationMessage("Materials", new { @class = "text-danger" })
                            </div>
                            <div class="clearfix"></div>
                            <div class="full-width">
                                <div class="g-recaptcha" data-sitekey="6Lf0XzYUAAAAAFm7yZHSL7K98voPXytgpy4O2zsU"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pull-right">
                                <input type="submit" value="Submit" />
                            </div>
                        </div>
                    }
                </div>
           </div>
        </div> 
    </main>
</div>

