
@{
    ViewBag.Title = "CSL- Sutro Library's Genealogy Collection";
    ViewBag.PageTitle = "Genealogy Collection";
    ViewBag.Author = "Ryan Salcido";
    ViewBag.Description = "Sutro Library's genealogical resources emcompasses state and local history from all 50 states except California.";
    ViewBag.Keywords = "California, State, Library, Sutro, Genealogy, Collection";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb dynamic"></ol>
                <h2 class="page-title">@(ViewBag.PageTitle)</h2>

                <p>
                    Founded on elements within Adolph Sutro's original collection, Sutro Library's genealogical and local history collection was formalized with the donation of the private library of Berkeley resident Henry Byron Phillips (5 Jun 1850 &ndash; 22 Nov 1924). Mr. Phillips, who was the president of the International Genealogical Federation, organized the International Congress of Genealogy held during the 1915 Pan Pacific Exposition in San Francisco. The collection has since grown to include:
                </p>

                <ul>
                    <li>18,000 telephone and city directories</li>
                    <li>4,000 family histories</li>
                    <li>Local histories</li>
                    <li>Vital, tax, voting, and property records</li>
                    <li>Military and business registries</li>
                    <li>Periodicals from over seventy surname associations and historical and genealogical societies</li>
                    <li>Daughters of the American Revolution publications</li>
                    <li>Foreign language materials</li>
                    <li>An extensive collection of guides, handbooks, surname and local history card files, indexes, dictionaries, finding aids, glossaries, and bibliographies for domestic and international research as well as historical and cultural reference material (publications related to history, travel, customs, costume, art, etc.)</li>
                </ul>
                <p><span class="ca-gov-icon-info"></span>   Click on the title below for more information.</p>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">

                        <div class="panel-heading" role="tab" id="headingOne">
                            <h3 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Electronic Resources</a>
                            </h3>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

                            <div class="panel-body">

                                <div class="group">

                                    <div class="half">

                                        <h3>Genealogy sites</h3>
                                        <ul class="regular" style="padding-bottom:0px">
                                            <li>Ancestry (<em>Library Edition</em>)</li>
                                            <li>HeritageQuest</li>
                                        </ul>

                                    </div>


                                    <div class="half">

                                        <h3>Newspaper sites</h3>
                                        <ul class="regular" style="padding-bottom:0px">
                                            <li>America's Newspapers (Newsbank)</li>
                                            <li>Ethnic Newswatch (Over 400 titles; 1959&ndash;date)</li>
                                            <li>Historic San Francisco Chronicle and NewspaperARCHIVE</li>
                                            <li>Newspaper Archives (California publications only)</li>
                                        </ul>

                                    </div>
                                </div>

                                <div>

                                    <h3>Government Resources</h3>
                                    <ul>
                                        <li>U.S. Congressional Serial Set (Newsbank; Includes an index of personal names, geographic names, and a range of themes and topics, e.g., "Indian Affairs" or "Angel Island"; 1817&ndash;1980)</li>
                                        <li><a href="http://clerk.assembly.ca.gov/">California State Legislature Archives</a> (Daily histories, 1995&ndash;date; Weekly histories 2009-date; Assembly Journals, 1849&ndash;2009)</li>
                                        <li>Select Senate Journals are available on the Internet Archive</li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>

                    <a href="http://askstatelibrary.libraryresearch.info/reft100.aspx?key=Ref_Sutro"><br />Ask a Librarian</a>

                </div>

            </div>
        </div>
    </main>
</div>

