@{
    ViewBag.Title = "CSL - Online Exhibits";
    ViewBag.PageTitle = "Exhibits";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "California State Library, Online Exhibits";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />


    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/jquery.fancybox.min.css" />
    <script src="~/Content/StateTemplate/js/libs/jquery.fancybox.min.js"></script>
</head>
<style>
    #fancyBoxImageGallery > a > img {
        padding: 5px;
    }
</style>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">

            <div class="section">
                <ol class="breadcrumb dynamic"></ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <h3 style="text-transform:uppercase">
                    Current exhibit in the Circulation Room and Gillis Hall, <br />
                    Library and Courts Building
                </h3>

                <h3 class="orange" style="text-align:left">"The Love Generation: Music & Art from the Summer of '67." </h3>
                <img alt="exhibit"  src="~/Content/StateTemplate/images/exhibit/1_002.jpg" />
                <p>
                    The summer of 1967 was a defining moment in American culture. Over 75,000 youth from across the U.S. streamed into San Francisco, drawn by psychedelic rock music, the availability of mind-altering substances, and the idea of creating a new way of living based on love, peace and personal freedom.
                </p>
                <p>
                    The State Library's exhibit explores the Summer of Love in photos, poster art, underground newspapers, and memorabilia, beginning with the Human Be-In. Considered a precursor to the summer, the Be-In was held in January 1967 in Golden Gate Park, where LSD advocate Timothy Leary uttered his famous words, "Turn on, tune in, drop out."
                </p>
                <p>
                    On display are psychedelic rock concert posters; the Oracle, a San Francisco underground newspaper; iconic photos of Haight-Ashbury; and street sheets, including a funeral notice for "the death of the hippie" parade staged by the Diggers, a community action/street theater group, in October 1967 to mark the end of the Haight-Ashbury era.
                </p>
                <p>
                    The exhibit is free and open to the public weekdays, 9:30 a.m. to 4 p.m., through October 2017, on the 3rd floor of the Library and Courts Building, 914 Capitol Mall in Sacramento.


                </p>
                <h3 style="text-transform:uppercase">
                    CURRENT EXHIBIT IN SUTRO LIBRARY
                    <br />
                    J. PAUL LEONARD LIBRARY - SUTRO LIBRARY, 5TH FLOOR READING ROOM
                    <br />
                    1630 HOLLOWAY AVENUE, SAN FRANCISCO, CA 94132
                </h3>
                <h3 class="orange" style="text-align:left">"RECOLLECTED: PHOTOGRAPHY AND THE ARCHIVE"</h3>
                <img alt="exhibit"  src="~/Content/StateTemplate/images/exhibit/1_001.jpg" />
                <p>
                    Much has been written about the archive and its role in defining history. Photography as a medium has been used to document and archive boundless topics, from the microscopic to the macroscopic. Many artists use the photography of others as the source material of their work. Some photographers create new work through organizing and documenting existing non-photographic collections and archives. Both ways of interacting with the archive deepen the viewer’s insight into the formal organization of material used to preserve the past – recollecting history.

                </p>
                <p>
                    Sutro Library's exhibit explores the image as artifact. Prior to photography, the eager public relied on master illustrators and artists to provide visuals showing the animals, people, places, food, temples, rivers and cities of faraway lands. Sutro's exhibit juxtaposes early examples of illustrated travel narratives of Mexico, Peru, India, Egypt, Japan, Florida, and Cuba with their photographic cousins. The exhibit is free and open to the public weekdays, 10am – 4pm, through December 23, 2017.

                </p>


                <h3 style="text-transform:uppercase">
                    CURRENT EXHIBIT IN THE STATE LIBRARY ANNEX FIRST AND SECOND FLOOR GALLERIES

                </h3>
                <h3 class="orange" style="text-align:left">
                    "FOR THE JOY OF DOING: A SELECTION OF FINE PRINTING<br />FROM THE COLLECTIONS OF THE CALIFORNIA STATE LIBRARY"


                </h3>

                <div class="autoLoop carousel owl-carousel carousel-content">
                    <div class="item">
                        <img alt="exhibit"  src="~/Content/StateTemplate/images/exhibit/1.jpg" alt="exhibit" />
                    </div>

                    <div class="item">
                        <img alt="exhibit"  src="~/Content/StateTemplate/images/exhibit/2.jpg" alt="exhibit" />
                    </div>
                    <div class="item">
                        <img alt="exhibit"  src="~/Content/StateTemplate/images/exhibit/3.jpg" alt="exhibit" />
                    </div>
                    <div class="item">
                        <img alt="exhibit"  src="~/Content/StateTemplate/images/exhibit/4.jpg" alt="exhibit" />
                    </div>
                    <div class="item">
                        <img alt="exhibit"  src="~/Content/StateTemplate/images/exhibit/5.jpg" alt="exhibit" />
                    </div>
                    <div class="item">
                        <img alt="exhibit"  src="~/Content/StateTemplate/images/exhibit/6.jpg" alt="exhibit" />
                    </div>

                </div>

                <p>
                    On display now at the State Library Branch at 900 N Street is an exhibit devoted to the history of fine printing and book arts in California. The exhibit, For the Joy of Doing, is free and open to the public Monday through Friday, 8:00 a.m. to 5:00 p.m.


                </p>

                <p>
                    California, perhaps because of its remoteness from large publishing and printing firms, has enjoyed a remarkable history in the fine and private press movement surpassing virtually every other state and region in the country. Beginning with Edward Bosqui in the 1860s, the State Library has amassed a large collection of fine printing. Represented in the exhibit are examples from fine pressman John Henry Nash as well as Edward and Robert Grabhorn from the early 20th century.



                </p>

                <p>
                    According to Stanley Morison, prominent British typographer and printing historian, "Fine printing may be described as the product of a lively and seasoned intelligence working with carefully chosen ink, type and paper."


                </p>

                <p>
                    This exhibit includes excellent examples from such fine printers as Ward Ritchie, Lewis and Dorothy Allen, William Everson, Adrian Wilson, Richard J. Hoffman, Vance Gerry, Andrew Hoyem, Peter Koch, and Robin Heyeck. In addition to the individual printers, fine presses featured in the exhibit include Grabhorn Press, Fine Arts Press, Plantin Press, and Weather Bird Press.


                </p>

                <p>
                    <strong>For the Joy of Doing</strong> will be on display through the end of the year.


                </p>

                <p>
                    The exhibit was curated by Gary Kurutz, Special Collections Librarian Emeritus and Daniel Flanagan with the invaluable assistance from Vince Beiderbecke.


                </p>

                <div class='panel-group'   role='tablist' aria-multiselectable='true'>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading1'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>Online Exhibits</a>
                            </h3>
                        </div>
                        <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                            <div class='panel-body'> 
                                    <ul>
                                        <li><a href="/collections/online-exhibits">View all</a></li>
                                        <!--need new views-->
                                        <li><a href="http://www.library.ca.gov/calhist/cartoon/">"Afflicting the Comfortable: California's Editorial Cartoonists"</a></li>
                                        <li><a href="/california-history/cagoldrush/">"California As We Saw It": Exploring The California Gold Rush</a></li>
                                        <li><a href="http://www.library.ca.gov/calhist/ca_calls.html">California Calls You: The Art of Promoting the Golden State, 1870–1940</a></li>
                                        <li><a href="/california-history/cagoldrush">California Gold Rush – Seekers, Scoundrels, Loss and Luck</a></li>
                                        <!--needs new view-->
                                        <li><a href="http://www.library.ca.gov/calhist/cookbooks.html">Culinary California or California In the Kitchen</a></li>
                                        <li><a href="http://governors.library.ca.gov/firstladies/" target="_blank">First Ladies Gallery</a></li>
                                        <li><a href="http://governors.library.ca.gov/" target="_blank">Governor's Gallery</a></li>
                                        <li><a href="/about/history/building">Historic Library &amp; Courts Building</a></li>
                                        <!--needs new view-->
                                        <li><a href="http://www.library.ca.gov/about/renovation_demo.html">Stanley Mosk Library and Courts Renovation</a></li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading2'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>Book Displays</a>
                            </h3>
                        </div>
                        <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                            <div class='panel-body'>
                              
                                    <a href="/california-history/current-display">It Came from the Archives?! The Weird, Wacky and Wonderful Treasures in our library</a>
                                    <p >
                                        It's weird! It's wacky! It must be California history! Right now we are celebrating California's odder sights in our September-October display.
                                    </p>
                         
                            </div>
                        </div>
                    </div>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading3'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>3-D Photo Albums</a>
                            </h3>
                        </div>
                        <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                            <div class='panel-body'>
                                <ul>
                                    <li><a href="http://phereo.com/californiastatelibrary" target="_blank">View all</a></li>
                                    <li><a href="http://phereo.com/album/55b1e6a9e7e564a20300004f" target="_blank">Panama Pacific International Exposition, San Francisco, 1915</a></li>
                                    <li><a href="http://phereo.com/album/55b1e250e7e564b46000034e" target="_blank">California State Fair-2015</a></li>
                                    <li><a href="http://phereo.com/album/54c2dd89df7df3897c000003" target="_blank">San Francisco</a></li>
                                    <li><a href="http://phereo.com/album/54c2dd6edf7df3657b000002" target="_blank">Railroads</a></li>
                                    <li><a href="http://phereo.com/album/513fb19be15585c801000001" target="_blank">Library-Courts Renovation in 3D</a></li>
                                    <li><a href="http://phereo.com/album/513fb125e15585c501000000" target="_blank">CSL Stereo Card Collection</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading4'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse4' aria-expanded='false' aria-controls='collapse4'>Selected specially digitized collections</a>
                            </h3>
                        </div>
                        <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                            <div class='panel-body'>
                                <ul>
                                    <li><a href="https://archive.org/details/californiastatelibrary?" target="_blank">View all</a></li>
                                    <li><a href="https://archive.org/details/californiastatelibrary?&amp;sort=-downloads&amp;and%5b%5d=mining%20and%20scientific%20press" target="_blank">Mining and Scientific Press</a></li>
                                    <li><a href="https://archive.org/details/californiastatelibrary?sort=-downloads&amp;and%5b%5d=railroad%20pamphlets" target="_blank">Railroad Pamphlets</a></li>
                                    <li><a href="https://archive.org/details/californiastatelibrary?sort=-downloads&amp;and%5b%5d=chinese%20pamphlets" target="_blank">Chinese Pamphlets</a></li>
                                    <li><a href="https://archive.org/details/californiastatelibrary?sort=-downloads&amp;and%5b%5d=japanese%20pamphlets" target="_blank">Japanese Pamphlets</a></li>
                                    <li><a href="https://archive.org/details/californiastatelibrary?sort=-downloads&amp;and%5b%5d=land%20pamphlets" target="_blank">California Land Pamphlets</a></li>
                                    <li><a href="https://archive.org/details/californiastatelibrary?sort=-downloads&amp;and%5b%5d=%22san%20francisco%20pamphlets%22" target="_blank">San Francisco Pamphlets</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading5'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse5' aria-expanded='false' aria-controls='collapse5'>Selected specially digitized visual materials</a>
                            </h3>
                        </div>
                        <div id='collapse5' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading5'>
                            <div class='panel-body'>
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=file&amp;file_name=image-collections" target="_blank">View all</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-b&amp;request=Daguerreotype&amp;find_code=WRD&amp;local_base=images" target="_blank">Daguerreotype Collection</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-b&amp;request=(Mexican+War+Prints)&amp;find_code=WRD&amp;local_base=images" target="_blank">Mexican War Prints</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-b&amp;request=(Sacramento+History+Online)&amp;find_code=WRD&amp;local_base=images" target="_blank">Sacramento History Online Project</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading6'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse6' aria-expanded='false' aria-controls='collapse6'>Other institutions displaying California State Library materials

</a>
                            </h3>
                        </div>
                        <div id='collapse6' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading6'>
                            <div class='panel-body'>
                                <ul>
                                    <li><a href="http://www.californiamuseum.org/voting-california" target="_blank">California Museum</a></li>
                                    <li><a href="http://capitolmuseum.ca.gov/special/outofthevault/" target="_blank">Capitol Museum</a></li>
                                    <li><a href="http://lapca.org/" target="_blank">La Plaza de Cultura y Artes</a></li>
                                    <li><a href="http://lfla.org/event/americas-shakespeare/" target="_blank">Los Angeles Public Library</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>