@{
    ViewBag.Title = " ";
    ViewBag.PageTitle = "Exhibits";
    ViewBag.Author = "Alan Cleetus";
    ViewBag.Description = " ";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />


    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/jquery.fancybox.min.css" />
    <script src="~/Content/StateTemplate/js/libs/jquery.fancybox.min.js"></script>
</head>
<style>
    #fancyBoxImageGallery > a > img {
        padding: 5px;
    }
</style>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">

            <div class="section">
                <ol class="breadcrumb dynamic"></ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <h4 style="text-transform:uppercase">
                    Current exhibit in the Circulation Room and Gillis Hall, <br />
                    Library and Courts Building
                </h4>

                <h3 class="orange" style="text-align:left">"The Love Generation: Music & Art from the Summer of '67." </h3>
                <img src="~/Content/StateTemplate/images/exhibit/1_002.jpg" />
                <p>
                    The summer of 1967 was a defining moment in American culture. Over 75,000 youth from across the U.S. streamed into San Francisco, drawn by psychedelic rock music, the availability of mind-altering substances, and the idea of creating a new way of living based on love, peace and personal freedom.
                </p>
                <p>
                    The State Library's exhibit explores the Summer of Love in photos, poster art, underground newspapers, and memorabilia, beginning with the Human Be-In. Considered a precursor to the summer, the Be-In was held in January 1967 in Golden Gate Park, where LSD advocate Timothy Leary uttered his famous words, "Turn on, tune in, drop out."
                </p>
                <p>
                    On display are psychedelic rock concert posters; the Oracle, a San Francisco underground newspaper; iconic photos of Haight-Ashbury; and street sheets, including a funeral notice for "the death of the hippie" parade staged by the Diggers, a community action/street theater group, in October 1967 to mark the end of the Haight-Ashbury era.
                </p>
                <p>
                    The exhibit is free and open to the public weekdays, 9:30 a.m. to 4 p.m., through October 2017, on the 3rd floor of the Library and Courts Building, 914 Capitol Mall in Sacramento.


                </p>
                <h4 style="text-transform:uppercase">
                    CURRENT EXHIBIT IN SUTRO LIBRARY
                    <br />
                    J. PAUL LEONARD LIBRARY - SUTRO LIBRARY, 5TH FLOOR READING ROOM
                    <br />
                    1630 HOLLOWAY AVENUE, SAN FRANCISCO, CA 94132
                </h4>
                <h3 class="orange" style="text-align:left">"RECOLLECTED: PHOTOGRAPHY AND THE ARCHIVE"</h3>
                <img src="~/Content/StateTemplate/images/exhibit/1_001.jpg" />
                <p>
                    Much has been written about the archive and its role in defining history. Photography as a medium has been used to document and archive boundless topics, from the microscopic to the macroscopic. Many artists use the photography of others as the source material of their work. Some photographers create new work through organizing and documenting existing non-photographic collections and archives. Both ways of interacting with the archive deepen the viewer’s insight into the formal organization of material used to preserve the past – recollecting history.

                </p>
                <p>
                    Sutro Library's exhibit explores the image as artifact. Prior to photography, the eager public relied on master illustrators and artists to provide visuals showing the animals, people, places, food, temples, rivers and cities of faraway lands. Sutro's exhibit juxtaposes early examples of illustrated travel narratives of Mexico, Peru, India, Egypt, Japan, Florida, and Cuba with their photographic cousins. The exhibit is free and open to the public weekdays, 10am – 4pm, through December 23, 2017.

                </p>


                <h4 style="text-transform:uppercase">
                    CURRENT EXHIBIT IN THE STATE LIBRARY ANNEX FIRST AND SECOND FLOOR GALLERIES

                </h4>
                <h3 class="orange" style="text-align:left">
                    "FOR THE JOY OF DOING: A SELECTION OF FINE PRINTING<br />FROM THE COLLECTIONS OF THE CALIFORNIA STATE LIBRARY"


                </h3>

                <div class="autoLoop carousel owl-carousel carousel-content">
                    <div class="item">
                        <img src="~/Content/StateTemplate/images/exhibit/1.jpg" alt="exhibit" />
                    </div>

                    <div class="item">
                        <img src="~/Content/StateTemplate/images/exhibit/2.jpg" alt="exhibit" />
                    </div>
                    <div class="item">
                        <img src="~/Content/StateTemplate/images/exhibit/3.jpg" alt="exhibit" />
                    </div>
                    <div class="item">
                        <img src="~/Content/StateTemplate/images/exhibit/4.jpg" alt="exhibit" />
                    </div>
                    <div class="item">
                        <img src="~/Content/StateTemplate/images/exhibit/5.jpg" alt="exhibit" />
                    </div>
                    <div class="item">
                        <img src="~/Content/StateTemplate/images/exhibit/6.jpg" alt="exhibit" />
                    </div>

                </div>

                <p>
                    On display now at the State Library Branch at 900 N Street is an exhibit devoted to the history of fine printing and book arts in California. The exhibit, For the Joy of Doing, is free and open to the public Monday through Friday, 8:00 a.m. to 5:00 p.m.


                </p>

                <p>
                    California, perhaps because of its remoteness from large publishing and printing firms, has enjoyed a remarkable history in the fine and private press movement surpassing virtually every other state and region in the country. Beginning with Edward Bosqui in the 1860s, the State Library has amassed a large collection of fine printing. Represented in the exhibit are examples from fine pressman John Henry Nash as well as Edward and Robert Grabhorn from the early 20th century.



                </p>

                <p>
                    According to Stanley Morison, prominent British typographer and printing historian, "Fine printing may be described as the product of a lively and seasoned intelligence working with carefully chosen ink, type and paper."


                </p>

                <p>
                    This exhibit includes excellent examples from such fine printers as Ward Ritchie, Lewis and Dorothy Allen, William Everson, Adrian Wilson, Richard J. Hoffman, Vance Gerry, Andrew Hoyem, Peter Koch, and Robin Heyeck. In addition to the individual printers, fine presses featured in the exhibit include Grabhorn Press, Fine Arts Press, Plantin Press, and Weather Bird Press.


                </p>

                <p>
                    <strong>For the Joy of Doing</strong> will be on display through the end of the year.


                </p>

                <p>
                    The exhibit was curated by Gary Kurutz, Special Collections Librarian Emeritus and Daniel Flanagan with the invaluable assistance from Vince Beiderbecke.


                </p>

                <div class='panel-group'   role='tablist' aria-multiselectable='true'>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading1'>
                            <h4 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>Accordion#1</a>
                            </h4>
                        </div>
                        <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                            <div class='panel-body'>
                                Accordion1content
                            </div>
                        </div>
                    </div>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading2'>
                            <h4 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>Accordion#2</a>
                            </h4>
                        </div>
                        <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                            <div class='panel-body'>
                                Accordion2content
                            </div>
                        </div>
                    </div>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading3'>
                            <h4 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>Accordion#3</a>
                            </h4>
                        </div>
                        <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                            <div class='panel-body'>
                                Accordion3content
                            </div>
                        </div>
                    </div>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading4'>
                            <h4 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse4' aria-expanded='false' aria-controls='collapse4'>Accordion#4</a>
                            </h4>
                        </div>
                        <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                            <div class='panel-body'>
                                Accordion4content
                            </div>
                        </div>
                    </div>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading5'>
                            <h4 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse5' aria-expanded='false' aria-controls='collapse5'>Accordion#5</a>
                            </h4>
                        </div>
                        <div id='collapse5' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading5'>
                            <div class='panel-body'>
                                Accordion5content
                            </div>
                        </div>
                    </div>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading6'>
                            <h4 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse6' aria-expanded='false' aria-controls='collapse6'>Accordion#6</a>
                            </h4>
                        </div>
                        <div id='collapse6' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading6'>
                            <div class='panel-body'>
                                Accordion6content
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>