
@{
    ViewBag.Title = "CSL - California Revealed Copyright and Legal Consideratiservices/to-libraries/ca-revealedons Frequently Asked Questions (FAQ)";
    ViewBag.PageTitle = "Copyright & Legal Considerations FAQ";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Common questions regarding the United States Copyright Law and other legal considerations related to local history digitization projects are addressed on this site.";
    ViewBag.Keywords = "California, state, Library, revealed, initiative, copyright, law, faq, frequently, asked, questions";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/services/to-libraries">To Libraries</a></li>
                    <li><a href="/services/to-libraries/development-programs-projects" style="text-transform:none">Library Development Programs and Projects</a></li>
                    <li><a href="/services/to-libraries/ca-revealed">California Revealed</a></li>
                    <li>Legal Considerations</li>
                </ol>
                <h2 class="page-title">@ViewBag.PageTitle</h2>
                <h3><span style="font-size:0.8em; font-weight:normal">(&copy; 2016, Gretchen McCord)</span><span  class="required-label">*</span></h3>
                <div class="panel panel-standout highlight">
                    <div class="panel-heading">
                        <h3><span class="ca-gov-icon-info"></span> Important Legal Notice</h3>
                    </div>
                    <div class="panel-body">
                        Resources provided by the California Revealed project provide only legal information, not legal advice. Although prepared by a copyright attorney, <strong><em>nothing in these web pages or documents should be considered legal advice.</em></strong>
                    </div>
                </div>

                <!-- FAQ -->
                <div class="panel-group" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Q: Does the "pre-1923" rule apply to photographs?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> Yes. With exceptions for sound recordings, the term of copyright is not dependent on the format or medium of the work. See the chart <a href="http://copyright.cornell.edu/resources/publicdomain.cfm" target="_blank">Copyright Term and the Public Domain</a> for help determining whether a particular work may be protected by copyright. <em>Note that sound recordings are addressed separately, about half way through the document.</em>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    Q: If a county entity commissioned a photographer to take photographs and paid for these photographs, do these photographs belong to the county?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> If the photographs were created after 1977, the copyright does not belong to the county unless it has a copyright assignment from the photographer (see below). If the photographs were created before 1978, the county will own the copyright as a work-made-for-hire ("WMFH"), but only if it was created "at the instance and expense" of the hiring party. See <a href="/services/to-libraries/ca-revealed/ownership">Determining Copyright Ownership</a> for an explanation of WMFH.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                    Q: Who has copyright in school yearbook pictures?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> This depends on several variables. For pre-1978 photos, if the photographer was hired by the school district or by an individual (e.g., the subject's parents) to take the photos, the copyrights would likely belong to the hiring party as works made for hire. However, for photos taken in 1978 or later, the work-made-for-hire doctrine is a bit more complicated. See <a href="/services/to-libraries/ca-revealed/ownership">Determining Copyright Ownership</a>.
                                </p>
                                <p>
                                    As a starting point, a good rule of thumb is to look for a copyright notice that would answer your question (at least, as of that moment). Of course, the original owner may have assigned the copyright; for example, the photographer may have assigned the copyright to the yearbook publisher in an employment or contractor agreement.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                    Q: Are volunteers treated the same as employees, in the context of copyright ownership? Would sound recordings created by library volunteers fall into the public domain?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> No, volunteers are not equivalent to employees in the context of works made for hire. The works-made-for-hire doctrine specifically applies to employees and independent contractors (though they are treated differently). See <a href="/services/to-libraries/ca-revealed/ownership">Determining Copyright Ownership</a> for more information.
                                </p>
                                <p>
                                    However, that has nothing to do with whether the recordings are in the public domain. Please see the chart <a href="http://copyright.cornell.edu/resources/publicdomain.cfm" target="_blank">Copyright Term and the Public Domain</a> for help determining whether the recordings are protected by copyright or in the public domain. Note that sound recordings are addressed separately, about half way through the chart. If the recordings are still protected by copyright, you should not assume that the volunteers own the copyrights in them. See <a href="/services/to-libraries/ca-revealed/oral-histories">About Oral Histories and Other Sound Recordings</a> for guidance.
                                </p>
                                <p>
                                    Regardless of copyright ownership, the library likely has some limited rights in the recordings in the form of "implied license." An implied license is one that is inferred based on the circumstances. The scope of an implied license is also determined by the circumstances. The ultimate question is: What did those involved in creating the recordings understand or expect regarding how they might be used? If the recordings were made with the understanding by any potential copyright owner that they would, or might, be used by the library for certain purposes, the library has an implied license to engage in those uses, regardless of who owns the copyright. If the recordings were originally made without the understanding that they might be shared beyond the physical walls of the library, the implied license probably does not extend to posting the recording online. However, if the possible copyright owner(s) understood at the time the recording was made that the library wished to make it as widely available as possible, the implied license might allow posting online, even if the Internet was not in existence at the time. Unfortunately, as you can see, determining the scope of an implied license can be difficult.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading5">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                    Q: Who would own the copyright in old school letters (from 1931 to 1950s)? Some are thank-you letters sent to the Librarian for a school visit. Are these letters property of the Library's librarian? Or would they be considered orphan documents?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> Assuming the letters haven't been published, they will be protected by copyright for seventy years beyond the death of the author, and the original copyright will belong to the author of the letter. If the author has died, the copyright will belong to the author's heirs. (The letters will only be orphans if you cannot determine who the copyright owner is.) See <a href="/services/to-libraries/ca-revealed/ownership">Determining Copyright Ownership</a> for tools to use in researching the current owner.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading6">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                                    Q: What happens to a copyright belonging to an individual when the individual dies?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> Copyright descends like any other property. If the copyright owner had a will, it will descend as the will dictates. If the person died intestate, it will descend according to the law of the applicable state. See <a href="/services/to-libraries/ca-revealed/ownership">Determining Copyright Ownership</a> for tools to use in researching the current owner.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading7">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                                    Q: Are older unpublished works, such as personal correspondence, protected by copyright, even if they were created before the current law took effect?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> Unless the copyright has expired, yes. Prior to the current statute (the Copyright Act of 1976), unpublished works were protected by federal copyright law only if the copyright was registered. However, unpublished works that were not registered had some amount of protection under state "common law." The 1976 Act abolished common law copyright and granted federal copyright protection to unregistered unpublished works. See the chart <a href="http://copyright.cornell.edu/resources/publicdomain.cfm" target="_blank">Copyright Term and the Public Domain</a> for help determining whether a particular work may be protected by copyright. <em>Note that sound recordings are addressed separately, about half way through the chart.</em>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
                                    Q: During the 1930s, as part of the WPA, writers and researchers were commissioned to research and write about the local history for the benefit of particular counties. Some of these works have been published. Who is the copyright holder of these documents?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> Unfortunately, we need a lot more information to answer this question.
                                </p>
                                <p>
                                    Under the Copyright Act of 1909 (governing works created before 1978), a work commissioned from an independent contractor and made "at the instance and expense" of the hiring party is a work made for hire ("WMFH"). (See <a href="/services/to-libraries/ca-revealed/ownership">Determining Copyright Ownership</a> for tools to use in researching the current owner.) Whether a particular situation meets this criteria depends on the details of that situation, but as a general rule if the hiring party requested and paid for the work, it will be considered a WMFH. If the writers were commissioned by the Works Progress Administration, it would be reasonable to expect that the works would be considered works made for hire and, as WMFH by the federal government, that they would be in the public domain. However, the 1909 Act was not at all clear that such would be the case.
                                </p>
                                <p>
                                    Although the 1909 Act clearly stated that works created by employees of the federal government constitute WMFH, the statute did not address works commissioned by the federal government. Making matters worse, the courts were inconsistent in their holdings on the issue.
                                </p>
                                <p>
                                    Even if we can consider the <em>published</em> works to be WMFH, it is not clear that the 1909 Act granted public domain status to <em>unpublished</em> works created by the federal government. The statute denied copyright to "any <em>publication</em> of the United States government," and, again, the courts have never ruled decisively whether this allows the federal government to claim copyright in <em>unpublished</em> WMFH.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading9">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
                                    Q: If the local club of the League of Women Voters is no longer in existence, does a work created by them constitute an orphan work, or can permission be sought from the last officer(s) or from the national organization? What about recordings of their meetings?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> It's not clear from this question what happened to the copyrights owned by the LWV. For example, they may have been transferred to the parent institution when the local club dissolved. However, it's also far from certain that the LWV owns any copyrights in the works at issue, as opposed to the individuals who created them. The original copyrights would only have belonged to the local LWV if the works constituted works made for hire (see <a href="/services/to-libraries/ca-revealed/ownership">Determining Copyright Ownership</a>) or the copyrights were assigned to the LWV.
                                </p>
                                <p>
                                    Keep in mind that copyright law is applied to sound recordings very differently than other types of works. See <a href="/services/to-libraries/ca-revealed/oral-histories">About Oral Histories and Other Sound Recordings</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading10">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
                                    Q: If letters are donated by someone other than the author, is a signed release form of any value?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> From a copyright perspective, no, unless the person who signed it acquired the copyright from the original owner. For example, the donor would be the copyright owner if the author is deceased and the donor is an heir who inherited the author's copyrights. From a practical perspective, however, the release may have some value. For example, the release reassures you that the donor will not try to prevent your use (as described in the release) of the letters, so if the donor is the only person likely to be interested in controlling use of the letters, your risk in using them is low to non-existent, regardless of copyright ownership.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading11">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse11" aria-expanded="true" aria-controls="collapse11">
                                    Q: The local AAUW taped public meetings relating to water issues in 1978. Copies were given to the library for public use. Does the library have a copyright?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> No. Copyright can only be transferred by a written document signed by the assignor. But this is only the tip of the iceberg! You have quite a few issues going on here.
                                </p>
                                <p>
                                    First, the AAUW may very well not own the copyright in the first place. See <a href="/services/to-libraries/ca-revealed/oral-histories">About Oral Histories and Other Sound Recordings</a>
                                </p>
                                <p>
                                    However, even if the AAUW never owned the copyright, it certainly had an implied license from the attendees at the meeting. The trick is determining the scope of that license. An implied license is one that is inferred based on the circumstances when no written agreement exists. The scope of an implied license is also determined by the circumstances. The ultimate question is: What did the parties to the license (in this case, the AAUW and those who spoke in the recording) understand or expect regarding how the recordings might be used?
                                </p>
                                <p>
                                    If you determine that the AAUW does not own the copyright, consider as much as you know or can find out about the situations in which the recordings were made. If the attendees at these meetings knew it was being recorded and that the recordings might be available to the public, you have a good argument that the library has a right to make them available online under an implied license.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading12">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse12" aria-expanded="true" aria-controls="collapse12">
                                    Q: Our oral history cassettes were created by three organizations (Friends of the Library, a local historical society, and a local college) in the 1970s-80s. The participants signed release forms stating that the recordings may be used for research and can be reproduced, copied, exhibited, or distributed for historical purposes. What rights does the library have?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> First, I have to give the caveat that it's impossible to say with certainty what any document means without having seen the entire document. So look closely for any other significant language. For example, does the release specifically say for use by those three organizations? If so, that could be a problem.
                                </p>
                                <p>
                                    The library has whatever rights were granted to it in the "releases." Based on your description, it sounds like the releases granted broad rights ("reproduced, copied, exhibited, or distributed") but for limited purposes ("historical"). I should point out that you did not say if the release includes "performance" as one of the rights granted. Technically, a sound recording would be performed, not "exhibited," which is a separate and distinct right under copyright law. That said, given the breadth of the rights granted, I think you have a good argument that the original intent and understanding of both parties was to include the right to publicly perform. See <a href="/services/to-libraries/ca-revealed/permission">About Permissions Documents</a>.
                                </p>
                                <p>
                                    The question is what does "historical purposes" mean? I would argue that the types of uses contemplated by the California Revealed project clearly constitute making materials like this available for historical purposes. However, for the sake of comparison, selling copies of the recordings for a library fundraiser would not!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading13">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse13" aria-expanded="true" aria-controls="collapse13">
                                    Q: What constitutes "publication," and why does it matter?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> Whether a work has been published is important, because, until March 1989, the status and circumstances of publication were factors in determining whether the work was protected by copyright and, if so, for how long. However, the definition of "publication" changed with implementation of the current copyright act, effective January 1, 1978.
                                </p>
                                <p>
                                    <strong><em>Works Created Prior to 1978</em></strong><br />
                                    Although the Copyright Act of 1909 did not define "publication," case law developed a robust definition holding that publication occurred when, by consent of the copyright owner, the original or tangible copies of a work are sold, leased, loaned, given away, or otherwise made available to the general public, or when an authorized offer is made to dispose of the work in any such manner, even if a sale or other such disposition does not in fact occur. The 1909 Act did define the date of publication as "the earliest date when copies of the first authorized edition were placed on sale, sold or publicly distributed."
                                </p>
                                <p>
                                    <strong><em>Works Created On or After January 1, 1978</em></strong><br />
                                    The Copyright Act of 1976 expressly defines publication, as "the distribution of copies or phonorecords of a work to the public by sale or other transfer of ownership, or by rental, lease, or lending [or] offering to distribute copies or phonorecords to a group of persons for purposes of further distribution, public performance, or public display."  It goes on to state that "a public performance or display of a work does not of itself constitute publication."
                                </p>
                                <p>
                                    <strong><em>About Archival "Publication"</em></strong><br />
                                    From time to time, digital archives include previously unpublished pre-1978 works on their websites and consider this to be "publication" by the institution. Under the law, this does <strong>not</strong> constitute publication unless done with the consent of the copyright owner; for copyright purposes, such works are considered to be unpublished.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading14">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse14" aria-expanded="true" aria-controls="collapse14">
                                    Q: How can you prove or make sure a work is unpublished?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> Technically, that would be impossible, because this is an attempt to prove a negative. All you can really do is conduct whatever research you reasonably can.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading15">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse15" aria-expanded="true" aria-controls="collapse15">
                                    Q: What should I do if a descendent of someone who's donated personal items (correspondence, etc.) comes forward and says they want it back, e.g. "My grandfather should never have given that to you, and I want it?"
                                </a>
                            </h3>
                        </div>
                        <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> Note that you didn't ask, "Do we have the right to keep them anyway?" but "What should we do?" If you determine the library has a legal right to keep the materials, you still have to decide whether you want to keep or return them. In other words, this is a question of library policy, because it involves practical considerations as well as legal.
                                </p>
                                <p>
                                    Since the donor gave the materials to the library, and assuming the donor had the legal right to give them to you, the library has a legal right to keep them, even in the absence of documentation signed by the donor (though such documentation would help you prove your right to the materials). How the library can legally use the materials depends on the circumstances of the donation. See <a href="/services/to-libraries/ca-revealed/permission">About Permissions Documents</a>.
                                </p>
                                <p>
                                    But the descendent in your scenario is clearly upset, and how the library wants to respond to that is a decision that can be made only by the library.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading16">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse16" aria-expanded="true" aria-controls="collapse16">
                                    Q: Does HIPAA (the Health Information Portability and Accountability Act) apply to people who died before the law was enacted?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> Libraries are not bound by HIPAA. HIPAA only applies to certain types of entities. Libraries do not constitute a covered entity, even as "health care clearinghouses" (defined as entities that convert health data from one format into another).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading17">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse17" aria-expanded="true" aria-controls="collapse17">
                                    Q: Must the copyright in a work be registered for the work to be protected by copyright?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> No, but only since March 1989. Prior to that, registration was required under certain conditions. Works created or published before March 1989 and for which registration was required fell into the public domain if not properly registered. See the chart <a href="http://copyright.cornell.edu/resources/publicdomain.cfm" target="_blank">Copyright Term and the Public Domain</a> for help determining whether a particular work may be protected by copyright. <em>Note that sound recordings are addressed separately, about half way through the chart.</em>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading18">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse18" aria-expanded="true" aria-controls="collapse18">
                                    Q: How can we use works subject to a Creative Commons license?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
                            <div class="panel-body">
                                <p>
                                    <strong>A:</strong> The <a href="https://creativecommons.org/" target="_blank">Creative Commons</a> ("CC") licensing mechanism is a means by which creators can easily attach a license to their works available online that tells users how they can and cannot use that work, in plain English (and other languages as well, but without the need to understand Legalese). However, not all CC licenses have the same terms. Creative Commons provides six prepared licenses from which a copyright owner may choose, depending on what uses she is willing to allow (e.g., only non-commercial or both commercial and non). Therefore, you must read the license to know what uses are allowed. (The plain English version is called the "license deed;" if you click "legal code," you'll see a long screen of Legalese.)
                                </p>
                                <p>
                                    That said, even the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">most restrictive CC license</a> covers everything you will need for the California Revealed project, if you follow certain requirements:
                                </p>
                                <ul>
                                    <li>If supplied, you must provide the name of the creator and attribution parties, a copyright notice, a license notice, a disclaimer notice, and a link to the material.</li>
                                    <li>In some cases, you must also provide the title.</li>
                                    <li>If noted, indicate any modifications that have been made.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <br />
                <p>
                    <span  class="required-label">*</span>
                    This page copyright 2016, Gretchen McCord. Content may be copied and used on an individual basis for non-commercial purposes only but may not be modified or broadly distributed without permission. For example, you may link to this page (linking does not infringe copyright), but you may not copy and paste the following content on another page.
                </p>
            </div>
        </div>
    </main>
</div>

