@model CSLBusinessObjects.Models.Exams.LibrarianModel
@{
    ViewBag.Title = "Apply";
    ViewBag.PageTitle = "Librarian and Senior Librarian Supplemental Application";
}

<head>
    <style>
        label.normal {
            font-weight: 200;
        }
    </style>
    <script>
        function showHideExams() {

            // if neither picked value = 0
            // if librarian picked value = 1
            // if senior librarian picked value = 2
            // if both picked = 3

            var selectedItems = 0;
            {
                //both
                if (document.getElementById('SeniorLibrarian').checked == true && document.getElementById('Librarian').checked == true) {
                    selectedItems = 3;
                }
                //neither
                else if (document.getElementById('SeniorLibrarian').checked == false && document.getElementById('Librarian').checked == false) {
                    selectedItems = 0;
                }
                //librarian checked
                else if (document.getElementById('SeniorLibrarian').checked == false && document.getElementById('Librarian').checked == true) {
                    selectedItems = 1;
                }
                //senior librarian checked
                else if (document.getElementById('SeniorLibrarian').checked == true && document.getElementById('Librarian').checked == false) {
                    selectedItems = 2;
                }

                console.log("selectedItems = " + selectedItems);
            }

            if (selectedItems == 1) {
                $('.libEducation').show();
                $('.senLibEducation').hide();
                $('#senLibInfoExperience').hide();
                $('#libFuncExperience').show();
                $('#senLibFuncExperience').hide();
                $('.tab-SenLib-question').hide();
            }
            else if (selectedItems == 2) {
                $('.libEducation').hide();
                $('.senLibEducation').show();
                $('#senLibInfoExperience').show();
                $('#libFuncExperience').hide();
                $('#senLibFuncExperience').show();
                $('.tab-SenLib-question').show();

            }
            else if (selectedItems == 3) {
                $('.libEducation').hide();
                $('.senLibEducation').show();
                $('#senLibInfoExperience').show();
                $('#libFuncExperience').show();
                $('#senLibFuncExperience').show();
                $('.tab-SenLib-question').show();

            }
            else if (selectedItems == 0) {
                $('.senLibEducation').hide();
                $('.libEducation').hide();
                $('#senLibInfoExperience').hide();
                $('#libFuncExperience').hide();
                $('#senLibFuncExperience').hide();
                $('.tab-SenLib-question').hide();
            }
        }

        $(document).ready(function () {
            $('.basicInfoExperience').hide();
            $('.tab-SenLib-question').hide();

            showHideExams();
        });
    </script>

</head>
<div id="main-content" class="main-content">
    <main class="main-primary">

        <div class="section">
            <div class="container">

                <ol class="breadcrumb dynamic"></ol>
                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <div class="group">
                    @using (Html.BeginForm("Apply", "Librarian", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        <div class='panel-group' role='tablist' aria-multiselectable='true'>

                            <div class='panel panel-default'>

                                <div class='panel-heading' role='tab' id='heading1'>
                                    <h3 class='panel-title'>
                                        <a role='button' data-toggle='collapse' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>Step 1: Instructions</a>
                                    </h3>
                                </div>

                                <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                                    <div class="panel-body">
                                        <p>
                                            Thank you for your interest in a position of Librarian and Senior Librarian at the California State Library.
                                        </p>
                                        <p>
                                            In order to be considered for these jobs, it is first necessary for you to take and pass a civil service examination
                                            with a score that is among the highest of the applicants who take the test.
                                        </p>
                                        <p>
                                            Along with submission of a detailed resume, completion of this supplemental application is the examination process.
                                            This supplemental application solicits specific information about your experience and background that is directly
                                            relevant to these jobs.
                                        </p>
                                        <p>
                                            Please answer each question, clearly, concisely, and truthfully on the attached form. Failure to follow these instructions will result in elimination from the examination process.
                                            <strong>
                                                Please note that there is no save function in this exam and it must be completed in one seating. We recommend that you review the questions and prepare your responses
                                                before starting the exam.
                                            </strong>
                                        </p>
                                        <p>
                                            There is no deadline for submission of your application materials.  This examination process will be available
                                            throughout the year.  As vacancies occur, all individuals who have submitted their information and passed the
                                            examination will be notified of the next steps to be considered for any available position.
                                        </p>
                                        <p>
                                            The information you provide will be evaluated by a team of subject matter specialists who will rate your responses
                                            on the quality and clarity of your writing as demonstrated by your responses, as well as the breadth and depth of
                                            your relevant experience.  You will be given an overall score on this supplemental application and this will
                                            determine your placement on the list of those who pass the examination.  You will be notified in writing of your
                                            exam results.
                                        </p>
                                        <p>
                                            If you pass the examination, you may then apply for and be considered for individual job vacancies in this
                                            classification.   In addition, the Department may contact you directly as vacancies occur.
                                        </p>
                                        <p>
                                            If you are selected to be considered for hire into a vacancy, you will be invited to participate in a comprehensive
                                            hiring interview process consisting of the following:
                                        </p>
                                        <ol>
                                            <li>
                                                Submission of a standard state application
                                            </li>
                                            <li>
                                                A visual resume where you will be asked to make a five minute stand-up presentation discussing your experience and qualifications for the job
                                            </li>
                                            <li>
                                                A set of interview questions designed to explore your specific qualifications
                                            </li>
                                        </ol>
                                        <p>
                                            If you have any questions, please contact us at <a href="mailto:csljobs@library.ca.gov">csljobs@library.ca.gov</a> or (916) 654-0202.
                                        </p>
                                        <br>
                                        <div style="text-align:center; font-weight:bold;">
                                            <p><strong>We wish you luck in the process.</strong></p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class='panel panel-default'>
                                <div class='panel-heading' role='tab' id='heading2'>
                                    <h3 class='panel-title'>
                                        <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>Step 2: Examinations</a>
                                    </h3>
                                </div>
                                <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                                    <div class="panel-body">

                                        <p>
                                            Please indicate the examination(s) you wish to take.  You may apply for and take one or two
                                            examinations provided that you meet the minimum education and experience requirements for each classification.
                                        </p>

                                        <div id="examChkBoxContainer">
                                            <div id="MainContent_examChkBoxList">
                                                <!--librarian checkbox open librarian questions-->
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.RadioButtonFor(m => m.IsLibrarian, true, new { id = "Librarian", type = "checkbox", onclick = "showHideExams()" })
                                                        Librarian
                                                    </label>
                                                </div>
                                                <!--senior librarian checkbox open seniorlibrarian questions-->
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.RadioButtonFor(m => m.IsSeniorLibrarian, true, new { id = "SeniorLibrarian", type = "checkbox", onclick = "showHideExams()" })
                                                        Senior Librarian
                                                    </label>
                                                </div>
                                                @Html.ValidationMessage("Librarian", new { @class = "text-danger" })
                                                @Html.ValidationMessage("SeniorLibrarian", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class='panel panel-default'>
                                <div class='panel-heading' role='tab' id='heading3'>
                                    <h3 class='panel-title'>
                                        <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>Step 3: Basic Information</a>
                                    </h3>
                                </div>
                                <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                                    <div class="panel-body">

                                        <div id="nameEmailContainer">

                                            <div id="basicInfoName" class="form-group half">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Name)
                                                @Html.TextBoxFor(m => m.Name, "Name", new { @class = "form-control", })

                                                @Html.ValidationMessage("Name", new { @class = "text-danger" })


                                            </div>

                                            <div id="basicInfoEmail " class="form-group half">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Email)
                                                @Html.TextBoxFor(m => m.Email, "Email", new { @class = "form-control", type = "email" })
                                                @Html.ValidationMessage("Email", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <br />
                                        <div id="basicInfoEducation">

                                            <div class="libEducation" style="display: none;">
                                                
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.HasEducation)

                                                    <div class="checkbox" id="MainContent_rblEducation">
                                                        <p>
                                                            @Html.RadioButtonFor(m => m.HasEducation, true) Yes
                                                        </p>

                                                        <p>
                                                            @Html.RadioButtonFor(m => m.HasEducation, false) No
                                                        </p>
                                                        @Html.ValidationMessage("HasEducation", new { @class = "text-danger" })
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="senLibEducation">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.HasEducation)

                                                    <div class="checkbox">
                                                        <p>
                                                            @Html.RadioButtonFor(m => m.HasEducation, true) Yes
                                                        </p>

                                                        <p>
                                                            @Html.RadioButtonFor(m => m.HasEducation, false) No
                                                        </p>
                                                        @Html.ValidationMessage("HasEducation", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="libEducation" style="display: none;">
                                            <div class="checkbox">
                                                <label class="normal">
                                                    @Html.RadioButtonFor(m => m.IfNot, true, new { type = "checkbox" }) <span class="required-label">*</span>If not, check here if you are a registered graduate student in a library school.
                                                </label>
                                            </div>
                                            @Html.ValidationMessage("IfNot", new { @class = "text-danger" })
                                        </div>

                                        <br>

                                        <div id="senLibInfoExperience" class="basicInfoExperience" style="display: none;">
                                            <p>
                                                <strong style="text-decoration: underline;">Senior Librarian</strong>
                                            </p>

                                            <em>
                                                @Html.LabelFor(m => m.HasExperience, new { @class = "normal" })
                                            </em>

                                            <div class="radio">
                                                @Html.LabelFor(m => m.HasExperience)
                                                <label>@Html.RadioButtonFor(m => m.HasExperience, true, "Experience") Two years in the California state service performing professional librarian duties at a level of responsibility equivalent to that of a <a href="http://www.calhr.ca.gov/state-hr-professionals/pages/2951.aspx">Librarian</a></label>
                                                <label> @Html.RadioButtonFor(m => m.HasExperience, true, "Experience") Three years of increasingly responsible and varied professional library experience such as cataloging, reference work, library service projects, and the selection of library materials, at least one year of which must have included regular use of computerized databases</label>
                                                @Html.ValidationMessage("Experience", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br>

                                        <div id="libFuncExperience" style="display:none">
                                            <p>
                                                <em>
                                                    Please describe your highest level of experience in each of the following library functions for Librarian:
                                                </em>
                                            </p>
                                            <!--SearchStrategies-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.SearchStrategies, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.SearchStrategies, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameSearchStrategies)
                                                @Html.TextBoxFor(m => m.NameSearchStrategies, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailSearchStrategies)
                                                @Html.TextBoxFor(m => m.EmailSearchStrategies, new { type = "email", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumSearchStrategies)
                                                @Html.TextBoxFor(m => m.PhoneNumSearchStrategies, new { type = "text", @class = "form-control" })
                                            </div>
                                            <!--end SearchStrategies-->
                                            <!--BibliographicInfo-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.BibliographicInfo, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.BibliographicInfo, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameBibliographicInfo)
                                                @Html.TextBoxFor(m => m.NameBibliographicInfo, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailBibliographicInfo)
                                                @Html.TextBoxFor(m => m.EmailBibliographicInfo, new { type = "email", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumBibliographicInfo)
                                                @Html.TextBoxFor(m => m.PhoneNumBibliographicInfo, new { type = "text", @class = "form-control" })
                                            </div>
                                            <!--end BibliographicInfo-->
                                            <!--ComputerizedData-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.ComputerizedData, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.ComputerizedData, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameComputerizedData)
                                                @Html.TextBoxFor(m => m.NameComputerizedData, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailComputerizedData)
                                                @Html.TextBoxFor(m => m.EmailComputerizedData, new { type = "email", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumComputerizedData)
                                                @Html.TextBoxFor(m => m.PhoneNumComputerizedData, new { type = "text", @class = "form-control" })
                                            </div>
                                            <!--end ComputerizedData-->


                                        </div>


                                        <div id="senLibFuncExperience" style="display:none">

                                            <p>
                                                <em>
                                                    Please describe your highest level of experience in each of the following library functions for Senior Librarian:
                                                </em>
                                            </p>

                                            <!--CollectionDevelopment-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.CollectionDevelopment, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.CollectionDevelopment, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameCollectionDevelopment)
                                                @Html.TextBoxFor(m => m.NameCollectionDevelopment, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailCollectionDevelopment)
                                                @Html.TextBoxFor(m => m.EmailCollectionDevelopment, new { type = "email", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumCollectionDevelopment)
                                                @Html.TextBoxFor(m => m.PhoneNumCollectionDevelopment, new { type = "text", @class = "form-control" })
                                            </div>
                                            <!--end CollectionDevelopment-->
                                            <!--Acquisitions-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.Acquisitions, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Acquisitions, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameAcquisitions)
                                                @Html.TextBoxFor(m => m.NameAcquisitions, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailAcquisitions)
                                                @Html.TextBoxFor(m => m.EmailAcquisitions, new { type = "email", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumAcquisitions)
                                                @Html.TextBoxFor(m => m.PhoneNumAcquisitions, new { type = "text", @class = "form-control" })
                                            </div>
                                            <!--end Acquisitions-->
                                            <!--CatalogAndClass-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.CatalogAndClass, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.CatalogAndClass, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameCatalogAndClass)
                                                @Html.TextBoxFor(m => m.NameCatalogAndClass, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailCatalogAndClass)
                                                @Html.TextBoxFor(m => m.EmailCatalogAndClass, new { type = "email", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumCatalogAndClass)
                                                @Html.TextBoxFor(m => m.PhoneNumCatalogAndClass, new { type = "text", @class = "form-control" })
                                            </div>
                                            <!--end CatalogAndClass-->
                                            <!--Reference-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.Reference, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Reference, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameReference)
                                                @Html.TextBoxFor(m => m.NameReference, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailReference)
                                                @Html.TextBoxFor(m => m.EmailReference, new { type = "email", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumReference)
                                                @Html.TextBoxFor(m => m.PhoneNumReference, new { type = "text", @class = "form-control" })
                                            </div>
                                            <!--end Reference-->
                                            <!--Circulation-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.Circulation, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Circulation, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameCirculation)
                                                @Html.TextBoxFor(m => m.NameCirculation, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailCirculation)
                                                @Html.TextBoxFor(m => m.EmailCirculation, new { type = "email", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumCirculation)
                                                @Html.TextBoxFor(m => m.PhoneNumCirculation, new { type = "text", @class = "form-control" })
                                            </div>
                                            <!--end Circulation-->
                                            <!--Preservation-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.Preservation, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Preservation, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NamePreservation)
                                                @Html.TextBoxFor(m => m.NamePreservation, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailPreservation)
                                                @Html.TextBoxFor(m => m.EmailPreservation, new { type = "email", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumPreservation)
                                                @Html.TextBoxFor(m => m.PhoneNumPreservation, new { type = "text", @class = "form-control" })
                                            </div>
                                            <!--end Preservation-->
                                            <!--Specialized-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.Specialized, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Specialized, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameSpecialized)
                                                @Html.TextBoxFor(m => m.NameSpecialized, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailSpecialized)
                                                @Html.TextBoxFor(m => m.EmailSpecialized, new { type = "email", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumSpecialized)
                                                @Html.TextBoxFor(m => m.PhoneNumSpecialized, new { type = "text", @class = "form-control" })
                                            </div>
                                            <!--end Specialized-->

                                        </div>

                                    </div><!--end panel body for accoridon #3-->
                                </div>
                            </div>



                        </div><!--end accordion-->
                    }
                </div>
            </div>
        </div>
    </main>
</div>
