@model CSLBusinessObjects.Models.Exams.LibrarianModel
@{
    ViewBag.Title = "Apply";
}


<div id="main-content" class="main-content">
    <main class="main-primary">
        
        <div class="section section-standout">
            <div class="container">
                <div class="group">
                    @using (Html.BeginForm("Apply", "Librarian", FormMethod.Post))
                    {
                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.IsLibrarian, "Librarian")
                                @Html.RadioButtonFor(m => m.IsLibrarian, "Librarian")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.IsSeniorLibrarian, "SeniorLibrarian")
                                @Html.RadioButtonFor(m => m.IsSeniorLibrarian, "SeniorLibrarian")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Name, "Name")
                                @Html.TextAreaFor(m => m.Name, "Name")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Email, "Email")
                                @Html.TextAreaFor(m => m.Email, "Email")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.HasExperience, "Experience")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.SearchStrategies, "SearchStrategies")
                                @Html.TextAreaFor(m => m.SearchStrategies, "SearchStrategies")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameSearchStrategies, "NameSearchStrategies")
                                @Html.TextAreaFor(m => m.NameSearchStrategies, "NameSearchStrategies")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailSearchStrategies, "EmailSearchStrategies")
                                @Html.TextAreaFor(m => m.EmailSearchStrategies, "EmailSearchStrategies")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumSearchStrategies, "PhoneNumSearchStrategies")
                                @Html.TextAreaFor(m => m.PhoneNumSearchStrategies, "PhoneNumSearchStrategies")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.CollectionDeveopment, "CollectionDeveopment")
                                @Html.TextAreaFor(m => m.CollectionDeveopment, "CollectionDeveopment")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameCollectionDeveopment, "NameCollectionDeveopment")
                                @Html.TextAreaFor(m => m.NameCollectionDeveopment, "NameCollectionDeveopment")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailCollectionDeveopment, "EmailCollectionDeveopment")
                                @Html.TextAreaFor(m => m.EmailCollectionDeveopment, "EmailCollectionDeveopment")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumCollectionDeveopment, "PhoneNumCollectionDeveopment")
                                @Html.TextAreaFor(m => m.PhoneNumCollectionDeveopment, "PhoneNumCollectionDeveopment")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.BibliographicInfo, "BibliographicInfo")
                                @Html.TextAreaFor(m => m.BibliographicInfo, "BibliographicInfo")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameBibliographicInfo, "NameBibliographicInfo")
                                @Html.TextAreaFor(m => m.NameBibliographicInfo, "NameBibliographicInfo")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailBibliographicInfo, "EmailBibliographicInfo")
                                @Html.TextAreaFor(m => m.EmailBibliographicInfo, "EmailBibliographicInfo")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumBibliographicInfo, "PhoneNumBibliographicInfo")
                                @Html.TextAreaFor(m => m.PhoneNumBibliographicInfo, "PhoneNumBibliographicInfo")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.ComputerizedData, "ComputerizedData")
                                @Html.TextAreaFor(m => m.ComputerizedData, "ComputerizedData")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameComputerizedData, "NameComputerizedData")
                                @Html.TextAreaFor(m => m.NameComputerizedData, "NameComputerizedData")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailComputerizedData, "EmailComputerizedData")
                                @Html.TextAreaFor(m => m.EmailComputerizedData, "EmailComputerizedData")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumComputerizedData, "PhoneNumComputerizedData")
                                @Html.TextAreaFor(m => m.PhoneNumComputerizedData, "PhoneNumComputerizedData")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Acquisitions, "Acquisitions")
                                @Html.TextAreaFor(m => m.Acquisitions, "Acquisitions")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameAcquisitions, "NameAcquisitions")
                                @Html.TextAreaFor(m => m.NameAcquisitions, "NameAcquisitions")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailAcquisitions, "EmailAcquisitions")
                                @Html.TextAreaFor(m => m.EmailAcquisitions, "EmailAcquisitions")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumAcquisitions, "PhoneNumAcquisitions")
                                @Html.TextAreaFor(m => m.PhoneNumAcquisitions, "PhoneNumAcquisitions")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.CatalogAndClass, "CatalogAndClass")
                                @Html.TextAreaFor(m => m.CatalogAndClass, "CatalogAndClass")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameCatalogAndClass, "NameCatalogAndClass")
                                @Html.TextAreaFor(m => m.NameCatalogAndClass, "NameCatalogAndClass")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailCatalogAndClass, "EmailCatalogAndClass")
                                @Html.TextAreaFor(m => m.EmailCatalogAndClass, "EmailCatalogAndClass")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumCatalogAndClass, "PhoneNumCatalogAndClass")
                                @Html.TextAreaFor(m => m.PhoneNumCatalogAndClass, "PhoneNumCatalogAndClass")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Reference, "Reference")
                                @Html.TextAreaFor(m => m.Reference, "Reference")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameReference, "NameReference")
                                @Html.TextAreaFor(m => m.NameReference, "NameReference")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailReference, "EmailReference")
                                @Html.TextAreaFor(m => m.EmailReference, "EmailReference")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumReference, "PhoneNumReference")
                                @Html.TextAreaFor(m => m.PhoneNumReference, "PhoneNumReference")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Circulation, "Circulation")
                                @Html.TextAreaFor(m => m.Circulation, "Circulation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameCirculation, "NameCirculation")
                                @Html.TextAreaFor(m => m.NameCirculation, "NameCirculation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailCirculation, "EmailCirculation")
                                @Html.TextAreaFor(m => m.EmailCirculation, "EmailCirculation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumCirculation, "PhoneNumCirculation")
                                @Html.TextAreaFor(m => m.PhoneNumCirculation, "PhoneNumCirculation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Circulation, "Circulation")
                                @Html.TextAreaFor(m => m.Circulation, "Circulation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameCirculation, "NameCirculation")
                                @Html.TextAreaFor(m => m.NameCirculation, "NameCirculation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailCirculation, "EmailCirculation")
                                @Html.TextAreaFor(m => m.EmailCirculation, "EmailCirculation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumCirculation, "PhoneNumCirculation")
                                @Html.TextAreaFor(m => m.PhoneNumCirculation, "PhoneNumCirculation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Preservation, "Preservation")
                                @Html.TextAreaFor(m => m.Preservation, "Preservation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NamePreservation, "NamePreservation")
                                @Html.TextAreaFor(m => m.NamePreservation, "NamePreservation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailPreservation, "EmailPreservation")
                                @Html.TextAreaFor(m => m.EmailPreservation, "EmailPreservation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumPreservation, "PhoneNumPreservation")
                                @Html.TextAreaFor(m => m.PhoneNumPreservation, "PhoneNumPreservation")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Specialized, "Specialized")
                                @Html.TextAreaFor(m => m.Specialized, "Specialized")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameSpecialized, "NameSpecialized")
                                @Html.TextAreaFor(m => m.NameSpecialized, "NameSpecialized")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailSpecialized, "EmailSpecialized")
                                @Html.TextAreaFor(m => m.EmailSpecialized, "EmailSpecialized")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumSpecialized, "PhoneNumSpecialized")
                                @Html.TextAreaFor(m => m.PhoneNumSpecialized, "PhoneNumSpecialized")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Q1, "Q1")
                                @Html.TextAreaFor(m => m.Q1, "Q1")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameQ1, "NameQ1")
                                @Html.TextAreaFor(m => m.NameQ1, "NameQ1")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailQ1, "EmailQ1")
                                @Html.TextAreaFor(m => m.EmailQ1, "EmailQ1")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumQ1, "PhoneNumQ1")
                                @Html.TextAreaFor(m => m.PhoneNumQ1, "PhoneNumQ1")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Q2, "Q2")
                                @Html.TextAreaFor(m => m.Q2, "Q2")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameQ2, "NameQ2")
                                @Html.TextAreaFor(m => m.NameQ2, "NameQ2")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailQ2, "EmailQ2")
                                @Html.TextAreaFor(m => m.EmailQ2, "EmailQ2")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumQ2, "PhoneNumQ2")
                                @Html.TextAreaFor(m => m.PhoneNumQ2, "PhoneNumQ2")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Q3, "Q3")
                                @Html.TextAreaFor(m => m.Q3, "Q3")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameQ3, "NameQ3")
                                @Html.TextAreaFor(m => m.NameQ3, "NameQ3")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailQ3, "EmailQ3")
                                @Html.TextAreaFor(m => m.EmailQ3, "EmailQ3")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumQ3, "PhoneNumQ3")
                                @Html.TextAreaFor(m => m.PhoneNumQ3, "PhoneNumQ3")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Q4, "Q4")
                                @Html.TextAreaFor(m => m.Q4, "Q4")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameQ4, "NameQ4")
                                @Html.TextAreaFor(m => m.NameQ4, "NameQ4")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailQ4, "EmailQ4")
                                @Html.TextAreaFor(m => m.EmailQ4, "EmailQ4")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumQ4, "PhoneNumQ4")
                                @Html.TextAreaFor(m => m.PhoneNumQ4, "PhoneNumQ4")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Q5, "Q5")
                                @Html.TextAreaFor(m => m.Q5, "Q5")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameQ5, "NameQ5")
                                @Html.TextAreaFor(m => m.NameQ5, "NameQ5")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailQ5, "EmailQ5")
                                @Html.TextAreaFor(m => m.EmailQ5, "EmailQ5")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumQ5, "PhoneNumQ5")
                                @Html.TextAreaFor(m => m.PhoneNumQ5, "PhoneNumQ5")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Q6, "Q6")
                                @Html.TextAreaFor(m => m.Q6, "Q6")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameQ6, "NameQ6")
                                @Html.TextAreaFor(m => m.NameQ6, "NameQ6")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailQ6, "EmailQ6")
                                @Html.TextAreaFor(m => m.EmailQ6, "EmailQ6")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumQ6, "PhoneNumQ6")
                                @Html.TextAreaFor(m => m.PhoneNumQ6, "PhoneNumQ6")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Q7, "Q7")
                                @Html.TextAreaFor(m => m.Q7, "Q7")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameQ7, "NameQ7")
                                @Html.TextAreaFor(m => m.NameQ7, "NameQ7")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailQ7, "EmailQ7")
                                @Html.TextAreaFor(m => m.EmailQ7, "EmailQ7")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumQ7, "PhoneNumQ7")
                                @Html.TextAreaFor(m => m.PhoneNumQ7, "PhoneNumQ7")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Q8, "Q8")
                                @Html.TextAreaFor(m => m.Q8, "Q8")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.NameQ8, "NameQ8")
                                @Html.TextAreaFor(m => m.NameQ8, "NameQ8")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.EmailQ8, "EmailQ8")
                                @Html.TextAreaFor(m => m.EmailQ8, "EmailQ8")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.PhoneNumQ8, "PhoneNumQ8")
                                @Html.TextAreaFor(m => m.PhoneNumQ8, "PhoneNumQ8")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                <input type="file" name="file"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Signature, "Signature")
                                @Html.TextAreaFor(m => m.Signature, "Signature")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="half">
                                @Html.LabelFor(m => m.Date, "Date")
                                @Html.TextAreaFor(m => m.Date, "Date")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pull-right">
                                <input type="submit" value="Submit" />
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </main>
</div>
