@model CSLBusinessObjects.Models.Exams.LibrarianModel
@{
    ViewBag.Title = "Apply";
    ViewBag.PageTitle = "Librarian and Senior Librarian Supplemental Application";
}

<head>
    <style>
        label.normal {
            font-weight: 200;
        }
    </style>
@if (Model.Success == false)
{
    <script>
        function showHideExams() {

            // if neither picked value = 0
            // if librarian picked value = 1
            // if senior librarian picked value = 2
            // if both picked = 3

            var selectedItems = 0;
            {
                //both
                if (document.getElementById('SeniorLibrarian').checked == true && document.getElementById('Librarian').checked == true) {
                    selectedItems = 3;
                }
                //neither
                else if (document.getElementById('SeniorLibrarian').checked == false && document.getElementById('Librarian').checked == false) {
                    selectedItems = 0;
                }
                //librarian checked
                else if (document.getElementById('SeniorLibrarian').checked == false && document.getElementById('Librarian').checked == true) {
                    selectedItems = 1;
                }
                //senior librarian checked
                else if (document.getElementById('SeniorLibrarian').checked == true && document.getElementById('Librarian').checked == false) {
                    selectedItems = 2;
                }

                console.log("selectedItems = " + selectedItems);
            }

            if (selectedItems == 1) {
                $('.libEducation').show();
                $('.senLibEducation').hide();
                $('#senLibInfoExperience').hide();
                $('#libFuncExperience').show();
                $('#senLibFuncExperience').hide();
                $('.tab-SenLib-question').hide();
            }
            else if (selectedItems == 2) {
                $('.libEducation').hide();
                $('.senLibEducation').show();
                $('#senLibInfoExperience').show();
                $('#libFuncExperience').hide();
                $('#senLibFuncExperience').show();
                $('.tab-SenLib-question').show();

            }
            else if (selectedItems == 3) {
                $('.libEducation').hide();
                $('.senLibEducation').show();
                $('#senLibInfoExperience').show();
                $('#libFuncExperience').show();
                $('#senLibFuncExperience').show();
                $('.tab-SenLib-question').show();

            }
            else if (selectedItems == 0) {
                $('.senLibEducation').hide();
                $('.libEducation').hide();
                $('#senLibInfoExperience').hide();
                $('#libFuncExperience').hide();
                $('#senLibFuncExperience').hide();
                $('.tab-SenLib-question').hide();
            }
        }

        $(document).ready(function () {
            $('.basicInfoExperience').hide();
            $('.tab-SenLib-question').hide();

            showHideExams();
        });
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
</head>
<div id="main-content" class="main-content">
    <main class="main-primary">

        <div class="section">
            <div class="container">

                <ol class="breadcrumb dynamic"></ol>
                <h2 class="page-title">@ViewBag.PageTitle</h2>

                @if(Model.Success == false) { 
                    <div class="group">
                    @using (Html.BeginForm("Apply", "Librarian", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        <div class='panel-group' role='tablist' aria-multiselectable='true'>

                            <div class='panel panel-default'>

                                <div class='panel-heading' role='tab' id='heading1'>
                                    <h3 class='panel-title'>
                                        <a role='button' data-toggle='collapse' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>Step 1: Instructions</a>
                                    </h3>
                                </div>

                                <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                                    <div class="panel-body">
                                        <p>
                                            Thank you for your interest in a position of Librarian and Senior Librarian at the California State Library.
                                        </p>
                                        <p>
                                            In order to be considered for these jobs, it is first necessary for you to take and pass a civil service examination
                                            with a score that is among the highest of the applicants who take the test.
                                        </p>
                                        <p>
                                            Along with submission of a detailed resume, completion of this supplemental application is the examination process.
                                            This supplemental application solicits specific information about your experience and background that is directly
                                            relevant to these jobs.
                                        </p>
                                        <p>
                                            Please answer each question, clearly, concisely, and truthfully on the attached form. Failure to follow these instructions will result in elimination from the examination process.
                                            <strong>
                                                Please note that there is no save function in this exam and it must be completed in one seating. We recommend that you review the questions and prepare your responses
                                                before starting the exam.
                                            </strong>
                                        </p>
                                        <p>
                                            There is no deadline for submission of your application materials.  This examination process will be available
                                            throughout the year.  As vacancies occur, all individuals who have submitted their information and passed the
                                            examination will be notified of the next steps to be considered for any available position.
                                        </p>
                                        <p>
                                            The information you provide will be evaluated by a team of subject matter specialists who will rate your responses
                                            on the quality and clarity of your writing as demonstrated by your responses, as well as the breadth and depth of
                                            your relevant experience.  You will be given an overall score on this supplemental application and this will
                                            determine your placement on the list of those who pass the examination.  You will be notified in writing of your
                                            exam results.
                                        </p>
                                        <p>
                                            If you pass the examination, you may then apply for and be considered for individual job vacancies in this
                                            classification.   In addition, the Department may contact you directly as vacancies occur.
                                        </p>
                                        <p>
                                            If you are selected to be considered for hire into a vacancy, you will be invited to participate in a comprehensive
                                            hiring interview process consisting of the following:
                                        </p>
                                        <ol>
                                            <li>
                                                Submission of a standard state application
                                            </li>
                                            <li>
                                                A visual resume where you will be asked to make a five minute stand-up presentation discussing your experience and qualifications for the job
                                            </li>
                                            <li>
                                                A set of interview questions designed to explore your specific qualifications
                                            </li>
                                        </ol>
                                        <p>
                                            If you have any questions, please contact us at <a href="mailto:csljobs@library.ca.gov">csljobs@library.ca.gov</a> or (916) 654-0202.
                                        </p>
                                        <br>
                                        <div style="text-align:center; font-weight:bold;">
                                            <p><strong>We wish you luck in the process.</strong></p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class='panel panel-default'>
                                <div class='panel-heading' role='tab' id='heading2'>
                                    <h3 class='panel-title'>
                                        <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>Step 2: Examinations</a>
                                    </h3>
                                </div>
                                <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                                    <div class="panel-body">

                                        <p>
                                            Please indicate the examination(s) you wish to take.  You may apply for and take one or two
                                            examinations provided that you meet the minimum education and experience requirements for each classification.
                                        </p>

                                        <div id="examChkBoxContainer">
                                            <div id="MainContent_examChkBoxList">
                                                <!--librarian checkbox open librarian questions-->
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.RadioButtonFor(m => m.IsLibrarian, true, new { id = "Librarian", type = "checkbox", onclick = "showHideExams()" })
                                                        Librarian
                                                    </label>
                                                </div>
                                                <!--senior librarian checkbox open seniorlibrarian questions-->
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.RadioButtonFor(m => m.IsSeniorLibrarian, true, new { id = "SeniorLibrarian", type = "checkbox", onclick = "showHideExams()" })
                                                        Senior Librarian
                                                    </label>
                                                </div>
                                                @Html.ValidationMessage("Librarian", new { @class = "text-danger" })
                                                @Html.ValidationMessage("SeniorLibrarian", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class='panel panel-default'>
                                <div class='panel-heading' role='tab' id='heading3'>
                                    <h3 class='panel-title'>
                                        <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>Step 3: Basic Information</a>
                                    </h3>
                                </div>
                                <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                                    <div class="panel-body">

                                        <div id="nameEmailContainer">

                                            <div id="basicInfoName" class="form-group half">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Name)
                                                @Html.TextBoxFor(m => m.Name, "Name", new { @class = "form-control", placeholder = "John Doe" })

                                                @Html.ValidationMessage("Name", new { @class = "text-danger" })


                                            </div>

                                            <div id="basicInfoEmail " class="form-group half">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Email)
                                                @Html.TextBoxFor(m => m.Email, "Email", new { @class = "form-control", type = "email", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("Email", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <br />
                                        <div id="basicInfoEducation">

                                            <div class="libEducation">

                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.HasEducation)

                                                    <div class="checkbox" id="MainContent_rblEducation">
                                                        <p>
                                                            @Html.RadioButtonFor(m => m.HasEducation, true) Yes
                                                        </p>

                                                        <p>
                                                            @Html.RadioButtonFor(m => m.HasEducation, false) No
                                                        </p>
                                                        @Html.ValidationMessage("HasEducation", new { @class = "text-danger" })
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="senLibEducation">
                                                <div class="form-group">
                                                   <label for="HasEducation">Please affirm that you meet the following educational requirement: equivalent to graduation from a college or university and completion of a graduate degree from an accredited library school.</label>

                                                    <div class="checkbox">
                                                        <p>
                                                            @Html.RadioButtonFor(m => m.HasEducation, true) Yes
                                                        </p>

                                                        <p>
                                                            @Html.RadioButtonFor(m => m.HasEducation, false) No
                                                        </p>
                                                        @Html.ValidationMessage("HasEducation", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="libEducation" style="display: none;">
                                            <div class="checkbox">
                                                <label class="normal">
                                                    @Html.RadioButtonFor(m => m.IfNot, true, new { type = "checkbox" }) <span class="required-label">*</span>If not, check here if you are a registered graduate student in a library school.
                                                </label>
                                            </div>
                                            @Html.ValidationMessage("IfNot", new { @class = "text-danger" })
                                        </div>

                                        <br>

                                        <div id="senLibInfoExperience" class="basicInfoExperience" style="display: none;">
                                            <p>
                                                <strong style="text-decoration: underline;">Senior Librarian</strong>
                                            </p>

                                            <em>
                                                @Html.LabelFor(m => m.HasExperience, new { @class = "normal" })
                                            </em>

                                            <div class="radio">
                                                @Html.LabelFor(m => m.HasExperience)
                                                <label>@Html.RadioButtonFor(m => m.HasExperience, true, "Experience") Two years in the California state service performing professional librarian duties at a level of responsibility equivalent to that of a <a href="http://www.calhr.ca.gov/state-hr-professionals/pages/2951.aspx">Librarian</a></label>
                                                <label> @Html.RadioButtonFor(m => m.HasExperience, true, "Experience") Three years of increasingly responsible and varied professional library experience such as cataloging, reference work, library service projects, and the selection of library materials, at least one year of which must have included regular use of computerized databases</label>
                                                @Html.ValidationMessage("Experience", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br>

                                        <div id="libFuncExperience" style="display:none">
                                            <p>
                                                <em>
                                                    Please describe your highest level of experience in each of the following library functions for Librarian:
                                                </em>
                                            </p>
                                            <!--SearchStrategies-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.SearchStrategies, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.SearchStrategies, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                                @Html.ValidationMessage("SearchStrategies", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameSearchStrategies)
                                                @Html.TextBoxFor(m => m.NameSearchStrategies, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("NameSearchStrategies", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailSearchStrategies)
                                                @Html.TextBoxFor(m => m.EmailSearchStrategies, new { type = "email", @class = "form-control", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("EmailSearchStrategies", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumSearchStrategies)
                                                @Html.TextBoxFor(m => m.PhoneNumSearchStrategies, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("PhoneNumSearchStrategies", new { @class = "text-danger" })
                                            </div>
                                            <!--end SearchStrategies-->
                                            <!--BibliographicInfo-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.BibliographicInfo, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.BibliographicInfo, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                                @Html.ValidationMessage("BibliographicInfo", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameBibliographicInfo)
                                                @Html.TextBoxFor(m => m.NameBibliographicInfo, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("NameBibliographicInfo", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailBibliographicInfo)
                                                @Html.TextBoxFor(m => m.EmailBibliographicInfo, new { type = "email", @class = "form-control", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("EmailBibliographicInfo", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumBibliographicInfo)
                                                @Html.TextBoxFor(m => m.PhoneNumBibliographicInfo, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("PhoneNumBibliographicInfo", new { @class = "text-danger" })
                                            </div>
                                            <!--end BibliographicInfo-->
                                            <!--ComputerizedData-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.ComputerizedData, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.ComputerizedData, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                                @Html.ValidationMessage("ComputerizedData", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameComputerizedData)
                                                @Html.TextBoxFor(m => m.NameComputerizedData, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("NameComputerizedData", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailComputerizedData)
                                                @Html.TextBoxFor(m => m.EmailComputerizedData, new { type = "email", @class = "form-control", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("EmailComputerizedData", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumComputerizedData)
                                                @Html.TextBoxFor(m => m.PhoneNumComputerizedData, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("PhoneNumComputerizedData", new { @class = "text-danger" })
                                            </div>
                                            <!--end ComputerizedData-->


                                        </div>


                                        <div id="senLibFuncExperience" style="display:none">

                                            <p>
                                                <em>
                                                    Please describe your highest level of experience in each of the following library functions for Senior Librarian:
                                                </em>
                                            </p>

                                            <!--CollectionDevelopment-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.CollectionDevelopment, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.CollectionDevelopment, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                                @Html.ValidationMessage("CollectionDevelopment", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameCollectionDevelopment)
                                                @Html.TextBoxFor(m => m.NameCollectionDevelopment, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("NameCollectionDevelopment", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailCollectionDevelopment)
                                                @Html.TextBoxFor(m => m.EmailCollectionDevelopment, new { type = "email", @class = "form-control", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("EmailCollectionDevelopment", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumCollectionDevelopment)
                                                @Html.TextBoxFor(m => m.PhoneNumCollectionDevelopment, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("PhoneNumCollectionDevelopment", new { @class = "text-danger" })
                                            </div>
                                            <!--end CollectionDevelopment-->
                                            <!--Acquisitions-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.Acquisitions, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Acquisitions, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                                @Html.ValidationMessage("Acquisitions", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameAcquisitions)
                                                @Html.TextBoxFor(m => m.NameAcquisitions, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("NameAcquisitions", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailAcquisitions)
                                                @Html.TextBoxFor(m => m.EmailAcquisitions, new { type = "email", @class = "form-control", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("EmailAcquisitions", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumAcquisitions)
                                                @Html.TextBoxFor(m => m.PhoneNumAcquisitions, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("PhoneNumAcquisitions", new { @class = "text-danger" })
                                            </div>
                                            <!--end Acquisitions-->
                                            <!--CatalogAndClass-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.CatalogAndClass, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.CatalogAndClass, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                                @Html.ValidationMessage("CatalogAndClass", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameCatalogAndClass)
                                                @Html.TextBoxFor(m => m.NameCatalogAndClass, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("NameCatalogAndClass", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailCatalogAndClass)
                                                @Html.TextBoxFor(m => m.EmailCatalogAndClass, new { type = "email", @class = "form-control", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("EmailCatalogAndClass", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumCatalogAndClass)
                                                @Html.TextBoxFor(m => m.PhoneNumCatalogAndClass, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("PhoneNumCatalogAndClass", new { @class = "text-danger" })
                                            </div>
                                            <!--end CatalogAndClass-->
                                            <!--Reference-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.Reference, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Reference, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                                @Html.ValidationMessage("Reference", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameReference)
                                                @Html.TextBoxFor(m => m.NameReference, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("NameReference", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailReference)
                                                @Html.TextBoxFor(m => m.EmailReference, new { type = "email", @class = "form-control", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("EmailReference", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumReference)
                                                @Html.TextBoxFor(m => m.PhoneNumReference, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("PhoneNumReference", new { @class = "text-danger" })
                                            </div>
                                            <!--end Reference-->
                                            <!--Circulation-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.Circulation, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Circulation, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                                @Html.ValidationMessage("Circulation", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameCirculation)
                                                @Html.TextBoxFor(m => m.NameCirculation, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("NameCirculation", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailCirculation)
                                                @Html.TextBoxFor(m => m.EmailCirculation, new { type = "email", @class = "form-control", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("EmailCirculation", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumCirculation)
                                                @Html.TextBoxFor(m => m.PhoneNumCirculation, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("PhoneNumCirculation", new { @class = "text-danger" })
                                            </div>
                                            <!--end Circulation-->
                                            <!--Preservation-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.Preservation, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Preservation, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                                @Html.ValidationMessage("Preservation", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NamePreservation)
                                                @Html.TextBoxFor(m => m.NamePreservation, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("NamePreservation", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailPreservation)
                                                @Html.TextBoxFor(m => m.EmailPreservation, new { type = "email", @class = "form-control", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("EmailPreservation", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumPreservation)
                                                @Html.TextBoxFor(m => m.PhoneNumPreservation, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("PhoneNumPreservation", new { @class = "text-danger" })
                                            </div>
                                            <!--end Preservation-->
                                            <!--Specialized-->
                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.Specialized, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Specialized, new { maxlength = "900", @class = "form-control" })
                                                <span>900 character limit</span>
                                                @Html.ValidationMessage("Specialized", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameSpecialized)
                                                @Html.TextBoxFor(m => m.NameSpecialized, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("NameSpecialized", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailSpecialized)
                                                @Html.TextBoxFor(m => m.EmailSpecialized, new { type = "email", @class = "form-control", placeholder = "example@example.com" })
                                                @Html.ValidationMessage("EmailSpecialized", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumSpecialized)
                                                @Html.TextBoxFor(m => m.PhoneNumSpecialized, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("PhoneNumSpecialized", new { @class = "text-danger" })
                                            </div>
                                            <!--end Specialized-->

                                        </div>

                                    </div><!--end panel body for accoridon #3-->
                                </div>
                            </div>

                            <div class='panel panel-default'>
                                <div class='panel-heading' role='tab' id='heading4'>
                                    <h3 class='panel-title'>
                                        <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse4' aria-expanded='false' aria-controls='collapse4'>Step 4: Questions</a>
                                    </h3>
                                </div>
                                <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                                    <div class='panel-body'>

                                        <!--Q1-->
                                        <div class="tab-question-Q1">
                                            <div class="form-group">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Q1, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Q1, new { maxlength = "900", @class = "form-control" }) <span>900 characters limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameQ1)
                                                @Html.TextAreaFor(m => m.NameQ1, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailQ1)
                                                @Html.TextAreaFor(m => m.EmailQ1, new { type = "Email", @class = "form-control", placeholder = "example@example.com" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumQ1)
                                                @Html.TextAreaFor(m => m.PhoneNumQ1, new { type = "text", @class = "form-control" })
                                            </div>
                                            <hr />
                                        </div>

                                        <!--Q2-->
                                        <div class="tab-question-Q2">
                                            <div class="form-group">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Q2, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Q2, new { maxlength = "900", @class = "form-control" }) <span>900 characters limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameQ2)
                                                @Html.TextAreaFor(m => m.NameQ2, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailQ2)
                                                @Html.TextAreaFor(m => m.EmailQ2, new { type = "Email", @class = "form-control", placeholder = "example@example.com" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumQ2)
                                                @Html.TextAreaFor(m => m.PhoneNumQ2, new { type = "text", @class = "form-control" })
                                            </div>
                                            <hr />
                                        </div>

                                        <!--Q3-->
                                        <div class="tab-question-Q3">
                                            <div class="form-group">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Q3, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Q3, new { maxlength = "900", @class = "form-control" }) <span>900 characters limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameQ3)
                                                @Html.TextAreaFor(m => m.NameQ3, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailQ3)
                                                @Html.TextAreaFor(m => m.EmailQ3, new { type = "Email", @class = "form-control", placeholder = "example@example.com" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumQ3)
                                                @Html.TextAreaFor(m => m.PhoneNumQ3, new { type = "text", @class = "form-control" })
                                            </div>
                                            <hr />
                                        </div>

                                        <!--Q4-->
                                        <div class="tab-question-Q4">
                                            <div class="form-group">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Q4, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Q4, new { maxlength = "900", @class = "form-control" }) <span>900 characters limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameQ4)
                                                @Html.TextAreaFor(m => m.NameQ4, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailQ4)
                                                @Html.TextAreaFor(m => m.EmailQ4, new { type = "Email", @class = "form-control", placeholder = "example@example.com" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumQ4)
                                                @Html.TextAreaFor(m => m.PhoneNumQ4, new { type = "text", @class = "form-control" })
                                            </div>
                                            <hr />
                                        </div>

                                        <!--Q5-->
                                        <div class="tab-question-Q5">
                                            <div class="form-group">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Q5, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Q5, new { maxlength = "900", @class = "form-control" }) <span>900 characters limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameQ5)
                                                @Html.TextAreaFor(m => m.NameQ5, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailQ5)
                                                @Html.TextAreaFor(m => m.EmailQ5, new { type = "Email", @class = "form-control", placeholder = "example@example.com" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumQ5)
                                                @Html.TextAreaFor(m => m.PhoneNumQ5, new { type = "text", @class = "form-control" })
                                            </div>
                                            <hr />
                                        </div>

                                        <!--Q6-->
                                        <div class="tab-question-Q6">
                                            <div class="form-group">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Q6, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Q6, new { maxlength = "900", @class = "form-control" }) <span>900 characters limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameQ6)
                                                @Html.TextAreaFor(m => m.NameQ6, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailQ6)
                                                @Html.TextAreaFor(m => m.EmailQ6, new { type = "Email", @class = "form-control", placeholder = "example@example.com" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumQ6)
                                                @Html.TextAreaFor(m => m.PhoneNumQ6, new { type = "text", @class = "form-control" })
                                            </div>
                                            <hr />
                                        </div>

                                        <!--Q7-->
                                        <div class="tab-question-Q7 tab-SenLib-question" style="display: block;">
                                            <div class="form-group">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Q7, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Q7, new { maxlength = "900", @class = "form-control" }) <span>900 characters limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameQ7)
                                                @Html.TextAreaFor(m => m.NameQ7, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailQ7)
                                                @Html.TextAreaFor(m => m.EmailQ7, new { type = "Email", @class = "form-control", placeholder = "example@example.com" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumQ7)
                                                @Html.TextAreaFor(m => m.PhoneNumQ7, new { type = "text", @class = "form-control" })
                                            </div>
                                            <hr />
                                        </div>

                                        <!--Q8-->
                                        <div class="tab-question-Q8 tab-SenLib-question" style="display: block;">
                                            <div class="form-group">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Q8, new { @class = "text-accent-p2" })
                                                @Html.TextAreaFor(m => m.Q8, new { maxlength = "900", @class = "form-control" }) <span>900 characters limit</span>
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.NameQ8)
                                                @Html.TextAreaFor(m => m.NameQ8, new { type = "text", @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.EmailQ8)
                                                @Html.TextAreaFor(m => m.EmailQ8, new { type = "Email", @class = "form-control", placeholder = "example@example.com" })
                                            </div>

                                            <div class="form-group">
                                                <span class="required-label">*</span>
                                                @Html.LabelFor(m => m.PhoneNumQ8)
                                                @Html.TextAreaFor(m => m.PhoneNumQ8, new { type = "text", @class = "form-control" })
                                            </div>
                                            <hr />
                                        </div>


                                    </div>
                                </div>
                            </div>


                            <div class='panel panel-default'>
                                <div class='panel-heading' role='tab' id='heading5'>
                                    <h3 class='panel-title'>
                                        <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse5' aria-expanded='false' aria-controls='collapse5'>Step 5: Resume</a>
                                    </h3>
                                </div>
                                <div id='collapse5' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading5'>
                                    <div class='panel-body'>

                                        <p>
                                            Please submit your current resume in .docx or .pdf format under 5 MB. Your resume must include your most recent
                                            employment and because a standard state application is not requested at this time, the resume must also <strong>
                                                include
                                                complete "to" and "from" dates (month/day/year), time base including number of hours worked per week, job titles,
                                                and relevant college degree completed
                                            </strong>. Resumes received without this information will result in rejection of your
                                            application.
                                        </p>
                                        <p>
                                            Click on the browse button to locate the file. If you have an older version of Word that only produces .doc files,
                                            there are many free tools online to convert to PDF.
                                        </p>

                                        <span class="required-label">*</span> 
                                        @Html.LabelFor(m => m.ResumeUpload)
                                        @*<input type="file" name="file" />*@
                                        @Html.TextBoxFor(m => m.ResumeUpload, new { type = "file", name = "file" })
                                        @Html.ValidationMessage("ResumeUpload", new { @class = "text-danger" })
                                        


                                    </div>
                                </div>
                            </div>

                            <div class='panel panel-default'>
                                <div class='panel-heading' role='tab' id='heading6'>
                                    <h3 class='panel-title'>
                                        <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse6' aria-expanded='false' aria-controls='collapse6'>Step 6: Signature</a>
                                    </h3>
                                </div>
                                <div id='collapse6' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading6'>

                                    <div class='panel-body'>

                                        <div class="tab-body">
                                            <div class="checkbox">
                                                <label class="normal">
                                                    @Html.RadioButtonFor(m => m.isCertified, true, new { type = "checkbox" })
                                                    <span class="required-label">*</span> By checking this box, I hereby certify under penalty of perjury that the information I have entered on this
                                                    application is true and complete to the best of my knowledge. I further understand that all information is subject
                                                    to verification and that any false, incomplete, or incorrect statements may result in my disqualification from the
                                                    examination process or dismissal from employment with the State of California. I authorize the employers and
                                                    educational institutions identified on this application to release any information they may have concerning my
                                                    employment or education to the State of California.
                                                </label>
                                                @Html.ValidationMessage("isCertified", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group half">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Signature)
                                                @Html.TextBoxFor(m => m.Signature, new { type = "text", @class = "form-control" })
                                                @Html.ValidationMessage("Signature", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group half">
                                                <span class="required-label">*</span>@Html.LabelFor(m => m.Date)
                                                @Html.TextBoxFor(m => m.Date, new { type = "text", @class = "form-control", placeholder = "MM/DD/YYYY" })
                                                @Html.ValidationMessage("Date", new { @class = "text-danger" })
                                            </div>




                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                            <div class="section">
                                <div class="container">
                                    <div class="half"></div>
                                    <div class="half">
                                        <div class="section">
                                            <div class="full-width">
                                                <div class="pull-right">
                                                    <div class="g-recaptcha" data-sitekey="6Lf0XzYUAAAAAFm7yZHSL7K98voPXytgpy4O2zsU"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="pull-right">
                                                <input type="submit" value="Submit" class="btn btn-default pull-right" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                        </div><!--end accordion-->
                    }
                </div>
                }
                @if (Model.Success == true)
                {
                    <div class="section">
                        <p>
                            Congratulations! You have successfully submitted your Resume and Supplemental Application materials for the
                            California State Library's Librarian open examination. If you do <strong>not</strong> recieve a follow-up e-mail from
                            us within 5 business days, please contact us at <a href="mailto:csljobs@library.ca.gov">csljobs@library.ca.gov</a> or (916) 654-0202.
                            This e-mail will include information regarding the next steps in the examination and hiring process.
                        </p>

                        <p>
                            Until then, please connect with us on: <a href="https://www.facebook.com/CAStateLibrary/">Facebook</a> | <a href="https://twitter.com/castatelibrary">Twitter</a> | <a href="http://californiastatelibrary.tumblr.com/">Blog</a> | <a href="https://www.pinterest.com/castatelibrary/">Pinterest</a>
                            and visit us <a href="">here</a>
                        </p>

                        <p>Thank you for your interest in the California State Library</p>

                        <h3><a href="/home">Back to Home Page</a></h3>
                    </div>
                }
            </div>
        </div>
    </main>
</div>
