@{
    ViewBag.Title = "CSL - Innovation Station Project";
    ViewBag.PageTitle = "The Innovation Station Project";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Find information about the Innovation Station project here.";
    ViewBag.Keywords = "Innovation Station Project";
    ViewBag.pageID = "Innovation Station";

}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
            <div class="section">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/services/to-libraries">To Libraries</a></li>
                    <li><a href="/services/to-libraries/development-programs-projects">Library Development Programs and Projects</a></li>
                    <li class="active">Innovation Station</li>
                </ol>
                <h2 class="page-title">@ViewBag.PageTitle</h2>
            </div>
            <div class="section">
                <h3>About the Project</h3>
                <p>
                    This project aims to create innovation labs through partnerships between libraries, employers and educators. This concept was modeled by the collaboration between Chula Vista Public Library, Chula Vista Elementary School District, and Qualcomm to create a space for learning called the Innovation Station. Qualcomm designed the original Thinkabit Lab™ to encourage students to consider science, technology, engineering, and math (STEM)-related careers by spending a full day exploring STEM tools in a hands-on, do-it-yourself, learning lab. 
                </p>
                <p>
                    Funds for this project will be used to create Innovation Stations and further expand upon the concept of collaborations between libraries, educators, and public/private organizations. Through this project, formally known as the "Innovation Station Project," the Southern California Library Cooperative will work with California State Library staff to connect people with the skills required in various jobs and encourage the creative problem-solving that is central to success in California’s innovation-based economy. 
                </p>
                <p>
                    Long-term goals include: 
                </p>
                <ul class="list-understated">
                    <li>
                        Using technology and tools provided in the Innovation Station to excite and engage members of the community to explore creative programs and develop skillsets. This may include introducing technology that is cutting-edge or further exploring STEM and STREAM (science, technology, reading, engineering, art, and math) resources.
                    </li>
                    <li>
                        Engaging libraries and partners to provide resources to sustain the Innovation Station space and enhance the library experience. This in turn will enhance library sustainability and further position the library as a cornerstone of the community.
                    </li>
                </ul>
            </div>
            <div class="section">
                <h3>Application Information</h3>
                <p>
                    We invite California public libraries to apply for funds to create a station or lab that will promote user creativity, exploration, and innovation. This unique station can be a makerspace with all the tools needed for tinkering and making and/or a lab where users to develop the skills needed to enter or excel in the workforce. Request for funds should support the creation of each library's unique Innovation Station or lab and target the purchase of technology, tools, and supplies that will excite and engage members of the community to explore creative programs and develop skillsets. 
                </p>
                <p>
                    The Innovation Station Project is open to CLSA public library jurisdictions. Each library jurisdiction may submit only 1 application for funds, and may apply for a set amount of $5,000 or $10,000 per application. Matching funds are not required, though partnerships are strongly encouraged. 
                </p>
                <p>
                    Full information and the application form and guidelines can be found below. 
                </p>
                <ul class="list-overstated">
                    <li>
                        <a href="~/Content/StateTemplate/otherDocuments/services/toLibraries/InnovationStationApplicationFormSept2017REV.docx">Application Form</a>
                    </li>
                    <li>
                        <a href="~/Content/StateTemplate/otherDocuments/services/toLibraries/InnovationStationProjectApplicationGuidelinesREV.docx">Application Guidelines</a>
                    </li>
                    <li>
                        <a href="~/Content/StateTemplate/otherDocuments/services/toLibraries/FAQ-Innovation-Project.docx">Innovation Station FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="section">
                <h3>Submission Instructions</h3>
                <p>
                    Please submit applications electronically and in hard copy to the Southern California Library Cooperative. 
                </p>
                <p>
                    An electronic copy <strong>must be received by 5:00pm Thursday, November 9, 2017</strong>. It should be emailed to: <a hhref="mailto:dsatchwell@socallibraries.org">dsatchwell@socallibraries.org</a>
                </p>
                <p>
                    A hard copy of the application with the library director's original signature <strong>must be postmarked by 5:00pm Thursday, November 9, 2017</strong>. It should be mailed to: 
                </p>
                <div class="indent-outer">
                    <p class="indent-inner">
                        Southern California Library Cooperative<br/>
                        Attn: Diane Satchwell<br/>
                        248 E. Foothill Blvd., Ste 101<br/>
                        Monrovia, CA 91016
                    </p>
                </div>
            </div>
            <div class="section">
                <h3>Additional Information</h3>
                <p>
                    If you have any questions, please contact Diane Satchwell, Executive Director, Southern California Library Cooperative at <a href="mailto:dsatchwell@socallibraries.org">dsatchwell@socallibraries.org </a>
                </p>
                <br/>
                <p>
                    <i>
                        This project is supported with California Library Services Act funding. The project's fiscal agent is the Southern California Library Cooperative. 
                    </i>
                </p>
            </div>
        </div>
    </main>
</div>
