@{
    ViewBag.Title = "CSL - California Library Laws 2017";
    ViewBag.PageTitle = "California Library Laws 2017";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "A resource about California laws relating to the operation and use of libraries in California.";
    ViewBag.Keywords = "Laws, 2017";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/services/to-libraries">To Libraries</a></li>
                    <li>Library Laws</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <div class="group">
                    <p>
                        <strong>Selections from the California Codes and Regulations relating to public libraries, the State Library, and other library-related matters, in effect January 1, 2017.</strong>
                    </p>

                    <p>
                        <a href="~/Content/StateTemplate/pdf/services/toLibraries/2017CaliforniaLibraryLaws.pdf">California Library Laws 2017</a> (PDF)<br>
                        in effect January 1, 2017
                    </p>

                    <div class="orange">
                        <h3>INTRODUCTION</h3>
                    </div>

                    <p>
                        <strong>
                            California Library Laws 2017 is a selective guide to state laws and related materials that most directly affect the everyday operations of public libraries and organizations that work with public libraries. 
                            It is intended as a convenient reference, not as a replacement for the annotated codes or for legal advice.
                        </strong>
                    </p>

                    <p>
                        The guide is organized as follows. Statutes relating to library programs of statewide applicability are listed first, those of local applicability next. 
                        Miscellaneous provisions that apply to a particular type of library are appended to that library statutes. Next are statutes which are not unique to libraries, but are commonly used to provide library services. 
                        Concluding sections cover fiscal and miscellaneous provisions affecting libraries in general. 
                        Appendixes include a list of California court decisions and Attorney General Opinions relating to libraries, and a table of statutes. There is no index as such.
                    </p>

                    <p>
                        Full text as in effect January 1, 2017, is provided for most of the material. 
                        For less frequently-used statutes, only the library-specific text or a brief citation is provided. 
                        Omission of matter not directly relevant to libraries, or unrepealed obsolete material, is indicated by three asterisks (***).
                    </p>

                    <p>
                        (Documents in PDF format can be viewed with the <a href="http://www.adobe.com/products/acrobat/readstep2.html" target="_blank">Adobe Acrobat Reader</a>.)
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>
