@{
    ViewBag.Title = "Libraries Illuminated";
    ViewBag.PageTitle = "Libraries Illuminated";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Find information here about Libraries Illuminated, a project of the California State Library.";
    ViewBag.Keywords = "Libraries Illuminated Project Software Hardware Improvements";
    ViewBag.pageID = "Libaries Illuminated";

}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
            <div class="section">
                <ol class="breadcrumb">
                    <li><a href="/services">Services</a></li>
                    <li><a href="/to-libraries">To Libraries</a></li>
                    <li class="active">Libraries Illuminated</li>
                </ol>
                <h2 class="page-title">@ViewBag.PageTitle</h2>
                <p>
                    The Libraries Illuminated project helps California public libraries make software and hardware improvements to maximize benefits to patrons as they access new high-speed broadband connections and utilize non-broadband Internet connections.
                </p>
            </div>
        </div>
        <div class="section section-understated">
            <div class="container">
                <h3>Project Goals</h3>
                <p>
                    Our goals are to support the development of innovative and creative programs and services for all ages, address the needs of libraries in underserved communities, and provide a variety of programming and service models for the library community to learn from and replicate. 
                </p>
                <p>
                    We invite applications from public libraries for funds to support the purchase of: 
                </p>
                <ul class="list-understated">
                    <li>
                        Cutting-edge technology that helps libraries provide innovative services and programming that fulfills the potential of their broadband connections
                    </li>
                    <li>
                        Functional hardware and software that allows libraries to use their new broadband connections
                    </li>
                    <li>
                        Technology that enables libraries to make the best use of their non-broadband Internet connections
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <h3>Application Information</h3>
                <p>
                    Applications are due by 5:00pm, Friday September 15, 2017. 
                </p>
                <p>
                    Full information can be found on this page and in the application guidelines. If you have any questions, please contact: 
                </p>
                <ul class="list-overstated">
                    <li>
                        Natalie Cole, Library Programs Consultant, California State Library at <a href="malto:natalie.cole@library.ca.gov">Natalie.Cole@library.ca.gov</a>
                    </li>
                    <li>
                        Diane Satchwell, Executive Director, Southern California Library Cooperative at <a href="mailto:dsatchwell@socallibraries.org">dsatchwell@socallibraries.org</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section section-understated">
            <div class="container indent-outer">
                <h3>Forms and Guidelines</h3>
                <div class="indent-inner">
                    <p>
                        <a href="~/Content/StateTemplate/otherDocuments/services/toLibraries/Illuminated/LI_Application_Form_June_2017.docx">Application Form</a>
                    </p>
                    <p>
                        <a href="~/Content/StateTemplate/pdf/services/toLibraries/Illuminated/LI_Application_Guidelines_June_2017.pdf">Application Guidelines</a>
                    </p>
                    <p>
                        <a href="~/Content/StateTemplate/otherDocuments/services/toLibraries/Illuminated/LI_LIPC_for_Web.xls">Library LIPC Levels</a>
                    </p>
                    <p>
                        <a href="https://cc.readytalk.com/cc/playback/Playback.do?id=504uj5">Informational Webinar</a> (June 21, 2017)
                    </p>
                    <p>
                        <a href="~/Content/StateTemplate/otherDocuments/services/toLibraries/Illuminated/LIwebinarJune2017.pptx">PPT Slides Featured in Webinar</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Eligibility</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="list-understated">
                                    <li>
                                        The Libraries Illuminated grant program is open to CLSA public library jurisdictions, i.e., public library jurisdictions that are full members of one of California's regional library cooperatives.
                                    </li>
                                    <li>
                                        Libraries do not have to be connected or connecting to CalREN to apply to participate in the project.
                                    </li>
                                    <li>
                                        Libraries do not have to be CIPA compliant to apply for funds.
                                    </li>
                                    <li>
                                        Applicants must demonstrate plans to implement and evaluate at least three programs for their communities using their new technology by December 2018.
                                    </li>
                                    <li>
                                        <p>
                                            Library jurisdictions may submit up to 3 applications for funds according to the size of the jurisdiction: 
                                        </p>
                                        <ul>
                                            <li>
                                                Library jurisdictions with 1-30 outlets may submit 1 application
                                            </li>
                                            <li>
                                                Library jurisdictions with 31-60 outlets may submit up to 2 applications
                                            </li>
                                            <li>
                                                Library jurisdictions with 61-100 outlets may submit up to 3 applications
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Library jurisdictions may apply for a minimum of $5,000 and a maximum of $30,000 per application.
                                    </li>
                                    <li>
                                        Matching funds are required; further information about providing a match is below.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Use of Project Funds</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <ul class="list-understated">
                                        <li>
                                            The Libraries Illuminated project is intended to help libraries make purchases that will leverage and fulfill the potential of their Internet connections. Grant funds should be spent on technology and not on the programs that the technology will support; technology purchased must maximize benefits to patrons as they access the library's Internet connection.
                                        </li>
                                        <li>
                                            Funds may not be used to help libraries connect to broadband. The California State Library provides Technology Improvement Grants for that purpose through the Lighting Up Libraries broadband project.
                                        </li>
                                        <li>
                                            Project funds may be used to upgrade technology if the applicant can demonstrate that the upgrade helps them leverage and fulfill the potential of their Internet connections.
                                        </li>
                                    </ul>
                                </div>
                                <p>
                                    Technology can be used in a variety of ways to create rich learning and community building experiences for adults, teens, and children and their families. We encourage you to find new ways to implement technology in your community. Below are few questions to help get you thinking about how technology might be used in your library:
                                </p>
                                <div class="indent-inner">
                                    <ul class="list-understated">
                                        <li>
                                            What do heat guns and heat shrink tubing have in common with creating circuits for a Raspberry Pi and coding?
                                        </li>
                                        <li>
                                            Would robotics help you serve people of all abilities?
                                        </li>
                                        <li>
                                            How can they be used to create a giant Rube Goldberg machine powered by a WiFi enabled device?
                                        </li>
                                    </ul>
                                </div>
                                <p>
                                    Technology is more than the use of tablets, apps and computers. Various types of technology can help you solve problems and achieve practical results by harnessing the power of the Internet.
                                </p>
                                <p>
                                    Examples of possible uses of project funds include (but are not limited to) technology to support: virtual reality game creation, audio production (including music mixing and recording), coding, filmmaking and videography, hack-a-thons, mobile and game app development, programming, robotics, 3D printing, access points and hotspots to expand WiFi outside of library walls, laptop checkout kiosks, live streaming or iPad storytime, SmartBoards, ebook instruction webinars, taking the library service away from the desk (e.g. roving reference and technology to support pop-up programs), technology classrooms, and virtual class visits, reference, storytime, and speakers.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Cash and In-Kind Match</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="list-understated">
                                    <li>
                                        Successful applicants are required to contribute matching funds and resources to the project and the match must be included in the project budget.
                                    </li>
                                    <li>
                                        The match should be a combination of cash and in-kind contributions and may come from the applicant libraries and/or project partners and/or other sources.
                                    </li>
                                    <li>
                                        The match may include contributions to the programs that the technology will support.
                                    </li>
                                    <li>
                                        <p>
                                            The minimum level of match required is determined by each library jurisdiction's Local Income Per Capita (LIPC) level: 
                                        </p>
                                        <ul>
                                            <li>
                                                LIPC Level 1: a minimum of 25%
                                            </li>
                                            <li>
                                                LIPC Level 2: a minimum of 35%
                                            </li>
                                            <li>
                                                LIPC Level 3: a minimum of 50%
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Information about libraries' LIPC levels is available on the project website.
                                    </li>
                                    <li>
                                        If successful applicants are unable to provide a match for the funds they are awarded, those funds must be returned to the Southern California Library Cooperative.
                                    </li>
                                    <li>
                                        Technology Improvement Grant funds, costs associated with connecting to broadband, and other California Library Services Act funds may not form part of the match.
                                    </li>
                                    <li>
                                        <p>
                                            Examples of ways to contribute matching funds and resources include: 
                                        </p>
                                        <ul>
                                            <li>
                                                Donations of funds, time, or other resources from friends groups, library foundations, local businesses, and philanthropic agencies
                                            </li>
                                            <li>
                                                Local, state, or federal grant funds
                                            </li>
                                            <li>
                                                Crowdsourcing funds
                                            </li>
                                            <li>
                                                Staff or volunteer time
                                            </li>
                                            <li>
                                                Non-tech program supplies
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Evaluation</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul class="list-understated">
                                    <li>
                                        The project requires grantees to use Project Outcome survey tools to evaluate the impact of at least three programs provided for their communities with the new technology.
                                    </li>
                                    <li>
                                        Survey tools will be made available to participating libraries.
                                    </li>
                                    <li>
                                        The State Library and Project Outcome will provide an informational webinar, resources, and support to help libraries implement Project Outcome survey tools.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Timeline</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                September 15, 2017
                                            </td>
                                            <td>
                                                Applications are due to the Southern California Library Cooperative.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                October 2017
                                            </td>
                                            <td>
                                                Applications are assessed by project staff and advisory group members.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                October 21, 2017
                                            </td>
                                            <td>
                                                Applicants are notified of the results of their applications.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                November & December 2017
                                            </td>
                                            <td>
                                                Funds are issued to successful applicants within two weeks of the library submitting a funding request form to the Southern California Library Cooperative.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                March 31, 2018
                                            </td>
                                            <td>
                                                First brief narrative and financial reports are due to the Southern California Library Cooperative (reporting period: Start of project – February 28, 2018).
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                September 30, 2018
                                            </td>
                                            <td>
                                                Second brief narrative and financial reports are due to the Southern California Library Cooperative (reporting period: March 1 – August 31, 2018).
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                September 30, 2018
                                            </td>
                                            <td>
                                                Unexpended and unencumbered funds must be returned to the Southern California Library Cooperative.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                December 31, 2018
                                            </td>
                                            <td>
                                                Programs must be completed.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                January 31, 2019
                                            </td>
                                            <td>
                                                Final narrative and financial reports are due to the Southern California Library Cooperative (reporting period: Start of project – December 31, 2018).
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Frequently Asked Questions</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body indent-outer">
                                <ul class="list-understated">
                                    <li>
                                        <p>
                                            <strong>
                                                Is the general intention to inspire new programming using new technology and equipment?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            We do want to inspire new programming using new technology and equipment. One of the project goals is to support the purchase of cutting-edge technology that helps libraries provide innovative services and programming that fulfills the potential of their broadband connections. 
                                        </p>
                                        <p class="indent-inner">
                                            Our other goals are to help libraries purchase functional hardware and software that allows them to use their broadband connections and technology that enables libraries to make the best use of their non-broadband connections. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                Why are some of the funding ideas in the PowerPoint slides in red and some in gray?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            The ideas were presented in two colors to make it easier for viewers to read the content on the slides. None of the ideas are more important or more likely to be funded than any of the others. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                Do you consider AV equipment as technology?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            Yes, AV equipment is considered technology and it is eligible for funding as long as the equipment is used to leverage and fulfill the potential of the library's Internet connection and will be used to support at least three programs by December 2018. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                What kind of partners do you envision?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            We would like libraries to work with community partners that help you address your communities' needs and align with your communities' aspirations, and partners that benefit and strengthen your projects. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                Can we use funds to upgrade existing AV equipment?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            Project funds may be used to upgrade existing AV equipment or other technology if you can demonstrate that the upgrade aligns with project goals, meets a need in the community, helps you leverage and fulfill the potential of your Internet connection, and helps to support at least three programs by December 2018. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                Could grant funds be used to buy technology for existing programs?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            Grant funds may be used to buy technology for existing programs if you can demonstrate that your purchase aligns with the project goals and addresses a community need, and the new technology will improve, enhance, or extend your existing programs, and will leverage and fulfill the potential of your Internet connection. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                Can the target audiences for programs presented using the new technology be for children, teens, and adults?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            Yes! We welcome applications for funds that will provide programming for any and all ages.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                CIPA compliance isn't a requirement, but are there other project restrictions that libraries should consider?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            Other restrictions can be found on this web page in the following sections: Eligibility, Use of Project Funds, and Cash and In-Kind Match. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                Would pulling in lessons learned from Harwood community conversations be appropriate for making a compelling case in the application?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            Yes! The data gathered during community conversations is ideal for demonstrating that your project aligns with your community's aspirations. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                If there were furniture needs (like a privacy screen for a videoconferencing pod or chairs with outlets embedded in them) would that fall under the umbrella of technology or would that have to be provided from other funds?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            Furniture needs such as these may not be purchased. This is a great example of something that might be provided by the library or a partner and included as part of the match. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                May we purchase technology designed to evaluate programming?
                                            </strong>
                                        </p>
                                        <p class="indent-inner">
                                            The project is not designed to fund technology to evaluate programming because grant recipients are required to use Project Outcome to evaluate the results of their grant-funded programming. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>
                                                We have received a number of questions about the purchase of specific technologies. For example: Can we use grant funds to purchase...
                                            </strong>
                                        </p>
                                        <ul>
                                            <li>
                                                <strong>
                                                    A Mobile Device Management System (MDM) for all libraries in the system leveraging wifi.
                                                </strong>
                                            </li>
                                            <li>
                                                <strong>
                                                    A Mobile Hotspot Loaning Program. There is a monthly cost for each one.
                                                </strong>
                                            </li>
                                            <li>
                                                <strong>
                                                    Technology to support the management of new services related to broadband.
                                                </strong>
                                            </li>
                                            <li>
                                                <strong>
                                                    Software that can audit usage of a public computer and audit what apps are used and for how long.
                                                </strong>
                                            </li>
                                            <li>
                                                <strong>
                                                    A computer management system like Envisionware to replace our existing computer management system.
                                                </strong>
                                            </li>
                                            <li>
                                                <strong>
                                                    Software that we can use, like DeepFreeze, to help manage laptops or computers to safeguard patron privacy for classes and workshops.
                                                </strong>
                                            </li>
                                            <li>
                                                <strong>
                                                    Adobe Creative Cloud. It is available via subscription. 
                                                </strong>
                                            </li>
                                        </ul>
                                        <p class="indent-inner">
                                            We will consider applications for funds for these and similar technologies. A strong application will demonstrate how the purchase aligns with the project goals, addresses a community need, leverages and fulfills the potential of the library's Internet connection, and will help support three community programs. 
                                        </p>
                                        <p class="indent-inner">
                                            You must outline clearly how your IT staff and/or consultants have been and will be involved in the project in the following sections of the application form: Preparations and Role of IT staff. 
                                        </p>
                                        <p class="indent-inner">
                                            If you propose to use project funds to purchase subscriptions, you must confirm that you will support the subscription for a minimum of three years following the end of the grant period in the following section of the application form: Project Continuation and Sustainability. 
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Definition of Terms</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul class="list-understated">
                                    <li>
                                        "Technology" is defined here as any hardware, software, or equipment that will help your library maximize benefits to patrons as they access new high-speed Internet connections or (if your library is not connected to broadband) access the Internet.
                                    </li>
                                    <li>
                                        "Programs" is used to refer to any programs or services provided using your new technology.
                                    </li>
                                    <li>
                                        "Jurisdiction" means a county library, city and county library, city library, or library district.
                                    </li>
                                    <li>
                                        "Outlets" includes main libraries, branch libraries, library stations, and bookmobiles.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">How and Where to Submit</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body indent-outer">
                                <p>
                                    Please submit applications electronically and in hard copy to the Southern California Library Cooperative. 
                                </p>
                                <p>
                                    An electronic copy must be received by 5:00pm, Friday September 15, 2017. It should be emailed to <a href="mailto:dsatchwell@socallibraries.org">dsatchwell@socallibraries.org</a>
                                </p>
                                <p>
                                    A hard copy with the library director's original signature must be received within seven days of the submission of the electronic copy. It should be mailed to: 
                                </p>
                                <p class="indent-inner">
                                    Southern California Library Cooperative<br/>
                                    Attn: Diane Satchwell<br/>
                                    248 E. Foothill Blvd., Ste 101<br/>
                                    Monrovia, CA 91016 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Additional Information</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul class="list-understated">
                                    <li>
                                        The California Library Services Board has provided $1M in California Library Services Act funding to support this project. We will fund as many projects as we are able to but we are unable to guarantee funding to all applicants.
                                    </li>
                                    <li>
                                        We aim to divide project funds equitably between libraries requesting different types of technology and between different types of libraries, e.g. rural, suburban, and urban; city, county, and special district; lower- and higher-resourced.
                                    </li>
                                    <li>
                                        Applications will be reviewed by project staff and the Libraries Illuminated Advisory Group.
                                    </li>
                                    <li>
                                        If project funds are not fully expended in response to this call for applications, we will issue a second call in 2018.
                                    </li>
                                    <li>
                                        Applicants are encouraged to disseminate the impact of their new technologies and related programs to the field and related professional communities through publications and conference presentations.
                                    </li>
                                    <li>
                                        For assistance in identifying your technology needs as you prepare your application, please contact Diane Satchwell at <a href="mailto:dsatchwell@socallibraries.org">dsatchwell@socallibraries.org</a>.
                                    </li>
                                    <li>
                                        If you have any questions, please contact Natalie Cole at <a href="mailto:natalie.cole@library.ca.gov">Natalie.Cole@library.ca.gov</a> or Diane Satchwell at <a href="mailto:dsatchwell@socallibraries.org">dsatchwell@socallibraries.org</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">Project Advisors</a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body indent-outer">
                                <p>
                                    <strong>
                                        Thank you very much to the Libraries Illuminated project advisors:
                                    </strong>
                                </p>
                                <p class="indent-inner">
                                    Megan Anderson, San Francisco Public Library<br/>
                                    Erin Berman, San Jose Public Library<br />
                                    Susan Broman, Los Angeles Public Library<br />
                                    Wess Garcia, Rancho Cucamonga Public Library<br />
                                    Jarrid Keller, Sacramento Public Library<br />
                                    Jasmin LoBasso, Kern County Library<br />
                                    Paula MacKinnon, Califa<br />
                                    Erwin Magbanua, San Diego Public Library<br />
                                    Hillary Theyer, Torrance Public Library<br />
                                    Patty Wong, Santa Monica Public Library<br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>