@{
    ViewBag.Title = "CSL - Public Library Staff Education Program";
    ViewBag.PageTitle = "Public Library Staff Education Program";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "The Public Library Staff Education Program is a tuition reimbursement program developed by the California State Library to assist California public and county law libraries with staff professional development. Funding is provided, on a competitive basis, for public library staff to obtain accredited masters degrees or enroll in credentialed library paraprofessional programs.";
    ViewBag.Keywords = "Public, library, program";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/services/to-libraries">To Libraries</a></li>
                    <li><a href="/services/to-libraries/development-programs-projects/">Library Development Programs and Projects</a></li>
                    <li class="active">Public Library Staff Education Program</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>


                <div class="orange">
                    <h3>About the Program</h3>
                </div>

                <p>
                    The Public Library Staff Education Program is a tuition reimbursement program developed by the California State Library to assist California public and county law libraries with staff professional development.
                    Funding for credentialed training is provided to enable library staff to acquire the knowledge and skills needed to support valuable programs and services in their communities. The Program includes two components:
                </p>
                <div class="animate-fadeInUp ">
                    <img class="img-responsive insetImage"src="~/Content/StateTemplate/images/services/toLibraries/public_library_program.jpg" alt="Zip Books" style="width:300px" />
                </div>

                <h3>Public Library Staff Education Program (PLSEP)</h3>

                <p>
                    Employees who have worked for a California public or county law library for at least a year and are enrolled in a master's degree in library and information science from an
                    <a href="http://www.ala.org/accreditedprograms/directory" target="_blank" rel="noopener noreferrer">American Library Association accredited program</a>
                    may be eligible for apply for tuition reimbursement through the PLSEP.
                    Please see application guidelines for requirements and further information. This is a competitive program, and a professional review panel evaluates the applications received to recommend for award.
                    Awards are made for the reimbursement of the course fees. Tuition reimbursement is administered by the
                    <a href="/services/to-libraries/ca-library-services-act/systems/">cooperative library systems</a>.
                </p>

                <h3>Library Support Staff Training (LSST)</h3>

                <p>
                    The LSST program provides tuition reimbursement for support staff members who are working in a California public or county law library and seeking a
                    <a href="http://ala-apa.org/lssc/" target="_blank" rel="noopener noreferrer">Library Support Staff Certification</a>
                    (LSSC) from the American Library Association-Allied Professional Association.
                    A support staff position is defined as a library position which does not require a master's degree in library and information science.
                    To apply, LSST applicants must be employed at a California public or county law library for at least one year and show
                    <a href="http://ala-apa.org/lssc/for-candidates/" target="_blank" rel="noopener noreferrer">proof of enrollment</a> into the Library Support Staff Certification program.
                    Please see application guidelines for requirements and further information.
                    Successful applicants can receive up to $3000 in the grant year.
                </p>

                <p>
                    <em>This project is supported in whole or in part by the U.S. Institute of Museum and Library Services under the provisions of the Library Services and Technology Act, administered in California by the State Librarian.</em>
                </p>

                
                <div class='panel-group' role='tablist' aria-multiselectable='true'>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading1'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>Application Guidelines and Materials</a>
                            </h3>
                        </div>
                        <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                            <div class='panel-body'>
                                <div class='panel-body'>
                                    <p>
                                        The Public Library Staff Education Program call for applications is announced in February or March through the cooperative library systems and on the calix listserv. Applications and guidelines can be found on this page when calls for applications are made:
                                        <a href="http://www.library.ca.gov/grants/lsta/apply.html">http://www.library.ca.gov/grants/lsta/apply.html</a>.
                                    </p>
                                    <p>
                                        Below are samples of applications and guidelines. Please note that application forms, guidelines, requirements, and other parameters are subject to change for each grant cycle.
                                    </p>
                                    <ul>
                                        <li>
                                            Public Library Staff Education Program (PLSEP)
                                            <ul class="list-overstated">
                                                <li><a href="~/Content/StateTemplate/pdf/services/toLibraries/SamplePLSEPNewStApp1415.pdf" target="_blank">Sample 2014/2015 PLSEP Application</a></li>
                                                <li><a href="~/Content/StateTemplate/pdf/services/toLibraries/PLSEPNewStAppInst1415.pdf" target="_blank">Sample PLSEP Application Instruction Guide</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            Library Support Staff Training (LSST)
                                            <ul class="list-overstated">
                                                <li><a href="~/Content/StateTemplate/pdf/services/toLibraries/SamplePLSEPLSSTApp1415.pdf" target="_blank">Sample 2014/2015 LSST Application</a></li>
                                                <li><a href="~/Content/StateTemplate/pdf/services/toLibraries/PLSEPLSSTAppInst1415.pdf" target="_blank">Sample LSST Application Instruction Guide</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading2'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>Tuition Reimbursement Process</a>
                            </h3>
                        </div>
                        <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                            <div class='panel-body'>
                                <p>
                                    Tuition reimbursement is administered by California <a href="/services/to-libraries/ca-library-services-act/systems/">cooperative library systems</a>. For this grant year, reimbursement conditions for the PLSEP are as follows:
                                </p>
                                <ul class="list-overstated">
                                    <li>Only graduate library school courses which count toward the MLIS degree are eligible for reimbursement.</li>
                                    <li>Only courses for which a grade of B- or better, or Credit for a credit/non-credit course are eligible for reimbursement.</li>
                                    <li>Only courses completed during the 2016/2017 grant year are eligible for reimbursement.</li>
                                    <li>Courses for which you will receive reimbursement under a Librarians for Diverse Communities grant, or any other Laura Bush 21st Century Librarian grant program are not eligible for reimbursement.</li>
                                </ul>
                                <p>
                                    Reimbursement conditions for the LSST are as follow:
                                </p>
                                <ul class="list-overstated">
                                    <li>Only approved LSSC courses are eligible for reimbursement.</li>
                                    <li>Only courses successfully completed during the 2016/2017 grant year are eligible for reimbursement.</li>
                                    <li>Reimbursement for the LSSC application fee may only be requested after you have successfully completed your first LSSC course.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading3'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>Awards</a>
                            </h3>
                        </div>
                        <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                         
                                <div class='panel-body'>
                                    <ul class="list-overstated">
                                        <li><a href="~/Content/StateTemplate/pdf/services/toLibraries/2016-17PLSEP_recipients.pdf" target="_blank">2016/2017</a> recipients by library jurisdiction and individuals</li>
                                    </ul>
                                    <p>
                                        Past Recipients: <a href="~/Content/StateTemplate/pdf/services/toLibraries/2015-16_recipients.pdf" target="_blank">2015/2016</a> |
                                        <a href="~/Content/StateTemplate/pdf/services/toLibraries/1415Awards-PLSEP.pdf" target="_blank">2014/2015</a> |
                                        <a href="~/Content/StateTemplate/pdf/services/toLibraries/1314AwardsPLSEP.pdf" target="_blank">2013/2014</a> |
                                        <a href="~/Content/StateTemplate/pdf/services/toLibraries/1213AwardsPLSEP.pdf" target="_blank">2012/2013</a> |
                                        <a href="~/Content/StateTemplate/pdf/services/toLibraries/1112AwardsPLSEP.pdf" target="_blank">2011/2012</a>
                                    </p>

                                </div>
                        
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading4'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse4' aria-expanded='false' aria-controls='collapse4'>Contact Information</a>
                            </h3>
                        </div>
                        <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                            <div class='panel-body'>
                                <p>
                                    For any questions, please contact me using the information below.
                                </p>

                                <div class="location contact">
                                    <span class="ca-gov-icon-contact-us"></span>

                                    <div class="contact">
                                        <p>
                                            Susan Hanks<br />
                                            Library Programs Consultant
                                            Phone: <span itemprop="telephone">(916) 653-0661</span><br>
                                            <a href="mailto:Susan.Hanks@library.ca.gov">Susan.Hanks@library.ca.gov</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        </div>
    </main>
</div>

