@{
    ViewBag.Title = "CSL – Zip Books Project";
    ViewBag.PageTitle = "Zip Books";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Information about the Zip Books Project, and resources for participating libraries.";
    ViewBag.Keywords = "Zip, Books";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/services/to-libraries">To Libraries</a></li>
                    <li><a href="/services/to-libraries">Library Development Programs and Projects</a></li>
                    <li>Zip Books</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <div class="two-thirds">
                    <div class="orange">
                        <h3>Contacts</h3>
                    </div>

                    <p class="list-unstyled m-l-md">
                        <strong>Project Manager:</strong> <a href="mailto:brett@brettwlear.com">Brett Lear</a>
                    </p>

                    <p class="list-unstyled m-l-md">
                        <strong>Technical Support:</strong> <a href="mailto:wwalker@califa.org">Wayne Walker</a>
                    </p>

                    <p class="list-unstyled m-l-md">
                        <strong>State Library Project Monitor:</strong> <a href="mailto:janet.coles@library.ca.gov">Janet Coles</a>
                    </p>

                    <p class="list-unstyled p-t-md">
                        The goal of the Zip Books Project is to expand the use of an alternative model for interlibrary loan service that, over time, has proved cost effective, easy to use, and extremely popular with the public. The project started in 2013 with 15 libraries; currently 43 library jurisdictions across the state are participating, and 12 more will be added by January 2018.
                    </p>

                    <p>
                        Zip Books is a partnership between the California State Library, <a href="http://califa.org/" target="_blank">Califa Group</a>, and the <a href="http://northnetlibs.org/" target="_blank">NorthNet Library System</a>. It is supported with both California Library Services Act and Library Services and Technology Act funds.
                    </p>

                    <p>
                        <a href="http://califa.org/zip-books" target="_blank">Resources for participating libraries</a>
                    </p>

                    <p>
                        <a href="/grants/lsta/docs/ZipBooksAssessment_GaleciaGroup.pdf" target="_blank">Zip Books Project Assessment</a> (Galecia Group)
                    </p>

                    <p>
                        This project is supported by the U.S. Institute of Museum and Library Services under the provisions of the Library Services and Technology Act, administered in California by the State Librarian.
                    </p>
                </div>

                <div class="third animate-fadeInUp">
                    <img src="~/Content/StateTemplate/images/services/toLibraries/zipbooks.jpg" alt="Zip Books" />
                </div>
            </div>
        </div>
    </main>
</div>

