
@{
    ViewBag.Title = "CSL - Volunteer Program";
    ViewBag.PageTitle = "CSL Volunteer Program";
    ViewBag.Author = "Alan Cleetus";
    ViewBag.Description = "The California State Library has volunteer opportunities that can be located here. Be a part of history by contributing your talents to supporting the information and services provided by one of the oldest cultural institutions in California. You don't need to be a librarian to get involved. If you don't see an opportunity that you are interested in today, check back as more opportunities are always being added.";

}
<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb dynamic"></ol>
                <div class="two-thirds">
                    <h2 class="page-title">@(ViewBag.PageTitle)</h2>
                    <img class="img img-responsive" src="~/Content/StateTemplate/images/volunteer/volunteer.jpg" alt="volunteer program" />
                    <h3>
                        Welcome to the State Library's Volunteer Opportunity Site!

                    </h3>

                    <strong>
                        Got a skill or talent you want to share? Here's the place for you!

                    </strong>
                    <p>
                        Be a part of history by contributing your talents to supporting the information and services provided by one of the oldest cultural institutions in California. You don't need to be a librarian to get involved. If you don't see an opportunity that you are interested in today, check back as more opportunities are always being added.

                    </p>
                </div>
                <div class="third">
                    <div class="panel panel-standout highlight">
                        <div class="panel-heading">
                            <h2><span class="ca-gov-icon-people"></span> 
                                Make a Difference Volunteer
                            </h2>

                        </div>
                        <div class="panel-body">

                            <form name="searchTool" method="get" target="_blank" action="http://californialibraries.volunteermatch.org/">
                                <p>
                                    <label style="color:black" for="zip">Zip Code: </label>
                                    <input name="zip" size="6" maxlength="5" type="text" />
                                </p>
                                <input name="submit" value="y" type="hidden" />
                                <input value="Submit" name="searchSubmit" class="btn btn-default" type="submit" />
                            </form>
                            <em>In partnership with VolunteerMatch</em>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="section">
                    <div class=" panel panel-understated">
                        <div class="panel-heading">
                            <h2>
                                <a href="https://libraries.volunteermatch.org/results/opp_detail.jsp?oppid=1471612&_trk_=ss_546e9e852747b1a71f1016ab21cbaadd">
                                    Docent: California History, Art & Architecture
                                </a>
                            </h2>

                        </div>
                        <div class="panel-body">

                            <p>
                                Sacramento, CA<br />
                                Lead public tours of the recently restored historic California State Library building across the street from the Capitol. We'll train you to assist tour participants in understanding and ...
                            </p>

                            <a href="http://www.volunteermatch.org/"><img class="img img-responsive" src="~/Content/StateTemplate/images/volunteer/volunteermatch.gif" alt="volunteer match logo" /></a>
                        </div> 
                    </div>
                </div>
            </div> 
    </main>
</div>

