
@{
    ViewBag.Title = "CSL - Witkin State Law Library – Law Collection";
    ViewBag.PageTitle = "Witkin State Law Library";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Our California legal research collection includes historic and current laws, statutes, bills, codes and other legislative, regulatory, and judicial materials.";

}
<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/collections">Our Collections</a></li>
                    <li class="active">Law</li>
                </ol>

                <h2 class="page-title">@(ViewBag.PageTitle)</h2>

                <p>
                    The Witkin State Law Library offers an extensive collection of primary and secondary sources with a focus on California law. Primary sources from California's beginnings aid the Legislature and state agencies in tracing legislative or regulatory histories, and practice guides and court briefs aid lawyers and those proceeding pro se. Our collection extends beyond California as we have materials relating to other states, federal legislation, and even historical and international law. We have highlighted but some of our most used and requested resources below.


                <p>
                    Our librarians are willing to help you with your research requests, but we cannot operate as lawyers or provide you with legal advice. If you would like assistance with a case, the <a href="http://www.courts.ca.gov/selfhelp.htm" target="_blank">California Courts Self-Help Center</a> offers extensive information directly from the courts, including information on <a href="http://www.courts.ca.gov/1001.htm" target="_blank">finding a lawyer</a>.
                </p>

                <p>
                    If you need an Authentication Certificate or Apostille, the California State Library is not authorized to issue them, and we refer you to the <a href="http://www.sos.ca.gov/notary/authentication/" target="_blank">California Secretary of State</a>.
                </p>

            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class='panel-group' role='tablist' aria-multiselectable='true'>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading1'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>California Law</a>
                            </h3>
                        </div>
                        <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                            <div class='panel-body'>
                                 
                                    <h3>California Primary Sources</h3>
                                    <h4>Legislative</h4>
                                    <p >
                                        <strong>Senate and Assembly Bills (1867 – date)</strong><br>
                                        The Library has selected bills from 1867 and virtually all versions of the bills from 1876 to date. Bill books contain all versions of a bill from its introduction through when it was either chaptered or last amended. The library has physical versions through the 2003/2004 Legislative Session, but official bill information is also available online from 1993 to date from <a href="http://leginfo.legislature.ca.gov/faces/home.xhtml" target="_blank">California Legislative Information</a>.
                                    </p>
                                    <p >
                                        <strong>Bill File Analyses (1975 – date)</strong><br>
                                        This collection includes summaries, fiscal effects, and comments on different versions of select bills which are invaluable in legislative intent research. The library has print versions through 2012, with some gaps, with access to current analyses through <a href="http://leginfo.legislature.ca.gov/faces/home.xhtml" target="_blank">California Legislative Information</a>.
                                    </p>
                                    <p >
                                        <strong>California Codes (1872 – date)</strong><br>
                                        The Library has superseded editions of the California Codes back to 1872. <em>West's Annotated California Codes</em> provide enactment dates, notes to relevant court decisions, and complete citations of the code history to aid in legislative intent research.
                                    </p>
                                    <h4>Regulatory</h4>
                                    <p >
                                        <strong>California Code of Regulations (1945 – date)</strong><br>
                                        This collection contains all the administrative regulations of California state agencies adopted pursuant to the Administrative Procedure Act.
                                    </p>
                                    <p >
                                        <strong>California Code of Regulations Supplement (1945 – date)</strong><br>
                                        Commonly referred to as the "Register," this is a record of changes to the regulations filed with the Secretary of State and published on a weekly basis.
                                    </p>
                                    <p >
                                        <strong>California Regulatory Notice Register (1974 – date)</strong><br>
                                        First published in 1974, the Notice Register–sometimes referred to as the "Notice Supplement" or "Z Register" – is a weekly publication of all proposed agency regulatory actions including Notices of Adoption, Amendments, Repeals of or other rulemaking activities.
                                    </p>
                                    <h4>Judicial</h4>
                                    <p >
                                        <strong>California Supreme Court and Appellate Court briefs (Cal. – Cal. 4th, Cal. App. – Cal. App. 4th)</strong><br>
                                        Our collection of briefs is nearly complete, but not all are housed on-site. Please contact us in advance so that we can make materials available if you wish to visit.
                                    </p>
                                    <p >
                                        <strong>California Attorney General Opinions (1899 – date)</strong><br>
                                        Providing legal opinions upon request to designated state and local public officials and government agencies on issues arising in the course of their duties, these formal legal opinions have been accorded great respect and weight by the courts.
                                    </p>
                                    <p >
                                        <strong>California Attorney General Reports (1874 – 1942)</strong><br>
                                        A shorter report that includes indices to opinions rendered to various agencies, including tables on number of opinions requested, pending, and issued.
                                    </p>
                                    <h3>California Secondary Sources</h3>
                                    <p >
                                        <strong>Witkin California Treatises</strong><br>
                                        These treatises on law and procedure are renowned for their readability and practicality. Extensive references to cases, practice guides, law reviews, and other commentary make them an invaluable resource when beginning to research California law.
                                    </p>
                                    <p >
                                        <strong>California Jurisprudence (Cal. Jur. – Cal. Jur. 3d)</strong><br>
                                        Derived from California statutes and cases, this resource presents a thoroughly indexed and cross-referenced collection that illustrates the rules of California law and all exceptions, qualifications, and limitations.
                                    </p>
                                    <p >
                                        <strong>California Continuing Education of the Bar (CEB)</strong><br>
                                        These publications offer expert step-by-step guidance, legal analysis, and forms for business law, criminal law, employment law, estate planning, family law, litigation, real property law, and other California legal topics.
                                    </p>
                                    <p >
                                        <strong>Practice Guides</strong><br>
                                        The library has a wide collection of California practice guides, including those by Rutter Group and Matthew Bender, that include case citations, forms, and law practice tips useful for lawyers and those proceeding pro se.
                                    </p>
                                    <p >
                                        <strong>Court Rules</strong><br>
                                        This collection contains current and superseded rules of court for California courts from the local to federal district level.
                                    </p>
                                    <p  >
                                        <strong>Legal Forms</strong><br>
                                        The library has volumes of forms adopted or approved by the Judicial Council for use in the courts of California that may be scanned. Additional other forms include jury instructions and forms from select practice guides.
                                    </p>
                         


                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading2'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>Federal Law</a>
                            </h3>
                        </div>
                        <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                            <div class='panel-body'>
                                 
                                    <p >
                                        <strong>Federal Register (1936 – date)</strong><br>
                                        Newly proposed federal agency rules and regulations, notices of meetings, public comments on regulatory actions and more are all printed in this daily journal.
                                    </p>
                                    <p  >
                                        <strong>Code of Federal Regulations (1938 – date)</strong><br>
                                        Published in 50 titles, this collection has all current and superseded volumes of these codified rules and regulations of federal agencies. The CFR is the final, published version of the rules and regulations published in the Federal Register. Title 3 also publishes all Executive Orders and Proclamations of the President.
                                    </p>
                                    <p  >
                                        <strong>U.S. Attorney General Opinions (1852 – 2008)</strong><br>
                                        The library holds selected published opinions from the Attorney General published as <em>Official Opinions of the Attorneys General of the United States</em>. Beginning in 1977, with the Attorney General's authorization, this publication continues as <em>Opinions of the Office of Legal Counsel</em>.
                                    </p>
                                    <p  >
                                        <strong>United States Statutes at Large (1849 – 2011)</strong><br>
                                        This collection of all enacted laws is published at the conclusion of a session of Congress. Slip laws are available in the library before publication in the Statutes at Large.
                                    </p>
                                    <p  >
                                        <strong>United States Codes Annotated (c.1940 – date)</strong><br>
                                        This version of the U.S. Code comprises all laws of a general and permanent nature under arrangement of the official Code of laws of the United States, with annotations from federal and state courts.
                                    </p>
                                
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading3'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>Out of State</a>
                            </h3>
                        </div>
                        <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                            <div class='panel-body'>
                                 
                                    <p>
                                        Our holdings vary by state and period, but the library has a collection of superseded codes, statutes, session laws, court reports, and other legal reference materials.
                                    </p>
                                
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading4'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse4' aria-expanded='false' aria-controls='collapse4'>Online Databases</a>
                            </h3>
                        </div>
                        <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                            <div class='panel-body'>

                                <p>
                                    <a href="https://www.gpo.gov/fdsys/" target="_blank">FDsys (Federal Digital System)</a><br>
                                    Developed by the U.S. Government Printing Office, this database provides permanent public access to electronic U.S. government information published by the U.S. Congress, Federal Executive agencies, and the Federal Court System.
                                </p>
                                <p>
                                    <a href="http://proxy.library.ca.gov/login?url=http://heinonline.org/HOL/Welcome" target="_blank">HeinOnline</a><br>
                                    This searchable digital library offers full-text collections of legal journals, texts, cases, statutes, regulations, presidential materials, treaties, as well as international and foreign legal journals, cases and materials. Content is in the original page-image (PDF) format, ensuring the authenticity of the original hardcopy document. (Anyone can access using computers or wireless at the California State Library in Sacramento and the Sutro Library in San Francisco. State employees with library cards can log in from anywhere.)
                                </p>
                                <p>
                                    <a href="http://proxy.library.ca.gov/login?url=http://ceb.com/OnLAW/ipaccess" target="_blank">OnLAW (CEB)</a><br>
                                    This database provides online access to over 140 titles of Continuing Education of the Bar (CEB) California practice guides. Search CEB's publications to find expert step-by-step guidance, legal analysis, and forms for business law, criminal law, employment law, estate planning, family law, litigation, real property law, and other California legal topics. (Anyone can access using computers or wireless at the California State Library in Sacramento and the Sutro Library in San Francisco. State employees with library cards can log in from anywhere.)
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading5'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse5' aria-expanded='false' aria-controls='collapse5'>Contact Us</a>
                            </h3>
                        </div>
                        <div id='collapse5' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading5'>
                            <div class='panel-body'>

                                <p>
                                    Do you have a reference question? Use our <a href="https://askstatelibrary.libraryresearch.info/reft100.aspx?pmi=dckiK6ReCE" target="_blank">Ask A Librarian</a> service, which directs your inquiry to a California State Library staff member.
                                </p>
                                <p>
                                    If you would like to visit, our reading room is open to the public Monday through Friday, from 9 a.m. to 4 p.m.
                                </p>
                                <p><span class="ca-gov-icon-mail" aria-hidden="true"></span><a href="mailto:csllaw@library.ca.gov">csllaw@library.ca.gov</a></p>
                                <p><span class="ca-gov-icon-phone" aria-hidden="true"></span> <a href="tel:+9163239839">(916) 323-9839</a></p>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </main>
</div>