@model CSLBusinessObjects.Models.ApplyModel
@{
    ViewBag.Title = "CSL - Apply for a Library Card today!";
    ViewBag.PageTitle = "Library Card Application";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "A California State Library card gives you access to our collection as well as those of other institutions. Sign up today!";
    ViewBag.Keywords = "California State Library, Art, CA, Legislators, State Library";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

</head>
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">

            <div class="section">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li>Apply for a Library Card</li>
                </ol>

                <h3 class="page-title">@(ViewBag.PageTitle)</h3>

                <p>With a State Lbrary Card, you can:</p>
                <div class="indent-outer">
                    <div class="indent-inner">
                        <ul>
                            <li>Access online resources and databases</li>
                            <li>Get research help</li>
                            <li>Borrow books, videos, journals, state workforce, trainingguides, state and federal publications, and much more</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="section">

                @using (Html.BeginForm("Apply", "LibraryCardApplication", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <!--person type-->
                    <div class="form-group">
                        <p>
                            <span class="required-label">*</span>
                            @Html.LabelFor(m => m.Jobs)
                        </p>

                        @Html.DropDownListFor(m => m.Jobs, new SelectList(Model.Jobs, "Jobs"), new { onclick = "showRest()", @class = "form-control" })


                        @Html.ValidationMessage("Jobs", new { @class = "text-danger" })


                    </div>

                    <script>

                        function showRest() {
                            var value = document.getElementById("Jobs").value;

                            if (value == "General Public") {
                                document.getElementById("resultDiv").innerHTML = "<p>The general public cannot apply for a library card<p>";
                                document.getElementById("restOfForm").style.display = "none";

                                document.getElementById("newsletterForm").style.display = "none";
                            }
                            else {
                                document.getElementById("resultDiv").innerHTML = "";
                                document.getElementById("restOfForm").style.display = "block";
                                document.getElementById("newsletterForm").style.display = "block";
                            }
                        }
                    </script>
                    <div id="resultDiv" style="color:red"></div>

                    <!--this div only show if you are not the general public-->
                    <div id="restOfForm" style="display:none">

                        <!--person name-->
                        <div class="group">
                            <div class="form-group half">
                                <p>
                                    <span class="required-label">*</span>
                                    @Html.LabelFor(m => m.FirstName)
                                </p>

                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter first name" })

                                @Html.ValidationMessage("FirstName", new { @class = "text-danger" })

                            </div>


                            <div class="form-group half">
                                <p>
                                    <span class="required-label">*</span>  @Html.LabelFor(m => m.LastName)
                                </p>

                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter last name" })

                                @Html.ValidationMessage("LastName", new { @class = "text-danger" })
                            </div>

                        </div>

                        <!--home address-->
                        <div class="form-group">
                            <p>
                                <span class="required-label">*</span> @Html.LabelFor(m => m.Address)
                            </p>

                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Enter home address" })

                            @Html.ValidationMessage("Address", new { @class = "text-danger" })
                        </div>

                        <!--city and zip-->
                        <div class="group">
                            <div class="form-group half">
                                <p>
                                    <span class="required-label">*</span> @Html.LabelFor(m => m.City)
                                </p>

                                @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Enter city name" })

                                @Html.ValidationMessage("City", new { @class = "text-danger" })
                            </div>


                            <div class="form-group half">
                                <p>
                                    <span class="required-label">*</span> @Html.LabelFor(m => m.ZipCode)
                                </p>

                                @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })

                                @Html.ValidationMessage("ZipCode", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!--email-->
                        <div class="form-group">
                            <p>
                                <span class="required-label">*</span> @Html.LabelFor(m => m.Email)
                            </p>

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                            @Html.ValidationMessage("Email", new { @class = "text-danger" })
                        </div>


                        <!--phone number-->
                        <div class="form-group">
                            <p>
                                <span class="required-label">*</span> @Html.LabelFor(m => m.HomePhone)
                            </p>

                            @Html.TextBoxFor(m => m.HomePhone, new { @class = "form-control" })

                            @Html.ValidationMessage("HomePhone", new { @class = "text-danger" })
                        </div>

                        <!--agency/affiliaton-->
                        <p>
                            <span class="required-label">*</span>
                            @Html.LabelFor(m => m.Agency)
                        </p>

                        @Html.DropDownListFor(m => m.Agency, new SelectList(Model.Agency, "Agency"), new { @class = "form-control" })

                        @Html.ValidationMessage("Agency", new { @class = "text-danger" })


                        <!--work address-->
                        <div class="form-group">
                            <p>
                                <span class="required-label">*</span> @Html.LabelFor(m => m.WorkAddress)
                            </p>

                            @Html.TextBoxFor(m => m.WorkAddress, new { @class = "form-control" })

                            @Html.ValidationMessage("WorkAddress", new { @class = "text-danger" })
                        </div>

                        <!--work city and zipcode-->
                        <div class="group">
                            <div class="form-group half">
                                <p>
                                    <span class="required-label">*</span> @Html.LabelFor(m => m.WorkCity)
                                </p>

                                @Html.TextBoxFor(m => m.WorkCity, new { @class = "form-control" })

                                @Html.ValidationMessage("WorkCity", new { @class = "text-danger" })
                            </div>

                            <div class="form-group half">
                                <p>
                                    <span class="required-label">*</span> @Html.LabelFor(m => m.WorkZipCode)
                                </p>

                                @Html.TextBoxFor(m => m.WorkZipCode, new { @class = "form-control" })

                                @Html.ValidationMessage("WorkZipCode", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!--work email-->
                        <div class="form-group">
                            <p>
                                <span class="required-label">*</span> @Html.LabelFor(m => m.WorkEmail)
                            </p>

                            @Html.TextBoxFor(m => m.WorkEmail, new { @class = "form-control" })

                            @Html.ValidationMessage("WorkEmail", new { @class = "text-danger" })
                        </div>

                        <!--work phone-->
                        <div class="form-group">
                            <p>
                                <span class="required-label">*</span> @Html.LabelFor(m => m.WorkPhone)
                            </p>

                            @Html.TextBoxFor(m => m.WorkPhone, new { @class = "form-control" })

                            @Html.ValidationMessage("WorkPhone", new { @class = "text-danger" })
                        </div>

                        <!--agreement-->
                        <div class="form-group">
                            <p>
                                <input type="checkbox" id="agreeToRules" required>
                                <span class="required-label">*</span> By checking this box, I agree to be responsible for California State Library materials while I view them; to pay for any materials I lose or damage;
                                to give prompt notice of a change in my name or address; and, to abide by the rules and policies of the California State Library.
                            </p>
                        </div>


                    </div>
                        <!--alerts adn sgnup -->
                    <!-- div class="form-group">
                        <p>

                        </p>
                        <p>
                            <input type="checkbox" id="newsAndEventsAlerts">
                            State Library news and events.
                        </p>

                        <p>
                            <input type="checkbox" id="quartelyInformationAlerts">
                            Quarterly information for patrons of the Braille and Talking Book Library.

                        </p>

                        <p>
                            <input type="checkbox" id="lunchEventsAlerts">
                            <em>Lunch with a Side of Research</em> runs Mondays with a listing of free policy/research lunch events.
                        </p>

                        <p>
                            <input type="checkbox" id="studiesInNewsAlerts">
                            <em>Studies in the News</em> runs Wednesdays, providing recent studies that may be useful to policy discussions.
                        </p>

                        <p>
                            <input type="checkbox" id="emailAlerts">
                            I would like to get email alerts for upcoming events at the State Library.
                        </p>
                    </div-->

                    <br>
                    <br>
                    <div class="section" id="newsletterForm" style="display:none">
                        <div class="contianer">
                            <div class='panel-group' role='tablist' aria-multiselectable='true'>

                                <div class='panel panel-default'>
                                    <div class='panel-heading' role='tab' id='heading1'>
                                        <h3 class='panel-title'>
                                            <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>Sign up for California State Library newsletters, and news and alerts on upcoming events:</a>
                                        </h3>
                                    </div>
                                    <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>

                                        <div class='panel-body'>

                                            <!-- Begin MailChimp Signup Form -->
                                            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                                            <style type="text/css">
                                                #mc_embed_signup {
                                                    background: #fff;
                                                    clear: left;
                                                    font: 14px Helvetica,Arial,sans-serif;
                                                }
                                                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                                            </style>
                                            <div id="mc_embed_signup">
                                                <form action="https://library.us13.list-manage.com/subscribe/post?u=dacfa367c242711b7d6f73ca7&amp;id=d29f00fe31" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                                    <div id="mc_embed_signup_scroll">


                                                        <div class="mc-field-group">
                                                            <label for="mce-FNAME">
                                                                First Name  <span class="asterisk">*</span>
                                                            </label>
                                                            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                                                        </div>
                                                        <div class="mc-field-group">
                                                            <label for="mce-LNAME">
                                                                Last Name  <span class="asterisk">*</span>
                                                            </label>
                                                            <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                                                        </div>
                                                        <div class="mc-field-group">
                                                            <label for="mce-EMAIL">
                                                                Email Address  <span class="asterisk">*</span>
                                                            </label>
                                                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                                        </div>
                                                        <div class="mc-field-group">
                                                            <label for="mce-ORG">Organization </label>
                                                            <input type="text" value="" name="ORG" class="" id="mce-ORG">
                                                        </div>
                                                        <div class="mc-field-group">
                                                            <label for="mce-ORGTYPE">Organization Type </label>
                                                            <select name="ORGTYPE" class="" id="mce-ORGTYPE">
                                                                <option value=""></option>
                                                                <option value="Government - Other">Government - Other</option>
                                                                <option value="Government - CA Legislature">Government - CA Legislature</option>
                                                                <option value="Government - CA State Agency">Government - CA State Agency</option>
                                                                <option value="Government - CA Office of the Governor">Government - CA Office of the Governor</option>
                                                                <option value="Government - Other CA Constitutional Office">Government - Other CA Constitutional Office</option>
                                                                <option value="Government - Local/County">Government - Local/County</option>
                                                                <option value="Education">Education</option>
                                                                <option value="Media">Media</option>
                                                                <option value="Research Organization">Research Organization</option>
                                                                <option value="General Public">General Public</option>
                                                                <option value="Other">Other</option>
                                                            </select>
                                                        </div>
                                                        <div class="mc-field-group">
                                                            <label for="mce-JOBTITLE">Job Title </label>
                                                            <input type="text" value="" name="JOBTITLE" class="" id="mce-JOBTITLE">
                                                        </div>
                                                        <div class="mc-field-group input-group">
                                                            <strong>Choose the mailing list(s) you want to subscribe: </strong>
                                                            <ul>
                                                                <li><input type="checkbox" value="1" name="group[9521][1]" id="mce-group[9521]-9521-0"><label for="mce-group[9521]-9521-0">CSL News and Events</label></li>
                                                                <li><input type="checkbox" value="2" name="group[9521][2]" id="mce-group[9521]-9521-1"><label for="mce-group[9521]-9521-1">BTBL Updates</label></li>
                                                                <li><input type="checkbox" value="4" name="group[9521][4]" id="mce-group[9521]-9521-2"><label for="mce-group[9521]-9521-2">California State Publications</label></li>
                                                                <li><input type="checkbox" value="8" name="group[9521][8]" id="mce-group[9521]-9521-3"><label for="mce-group[9521]-9521-3">CRB Lunch with a Side of Research</label></li>
                                                                <li><input type="checkbox" value="16" name="group[9521][16]" id="mce-group[9521]-9521-4"><label for="mce-group[9521]-9521-4">CRB Studies in the News</label></li>
                                                            </ul>
                                                        </div>
                                                        <div class="mc-field-group input-group">
                                                            <strong>Email Format </strong>
                                                            <ul>
                                                                <li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
                                                                <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
                                                            </ul>
                                                        </div>
                                                        <div id="mce-responses" class="clear">
                                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dacfa367c242711b7d6f73ca7_d29f00fe31" tabindex="-1" value=""></div>
                                                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                                    </div>
                                                </form>
                                            </div>
                                            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                                            <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[2] = 'FNAME'; ftypes[2] = 'text'; fnames[1] = 'LNAME'; ftypes[1] = 'text'; fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[3] = 'ORG'; ftypes[3] = 'text'; fnames[4] = 'ORGTYPE'; ftypes[4] = 'dropdown'; fnames[5] = 'JOBTITLE'; ftypes[5] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                                            <!--End mc_embed_signup-->
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <br />

                    <div class="form-group">
                        <div class="pull-right">
                            <input type="submit" value="Submit" class="btn btn-default pull-right" />
                        </div>
                    </div>

                }
                <div class="clearfix"></div>

            </div>
        </div>
    </main>
</div>

<script>
    $(document).ready(function () {


        $("#firstName").keyup(function () {
            $("#mce-FNAME").val(this.value);
        });

        $("#lastName").keyup(function () {
            $("#mce-LNAME").val(this.value);
        });

        $("#personalEmail").keyup(function () {
            $("#mce-EMAIL").val(this.value);
        });
    });
</script>