
@{
    ViewBag.Title = "CAGoldRush";
    ViewBag.Banner = "CSLBuilding.jpg";
    ViewBag.Author = "Matthew Loller";
    ViewBag.Description = "California State Library About page.  Find general information about the state library here.";
    ViewBag.Keywords = "California State Library, Diital Image Reproduction, CA, Legislators, State Library";
}

<head>
    <title>@(ViewBag.Title)</title>
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container section">
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/california-history/">california history</a>
                </li>
                <li class="active">California Gold Rush</li>
            </ol>
            <h3 class="page-title">California Gold Rush</h3>
            <div class="third">

                <ul class="section-selector">

                    <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section1</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section2" aria-expanded="false" aria-controls="section2" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section2</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section3" aria-expanded="false" aria-controls="section3" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section3</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section4" aria-expanded="false" aria-controls="section4" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section4</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section5" aria-expanded="false" aria-controls="section5" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section5</a></li>

                </ul>

            </div>

            <div class="third">

                <ul class="section-selector">
                    <li><a role="tab" data-toggle="collapse" href="#section6" aria-expanded="false" aria-controls="section6" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section6</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section7" aria-expanded="false" aria-controls="section7" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section7</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section8" aria-expanded="false" aria-controls="section8" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section8</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section9" aria-expanded="false" aria-controls="section9" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section9</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section10" aria-expanded="false" aria-controls="section10" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section10</a></li>
                </ul>

            </div>

            <div class="third">

                <ul class="section-selector">

                    <li><a role="tab" data-toggle="collapse" href="#section11" aria-expanded="false" aria-controls="section11" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section11</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section12" aria-expanded="false" aria-controls="section12" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section12</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section13" aria-expanded="false" aria-controls="section13" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section13</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section14" aria-expanded="false" aria-controls="section14" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section14</a></li>
                    <li><a role="tab" data-toggle="collapse" href="#section15" aria-expanded="false" aria-controls="section15" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-play" aria-hidden="true"></span>&nbsp;Section15</a></li>

                </ul>

            </div>

        </div>

        @Html.Partial("~/Views/shared/CAGoldRush/_Section1.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section2.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section3.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section4.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section5.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section6.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section7.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section8.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section9.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section10.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section11.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section12.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section13.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section14.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section15.cshtml")


    </main>
</div>
