
@{
    ViewBag.Title = "CAGoldrush";
}

<div id="main-content" class="main-content">
    <main class="main-primary">
        <h2>CAGoldrush</h2>
        @Html.Partial("~/Views/shared/CAGoldRush/_Section1.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section2.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section3.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section4.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section5.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section6.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section7.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section8.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section9.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section10.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section11.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section12.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section13.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section14.cshtml")
        @Html.Partial("~/Views/shared/CAGoldRush/_Section15.cshtml")
        <ul>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section1</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section2" aria-expanded="false" aria-controls="section2" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section2</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section3</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section4</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section5</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section6</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section7</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section8</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section9</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section10</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section11</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section12</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section13</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section14</a></li>
            <li><a role="tab" data-toggle="collapse" href="#section1" aria-expanded="false" aria-controls="section1" aria-selected="false" id="ui-collapse-278"><span class="ca-gov-icon-share" aria-hidden="true"></span>&nbsp;Section15</a></li>
        </ul>
    </main>
</div>
