@{
    ViewBag.Title = "CSL - Copyright Policy - CA History Room";
    ViewBag.PageTitle = "Copyright Policy";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Do you want to use a California History Room item in your next exhibit, book, website or movie? Do you have copyright concerns? Read our policy here!";
    ViewBag.Keywords = "History Room, Permission, Fair Use";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/collections">Our Collections</a></li>
                    <li><a href="/california-history">California History</a></li>
                    <li>Copyright and Fair Use</li>
                </ol>

                <h2 class="page-title">@(ViewBag.PageTitle)</h2>

                <div class="group">
                    <div class="two-thirds">
                        <p>
                            The copyright law of the United States (Title 17, U.S. Code Section 101, et seq.) governs the making of photocopies or other reproductions of copyrighted material.
                            Under certain conditions specified in the "fair use" provision of copyright law, libraries and archives are authorized to furnish users a photocopy or reproduction.
                            The photocopy or reproduction may be used "for purposes such as criticism, comment, news reporting, teaching (including multiple copies for classroom use), scholarship or research," but not for commercial purposes (17 U.S. Code Section 107).
                        </p>
                        <p>
                            If a user makes a request for, and later uses, a photocopy or reproduction for purposes in excess of "fair use," that user may be liable for copyright infringement.
                            The California State Library reserves the right to refuse to accept a reproduction order if, in its judgment, fulfillment of the order would involve violation of copyright law.
                        </p>
                        <p>
                            It remains the user's responsibility to determine the copyright status of any material provided by the library. Copyright has not been assigned to California State Library. The library can claim only physical ownership of the material.
                            The user must obtain the required permission from a copyright owner before using material from the collection or from the web site if the intended use of the material would exceed "fair use" limits.
                        </p>
                        <p>
                            The California State Library permits "fair use," as described above, of documents and images from its collections and web site for private study, scholarship, teaching, criticism, news reporting, comment, or research only.
                            Publication, exhibition, commercial use, or reproduction of any material from the California State Library's collections, in either physical or digital form, is prohibited without prior written <a href="/california-history/permission-to-use">permission</a> of the California State Library.
                        </p>
                    </div>

                    <div class="third">
                        <div class="autoLoop carousel carousel-content animated fadeInRight">
                            <div class="item">
                                <img src="~/Content/StateTemplate/images/caliorniaHistory/letter.jpg" alt="Letter" />
                            </div>

                            <div class="item">
                                <img src="~/Content/StateTemplate/images/caliorniaHistory/library.jpg" alt="CSL Library" />
                            </div>

                            <div class="item">
                                <img src="~/Content/StateTemplate/images/caliorniaHistory/camp.jpg" alt="Camp" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
