@{
    ViewBag.Title = "CSL - Low-resolution Copy Orders - CA History Room";
    ViewBag.PageTitle = "Copying Services";
    ViewBag.Author = "Ryan Salcido";
    ViewBag.Description = "Want a copy of one of the California History Section's items? Learn more about how to place a copy order with us here!";
    ViewBag.Keywords = "Copying Services, Photocopy, order";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>


<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/collections">Our Collections</a></li>
                    <li><a href="/california-history">California History</a></li>
                    <li>Copying Services</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <div class="group">
                    <div class="two-thirds animate-fadeInUp">
                        <p class="list-unstyled p-b-md">
                            Would you like a copy of one of our items? Our basic copying services include photocopies and low-resolution scans. 
                            However, for some items, we also provide <a href="/california-history/digital-images/">high-resolution digital reproductions</a> and <a href="/california-history/photo-reproduction/">photographic reproductions</a>. 
                            If you have any questions about this process please <a href="https://askstatelibrary.libraryresearch.info/reft100.aspx?pmi=Axjk2prfwS">contact us</a>.
                        </p>

                        <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Photocopies</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>
                                            Library staff can provide photocopies on plain paper of selected items in the California History Room's collections, for a fee and on a time-delayed basis. 
                                            Items that may be copied only by staff include photographs, manuscripts, postcards, vertical file materials, and textual file materials. 
                                            The size of original materials may not exceed 12x17 inches. 
                                            Our photocopying limit is 20 copies per patron per week. More than 20 pages of material will not be copied from the same volume or collection.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Low-Resolution Scans</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>
                                            As an alternative to photocopies, library staff can provide low-resolution scans of 
                                            <a href="/california-history/manuscripts/">manuscript materials</a>, 
                                            <a href="/california-history/ephemera/">vertical file and textual file materials</a>, 
                                            and <a href="/california-history/maps/">maps</a>. The result is a PDF file. 
                                            The same size and page limits used in photocopying apply. Color scans can be provided if the item warrants it.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Conditions</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>
                                            The <a href="/home">State Library</a> reserves the right to refuse to copy materials that may be damaged by the process and to prohibit the copying of certain fragile items.
                                            Additionally, some materials may not be able to be copied due to copyright restrictions. Microfilming in lieu of photocopying may be considered for 
                                            <a href="/california-history/books/">fragile books</a>, 
                                            <a href="/california-history/manuscripts/">manuscript collections</a>, or other rare items.
                                            The cost of microfilming is determined by the individual items on a case-by-case basis. 
                                            Please consult our <a href="/california-history/fair-use/">copyright and fair use</a> page as well as our 
                                            <a href="/california-history/permission-to-use/">permission to use</a> page for further information about our conditions of use.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Fees</a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <table class="table table-default">
                                            <tbody>
                                                <tr>
                                                    <td>Photocopies of manuscripts, vertical file or textual file materials, etc.</td>
                                                    <td>$0.25/exposure</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Low-resolution scans of manuscripts, vertical file or textual file materials, etc.</td>
                                                    <td>$0.25/exposure</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Photocopies or scans of photographs or postcards</td>
                                                    <td>$0.50/photo</td>
                                                    <td>Includes both sides of the image to capture filing information</td>
                                                </tr>
                                                <tr>
                                                    <td>Handling fee</td>
                                                    <td>$2.00/order</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Payment Methods</a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <p>
                                            Payment by cash, check, or money order (made payable to the California State Library) must be received before we can process your request. 
                                            We can only accept cash for orders that total $10.00 or less. 
                                            We cannot accept charge cards. All prices are subject to change without notice.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Delivery Time</a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <table class="table table-default">
                                            <thead>
                                                <tr>
                                                    <th>Document Type</th>
                                                    <th>Delivery Method</th>
                                                    <th>Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Photocopies</td>
                                                    <td>Mail</td>
                                                    <td>3 Weeks</td>
                                                </tr>
                                                <tr>
                                                    <td>Photocopies</td>
                                                    <td>Pick-Up</td>
                                                    <td>5 Business Days</td>
                                                </tr>
                                                <tr>
                                                    <td>PDF Files</td>
                                                    <td>E-mail</td>
                                                    <td>5 Busiess Days</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="third animate-fadeInUp">
                        <div class="autoLoop carousel owl-carousel carousel-content">
                            <div class="item">
                                <img src="~/Content/StateTemplate/images/caliorniaHistory/photoReproduction/1.jpg" alt="Photo Reproduction" />
                            </div>

                            <div class="item">
                                <img src="~/Content/StateTemplate/images/caliorniaHistory/photoReproduction/2.jpg" alt="Book Processing Staff" />
                            </div>

                            <div class="item">
                                <img src="~/Content/StateTemplate/images/caliorniaHistory/photoReproduction/3.jpg" alt="Scanner" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

