
@{
    ViewBag.Title = "CSL - Images - CA History Room";
    ViewBag.PageTitle = "California Images";
    ViewBag.Author = "Chris Pulido";
    ViewBag.Description = "Want a historic picture of a California town, building, natural wonder or person? Check the California History Section’s image collection!";
    ViewBag.Keywords = "California State Library, california history, room, unique files";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/home">Home</a></li>
                <li><a href="/collections">Our Collections</a></li>
                <li><a href="/california-history">California History</a></li>
                <li style="text-transform:none;">California Images</li>
            </ol>
            <h2 class="page-title">@ViewBag.PageTitle</h2>
        </div>

        <div class="section">
            <div class="container">

                <div class="group">
                    <!-- Main content -->
                    <div class="three-quarters">
                        <p>
                            Do you love looking at pictures? You've come to the right place! Our massive pictorial collection contains everything from <a href="http://dbs.library.ca.gov/dbtw-wpd/exec/dbtwpub.dll?QB0=AND&QF0=NO&QI0=100280&TN=Display&RF=webdisplaycollab&DF=webdisplaycollab&AC=QBE_QUERY" target="_blank">daguerreotypes</a> to color photos. We have <a href="http://dbs.library.ca.gov/dbtw-wpd/exec/dbtwpub.dll?QB0=AND&QF0=NO&QI0=100285&TN=Display&RF=webdisplaycollab&DF=webdisplaycollab&AC=QBE_QUERY" target="_blank">postcards</a>, <a href="http://dbs.library.ca.gov/dbtw-wpd/exec/dbtwpub.dll?QB0=AND&QF0=NO&QI0=100281&TN=Display&RF=webdisplaycollab&DF=webdisplaycollab&AC=QBE_QUERY" target="_blank">letter-sheets</a>, <a href="http://dbs.library.ca.gov/dbtw-wpd/exec/dbtwpub.dll?QB0=AND&QF0=NO&QI0=100283&TN=Display&RF=webdisplaycollab&DF=webdisplaycollab&AC=QBE_QUERY" target="_blank">lithographs</a>, <a href="http://dbs.library.ca.gov/dbtw-wpd/exec/dbtwpub.dll?QB0=AND&QF0=NO&QI0=100282&TN=Display&RF=webdisplaycollab&DF=webdisplaycollab&AC=QBE_QUERY" target="_blank">stereographs</a> and <a href="http://dbs.library.ca.gov/dbtw-wpd/exec/dbtwpub.dll?QB0=AND&QF0=NO&QI0=100284&TN=Display&RF=webdisplaycollab&DF=webdisplaycollab&AC=QBE_QUERY" target="_blank">paintings</a> as well as collections of work by famous California photographers like <a href="http://dbs.library.ca.gov/dbtw-wpd/exec/dbtwpub.dll?QB0=AND&QF0=NO&QI0=100286&TN=Display&RF=webdisplaycollab&DF=webdisplaycollab&AC=QBE_QUERY" target="_blank">Carleton Watkins</a>, <a href="http://dbs.library.ca.gov/dbtw-wpd/exec/dbtwpub.dll?QB0=AND&QF0=NO&QI0=100287&TN=Display&RF=webdisplaycollab&DF=webdisplaycollab&AC=QBE_QUERY" target="_blank">William Fletcher</a> and <a href="http://dbs.library.ca.gov/dbtw-wpd/exec/dbtwpub.dll?QY=find%20(NO%20ct%20((100290/100292/100291/100288/100289)&TN=Display&RF=webdisplaycollab&DF=webdisplaycollab&AC=QBE_QUERY" target="_blank">others</a>. Our collection is so big, that much of it is still not online. However, you can see a portion of it on <a href="https://calisphere.org/institution/51/collections/" target="_blank">Calisphere</a> and in our <a href="http://catalog.library.ca.gov/F/?" target="_blank">catalog</a>. If you have any questions please feel free to <a href="http://askstatelibrary.libraryresearch.info/reft100.aspx?key=Ref" target="_blank">contact us</a>.
                        </p>
                        <br />
                        <p><span class="ca-gov-icon-info"></span>   Click on the titles below for more information.</p>
                        <div class="panel-group" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">Photograph News</a>
                                    </h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="/california-history/current-display">On Display</a></li>
                                            <li><a href="http://dbs.library.ca.gov/dbtw-wpd/exec/dbtwpub.dll?QY=find%20(SU%20ct%20(Postcards)%20AND%20(ENT%20ct%20(July%202017) %20AND%20(IMG%20ct%20*))&TN=CALINFO&RF=webdisplayCOLLAB&DF=webdisplayCOLLAB&AC=QBE_Query" target="_blank">Just Indexed</a></li>
                                        </ul>	
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading2">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2">More Images</a>
                                    </h3>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="panel-body">
                                        <p>
                                            Not finding what you need? Don't give up! The <a href="http://catalog.library.ca.gov/F/?" target="_blank">online catalog</a> identifies only a portion of our pictorial collection. Another portion is identified by a card catalog available in the <a href="/california-history">California History Room</a>. You can obtain a fuller idea of our holdings by checking our <a href="~/Content/StateTemplate/pdf/californiaHistory/ImageResearch.pdf" target="_blank">detailed research guide</a> or by <a href="http://askstatelibrary.libraryresearch.info/reft100.aspx?key=Ref">consulting with</a> one of our librarians.
                                        </p>	
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading3">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3">Remote Access</a>
                                    </h3>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                    <div class="panel-body">
                                        <p>
                                            You can see digital copies of some of our images on <a href="https://calisphere.org/institution/51/collections/" target="_blank">Calisphere</a>, our <a href="http://catalog.library.ca.gov/F/?" target="_blank">online catalog</a> and in the <a href="http://dbs.library.ca.gov/dbtext_html/QueryCalinfo.htm" target="_blank">California Information File II</a>. If you aren't finding what you want, please <a href="http://askstatelibrary.libraryresearch.info/reft100.aspx?key=Ref" target="_blank">email us</a> with your questions.
                                        </p>	
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading4">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4">Reproductions</a>
                                    </h3>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                    <div class="panel-body">
                                        <p>
                                            We permit no-flash photography of these materials and can arrange for <a href="/california-history/photo-reproduction">photographic reproductions</a> or <a href="/california-history/photo-reproduction" target="_blank">digital reproductions</a> of much of our pictorial resources. If you have any questions about these services, please feel free to <a href="http://askstatelibrary.libraryresearch.info/reft100.aspx?key=Ref" target="_blank">contact us</a>.
                                        </p>	
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Rotating image carousel -->
                    <div class="quarter">
                        <div class="autoLoop carousel owl-carousel carousel-content">
                            <img src="~/Content/StateTemplate/images/caliorniaHistory/pictorialResources/1.jpg" title="Maynard Dixon, 192-?" alt="Maynard Dixon, 192-?" />
                            <img src="~/Content/StateTemplate/images/caliorniaHistory/pictorialResources/2.jpg" title="View of Half Dome in background, Merced River in foreground; ca. 1920." alt="View of Half Dome in background, Merced River in foreground; ca. 1920." />
                            <img src="~/Content/StateTemplate/images/caliorniaHistory/pictorialResources/3.jpg" title="Pictorial Resources Collection" alt="Pictorial Resources Collection" />
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </main>
</div>

