
@{
    ViewBag.Title = "CSL - California State Library Executive Staff";
    ViewBag.PageTitle = "California State Library Executive Staff";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "California State Library Executive Staff";
    ViewBag.Keywords = "California, state, Library, executive, staff";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<style>
    .blue-div {
        color:black;
        font-weight:normal;
    }
    .blue-div p {
        color: black;
    }
    .panel-heading h4 {
        color: #0a5b82 !important;
        font-weight: bold !important;
        font-size: 24px !important
    }
</style>
<div id="main-content" class="main-content">

    <div class="container">
        <main class="main-primary">
            <!-- InstanceBeginEditable name="MainContent" -->
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Executive Staff</li>
            </ol>
            <h1 id="title-page">@ViewBag.PageTitle</h1>
            <img id="page-banner" src="~/Content/StateTemplate/images/about/executiveStaff/top.jpg" style="width:100% ;padding-bottom:30px" alt="" />
            <div style="clear: both;"></div>
        </main>
    </div>
    <div class="blue-div" style="text-align:left">
        <div class="threecolumns">
            <div class="panel panel-default photo-left">
                <div class="panel-heading">
                    <h4>Greg Lucas</h4>
                    <p>State Librarian</p>
                </div>
                <div class="panel-body">
                    <div class="spacer"></div>
                    <p>
                        Greg Lucas was appointed California’s 25th State Librarian by Governor Jerry Brown on March 25, 2014.
                    </p>
                    <p>
                        Prior to his appointment, Greg was the Capitol Bureau Chief for the San Francisco Chronicle where he covered politics and policy at the State Capitol for nearly 20 years.
                    </p>
                    <p>
                        During Greg’s tenure as State Librarian, the State Library's priorities have been to improve reading skills throughout the state, put library cards into the hands of every school kid and provide all Californians the information they need – no matter what community they live in.
                    </p>
                    <p>
                        The State Library invests $10 million annually in local libraries to help them develop more innovative and efficient ways to serve their communities.
                    </p>
                    <p>
                        Since 2015, the State Library has improved access for millions of Californians by helping connect more than half of the state's 1,100 libraries to a high-speed Internet network that links universities, colleges, schools and libraries around the world.
                    </p>
                    <p>
                        Greg has a degree in communications from Stanford University and a Master’s in Professional Writing from the University of Southern California.
                    </p>
                    <div class="spacer"></div>
                    <div class="photo" style="background-image: url('/Content/StateTemplate/images/about/executiveStaff/GregLucas.jpg'); background-position:100% 10%"></div>
                </div>
            </div>
            <div class="panel panel-default photo-left">
                <div class="panel-heading">
                    <h4>Narinder Sufi</h4>
                    <p>Deputy State Librarian</p>
                </div>
                <div class="panel-body">
                    <div class="spacer"></div>
                    <p>
                        Narinder Sufi was appointed Deputy State Librarian for the California State Library in August 2017 by Governor Jerry Brown.  Narinder has over 14 years’ experience in library management, project management and community development background. Prior to this role she was director of libraries and community development at Luton Culture in England.
                    </p>
                    <p>
                        At California State Library Narinder’s role is to support the management team to deliver their objectives. She supports state librarian in achieving his vision for 'California State Library – to make this institution the best it can be' by doing everything required on the ground. As a deputy state librarian she will assist state librarian in developing strategic direction and policy to ensure the California state library delivers to its agenda and manage resources as effectively as possible.
                    </p>
                    <p>
                        Narinder has a Master’s degree in information management (librarianship) from Thames Valley University in London. She is also a Prince II qualified project manager.
                    </p>
                    <div class="spacer"></div>
                    <div class="photo" style="background-image: url('/Content/StateTemplate/images/about/executiveStaff/NarinderSufi.jpg'); background-position:100% 10%"></div>
                </div>
            </div>
            <div class="panel panel-default photo-left">
                <div class="panel-heading">
                    <h4>Wendy Hopkins</h4>
                    <p>Bureau Chief, Library Development Services</p>
                </div>
                <div class="panel-body">
                    <div class="spacer"></div>
                    <p>
                        Wendy Hopkins has been Bureau Chief for Library Development Services since April 2015. Wendy started her career at the state in 1994, when she was appointed Media Relations Director for Governor Pete Wilson. She has worked in several other state agencies and also spent time working in the public sector.
                    </p>
                    <p>
                        As Bureau Chief, Wendy leads a staff of 12 in administering, monitoring and reporting on some $10 million in state and federal grants to the public libraries. She and her team work in collaboration with the state's 1,100+ public libraries; their work ensures that libraries throughout California can effectively support their current and potential users and meet the needs of their diverse communities.
                    </p>
                    <p>
                        Wendy is a graduate of Northern Arizona University in Flagstaff with a Bachelor of Sciences degree in Journalism/Mass Communications.
                    </p>
                    <div class="spacer"></div>
                    <div class="photo" style="background-image: url('/Content/StateTemplate/images/about/executiveStaff/WendyHopkins.jpg'); background-position:100% 10%"></div>
                </div>
            </div>
            <div class="panel panel-default photo-left">
                <div class="panel-heading">
                    <h4>Michael Martinez</h4>
                    <p>Bureau Chief, Information Technology Bureau</p>
                </div>
                <div class="panel-body">
                    <div class="spacer"></div>
                    <p>
                        Michael Martinez has been Chief Information Officer (CIO) of the California State Library since May of 2016.  He started his career at the California State Library in 1996 as a student assistant in the California Research Bureau. Since that time, he has held a variety of positions in the Information Technology Bureau including being named Chief Information Officer in 2016.
                    </p>
                    <p>
                        His responsibility includes overseeing the efficient and effective use of information technology and telecommunications resources and solutions within the State Library. He manages the day-to-day operations of the information technology bureau including directing staff, who support administrative computing, networking, user services, telecommunications and other information technology functions.
                    </p>
                    <p>
                        Michael is a graduate of California State University, Sacramento with a Bachelor of Sciences degree in Management Information Systems.
                    </p>
                    <div class="spacer"></div>
                    <div class="photo" style="background-image: url('/Content/StateTemplate/images/about/executiveStaff/MikeMartinez.jpg'); background-position:100% 10%"></div>
                </div>
            </div>
            <div class="panel panel-default photo-left">
                <div class="panel-heading">
                    <h4>Anne Neville</h4>
                    <p>Director, California Reserach Bureau</p>
                </div>
                <div class="panel-body">
                    <div class="spacer"></div>
                    <p>
                        Anne Neville was appointed director of the California Research Bureau in June 2015.
                    </p>
                    <p>
                        Prior to joining the State Library, Anne directed the State Broadband Initiative at the National Telecommunications & Information Administration (NTIA) at the US Department of Commerce. At NTIA, she was responsible for the National Broadband Map, grants to states to support the emerging digital economy, and a number of research activities. Before this she was a Global Leadership Fellow focusing on IT and Telecom at the World Economic Forum in Geneva, Switzerland. She has also served as Assistant Secretary for Economic Development and Technology for the State of California and as a California Senate Fellow. In Anne's early work, she managed a grant program to increase non-profit capacity through the use of IT and founded a community center providing technology training and access to mainly immigrant populations.
                    </p>
                    <p>
                        As Bureau Chief, Anne and her team develop non-partisan, independent research for the Legislature and Governor.  As part of the California State Library’s executive team, she also leads a two-year John S. and James L. Knight Foundation grant to support open data in public libraries and serves on the Board of Directors of CENIC.
                    </p>
                    <p>
                        Anne holds a Master of Public Administration from the University of Southern California and a BA (Honors) from the University of North Carolina at Chapel Hill.
                    </p>
                    <div class="spacer"></div>
                    <div class="photo" style="background-image: url('/Content/StateTemplate/images/about/executiveStaff/AnneNeville.jpg'); background-position:100% 10%"></div>
                </div>
            </div>
            <div class="panel panel-default photo-left">
                <div class="panel-heading">
                    <h4>Alex Vassar</h4>
                    <p>Communications Manager, Administrative Services</p>
                </div>
                <div class="panel-body">
                    <div class="spacer"></div>
                    <p>
                        Alex Vassar began his role as Communications Manager for the California State Library in May 2017.
                    </p>
                    <p>
                        Prior to his arrival at the Library, Alex worked for the State of California since 2007 when he was selected as a California Senate Fellow. Since then, he worked for both houses of the California Legislature and the State Board of Equalization before joining the California State Library.
                    </p>
                    <p>
                        Alex manages the State Library's Communications Office which handles media inquiries and shares news about the library through press releases and the library's social media outlets. The office also manages the library's public events and schedules tours of the historic Library and Courts Building.
                    </p>
                    <p>
                        Alex has a Master of Public Administration degree from the University of Southern California.
                    </p>
                    <div class="spacer"></div>
                    <div class="photo" style="background-image: url('/Content/StateTemplate/images/about/executiveStaff/AlexVassar.jpg'); background-position:100% 10%"></div>
                </div>
            </div>
            <div class="panel panel-default photo-left">
                <div class="panel-heading">
                    <h4>Rebecca Wendt</h4>
                    <p>Bureau Chief, State Library Service</p>
                </div>
                <div class="panel-body">
                    <p>
                        Rebecca Wendt joined the California State Library in October 2016 as the State Library Services Bureau Chief.
                    </p>
                    <p>
                        Prior to her arrival at the Library, Rebecca was Deputy State Archivist at the California State Archives where she had worked since 2001. Previously, she was a Manuscripts and Photographs Curator at UC Davis in the Special Collections Department of the University Library. She also worked for the Yolo Library System including the Turner Branch in West Sacramento and the Yolo County Archives. She even spent one summer managing and driving the Yolo County Bookmobile.
                    </p>
                    <p>
                        As Bureau Chief, Rebecca oversees the "operations side" of the California State Library which includes the Braille and Talking Book Library, the California History Section, Information Services, the Government Publications Section, the Witkin State Law Library, and the Sutro Library (in San Francisco). The bureau is also responsible for the acquisition, cataloging, maintenance, and preservation of the State Library's collections.
                    </p>
                    <p>
                        Rebecca earned a Master of Library and Information Science degree from San Jose State University.
                    </p>
                    <div class="photo" style="background-image: url('/Content/StateTemplate/images/about/executiveStaff/female.jpg')"></div>
                </div>
            </div>
            <div class="panel panel-default photo-left">
                <div class="panel-heading">
                    <h4>Elizabeth Vierra</h4>
                    <p>Bureau Chief, Administraive Services</p>
                </div>
                <div class="panel-body">
                    <p>
                        Elizabeth “Liz” Vierra assumed the role of the Department’s Administrative Services Bureau Chief in November 2015.  Since 2013, she had served as the Department’s Personnel, Labor Relations and EEO Officer in Human Resources.
                    </p>
                    <p>
                        Prior to joining the State Library, Liz worked at the California Department of Consumer Affairs, where she served as a human resources manager since 2008. Additionally, she has held various positions at the Department of Health Services, Department of Justice Attorney General’s Office and the California Highway Patrol and has served more than 23 years in public service.
                    </p>
                    <p>
                        As Bureau Chief of Administrative Services, Liz oversees the State Library’s Fiscal Services, Business Services, Policy and Compliance, and Human Resources Offices.
                    </p>
                    <p>
                        She studied Accounting, Human Resources and Business Administration at Sacramento City College and California State University, Sacramento.
                    </p>
                    <div class="photo" style="background-image: url('/Content/StateTemplate/images/about/executiveStaff/female.jpg');"></div>
                </div>
            </div>

        </div>
    </div>
</div>