@{
    ViewBag.Title = "CSL - About the California State Library";
    ViewBag.PageTitle = "General Information";
    ViewBag.Author = "Ryan Salcido";
    ViewBag.Description = "About the California State Library";
    ViewBag.Keywords = "General Information";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About Library</a></li>
                    <li>General Information</li>
                </ol>

                <!--Fix links for "Sutro Library" and "Grant Information"-->

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                    <h3>The California State Library at your service</h3>   

                <p>
                    The California State Library, a California public research institution, provides its customers with the accurate, up-to-date information they need to do their jobs easily, quickly, and confidently. 
                    Whether you are an elected official, a state employee, a representative of one of California's libraries, a <a href="/btbl/">person with special reading needs</a> or a member of the general public, the California State Library is here for you. 
                    Our staff, including of librarians, researchers, and consultants are at your service.
                </p>

                    <h3>What We Do</h3>
               
                <p>
                    The California State Library serves the people of California in several ways:
                </p>
                <ul class="list-overstated">
                    <li>It is the central reference and research library for state government and the Legislature.</li>
                    <li>It provides non-partisan research to the Legislature and the Governor.</li>
                    <li>It collects, preserves, generates and disseminates information ranging from California's priceless historical items to today's online texts.</li>
                    <li>It advises, consults with, and provides technical assistance to California's public libraries, and it directs state and federal funds to support local public libraries, as well as statewide library programs, and services.</li>
                </ul>

                    <h3>Some history</h3>
               
                <p>
                    In 1850, California's new legislature, seeing that the state's facts, figures, and documents needed to be in a central location, established the California State Library in the State Capitol.
                    By 1910, the collection had grown too large to fit the space. The present State Library broke ground in 1922 and was completed in 1928.
                    In 1917, the California State Library established the <a href="/sutro">Sutro Library</a> in San Francisco from the private library of <a href="/sutro/adolph-sutro/">Adolph Sutro</a>.
                    Today, the State Library holds over 4 million titles in its collection.
                </p>

                
                    <h3>Get informed online with the California State Library</h3>
          
                <p>
                    Today's customers increasingly turn to Visit California State Library's website for 
                    <a href="/crb/reports-events/">research reports</a>, 
                    circulation services, <a href="/grants">grant information</a>, 
                    <a href="/california-history/pictorial-resources/">photos</a>, 
                    <a href="/services/statistics/">statistics</a>, helpful links, 
                    <a href="/btbl/bard/">digital books</a> for the visually-impaired, 
                    and a <a href="http://californiastatelibrary.tumblr.com/">blog</a>.
                    (State employees can also access news databases from their home PCs.) 
                    We invite you to explore our newly updated website, and discover the perfect page for your information needs.
                </p>
                <p>
                    As we continue to streamline our online services, we welcome your <a href="/contact">feedback</a>. 
                    Please send us an <a href="http://askstatelibrary.libraryresearch.info/reft100.aspx?key=Comment">email</a> and let us know how we can make it easier for you to get what you need.
                </p>
            </div>
        </div>
    </main>
</div>
