@{
    ViewBag.Title = "CSL - Librarian and Senior Librarian Exam Process";
    ViewBag.PageTitle = "Librarian and Senior Librarian Exam and Hiring Process";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "You can find all the information you need to apply for the examination and to be considered for these jobs here. Thank you for your interest in the Librarian and Senior Librarian jobs.";

}
<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb dynamic"></ol>

                <h2 class="page-title">@(ViewBag.PageTitle)</h2>
            
                <p>Thank you for your interest in the Librarian and Senior Librarian jobs. You can find all the information you need to apply for the examination and to be considered for these jobs here.

</p>

<p>
                <a href="~/Content/StateTemplate/pdf/workWithUs/Lib_SeniorLib_Flyer.pdf">About the Job</a> (PDF)</p>
                <h3>Application and Examination Instructions and Forms

</h3>
                <ul>
                    <li><a href="http://www.library.ca.gov/about/jobs/docs/LibSeriesBulletin8-17.pdf">Examination Bulletin</a></li>
                    <li><a href="http://www.calhr.ca.gov/state-hr-professionals/pages/2951.aspx">Class Specification</a></li>
                    <li><a href="http://www.library.ca.gov/about/jobs/lsl/">Exam Instructions and Supplemental Application</a></li>
                </ul>

                <h3>Contact Us Regarding the Application or Examination Process

</h3>
                <p>
                    <strong>Angela Duprey
</strong><br />
                    (916) 651-0337
<br />
                    <a href="mailto:Angela.Duprey@library.ca.gov">Angela.Duprey@library.ca.gov</a><br />
                </p>
            </div>
        </div>
    </main>
</div>
