@{
    ViewBag.Title = "CSL - State Document Depositories";
    ViewBag.PageTitle = "State Document Depositories (alpha order by city)";
    ViewBag.Author = "Ryan Salcido";
    ViewBag.Description = "A complete list of contact information for all full and selective State Document Depositories listed by city.";
    ViewBag.Keywords = "Document, Depositories";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/collections">Our Collections</a></li>
                    <li><a href="/government-publications">Government Publications</a></li>
                    <li><a href="/government-publications/state-document-depository-program">California Depository Library Program</a></li>
                    <li>Depositories</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <div class="group">
                    <p>
                        Below is a list of depository libraries that receive publications produced or distributed by California state agencies.
                        Libraries designated below as "full" depositories receive copies of each state publication as defined in Government Code section 14902.
                        The other libraries on the list are selective depositories that receive copies of each publication distributed by the Office of State Publishing, and may request other state documents distributed directly by the issuing agencies.
                    </p>
                    <p>
                        Patrons needing access to or reference assistance concerning California state publications may contact the libraries below using the contact information provided. 
                        State agencies needing a list of depository libraries for the purposes of distributing their publications should consult the <a href="">State Document Depositories mailing list</a> (PDF, last updated July 2017).
                    </p>

                    <div class="orange">
                        <h3>State Document Depositories (alphabetical order by city)</h3>
                    </div>
                    <div class="tab-group">
                        <span class="ca-gov-icon-favorite"></span>
                        <!-- Nav tabs - NOTE: UNIQUE ID IS REQUIRED -->
                        <ul id="homeTabs" class="nav nav-tabs responsive" role="tablist">
                            <li class="active"><a href="#a" role="tab" data-toggle="tab">A</a></li>
                            <li><a href="#b" role="tab" data-toggle="tab">B</a></li>
                            <li><a href="#c" role="tab" data-toggle="tab">C</a></li>
                            <li><a href="#d" role="tab" data-toggle="tab">D</a></li>
                            <li><a href="#e" role="tab" data-toggle="tab">E</a></li>
                            <li><a href="#f" role="tab" data-toggle="tab">F</a></li>
                            <li><a href="#g" role="tab" data-toggle="tab">G</a></li>
                            <li><a href="#h" role="tab" data-toggle="tab">H</a></li>
                            <li><a href="#i" role="tab" data-toggle="tab">I</a></li>
                            <li><a href="#l" role="tab" data-toggle="tab">L</a></li>
                            <li><a href="#m" role="tab" data-toggle="tab">M</a></li>
                            <li><a href="#n" role="tab" data-toggle="tab">N</a></li>
                            <li><a href="#o" role="tab" data-toggle="tab">O</a></li>
                            <li><a href="#p" role="tab" data-toggle="tab">P</a></li>
                            <li><a href="#r" role="tab" data-toggle="tab">R</a></li>
                            <li><a href="#s" role="tab" data-toggle="tab">S</a></li>
                            <li><a href="#t" role="tab" data-toggle="tab">T</a></li>
                            <li><a href="#v" role="tab" data-toggle="tab">V</a></li>
                            <li><a href="#w" role="tab" data-toggle="tab">W</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content responsive">
                            <div class="tab-pane active" id="a">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.alhambralibrary.org/">Alhambra Public Library</a></div>
                                                <div class="address">
                                                    101 South First Street, Alhambra, CA 91801<br>
                                                    Phone: <a href="tel:+16265705008">626-570-5008</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="https://library.humboldt.edu/search/govdocs/index.html">Humboldt State University Library</a></div>
                                                <div class="address">
                                                    1 Harpst Street, Arcata, CA 95521<br>
                                                    Phone: <a href="tel:+17078263441">707-826-3441</a><br>
                                                    Fax: <a href="tel:+17078263440">707-826-3440</a><br>
                                                    <a href="http://library.humboldt.edu/ask/email.html">Email</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="b">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.csub.edu/library/">Walter W. Stiern Library</a></div>
                                                <div class="address">
                                                    California State University, Bakersfield, 9001 Stockdale Highway, Bakersfield, CA 93311-1099 <br>
                                                    Phone: <a href="tel:+16616543259">(661) 654-3259</a><br>
                                                    Fax: <a href="tel:+16616543238">(661) 654-3238</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://kclawlib.org/">Kern County Law Library</a></div>
                                                <div class="address">
                                                    1415 Truxtun, Room 301, Bakersfield, CA 93301<br>
                                                    Phone: <a href="tel:+16618685320">661-868-5320</a><br>
                                                    Fax: <a href="tel:+16618685368">(661) 868-5368</a><br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.kerncountylibrary.org/">Kern County Library System</a></div>
                                                <div class="address">
                                                    701 Truxtun Avenue, Bakersfield, CA 93301-4816<br>
                                                    Phone: <a href="tel:+16618680770">(661) 868-0770</a><br>
                                                    Fax: <a href="tel:+16618680799">(661) 868-0799</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.law.berkeley.edu/library/">School of Law Library</a></div>
                                                <div class="address">
                                                    Boalt Hall, University of California, Berkeley, Berkeley, CA 94720-7210<br>
                                                    Phone: <a href="tel:+16618680770">(661) 868-0770</a><br>
                                                    Fax: <a href="tel:+15106420900">(510) 642-0900</a><br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://kclawlib.org/">Doe Library</a></div>
                                                <div class="address">
                                                    University of California, Berkeley (Complete)<br>
                                                    Berkeley, CA 94720-6000<br>
                                                    Phone: <a href="tel:+15106426657">(510) 642-6657</a><br>
                                                    <a href="http://guides.lib.berkeley.edu/government-information">E-mail</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="c">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www4.csudh.edu/library/">California State University, Dominguez Hills Library</a></div>
                                                <div class="address">
                                                    California State University, Dominguez Hills<br>
                                                    1000 East Victoria Street,  Carson, CA 90747-0005<br>
                                                    Phone: <a href="tel:+13102433700">(310) 243-3700</a><br>
                                                    Fax: <a href="tel:+13105164219">(310) 516-4219</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.csuchico.edu/library/gov/index.html">Meriam Library</a></div>
                                                <div class="address">
                                                    California State University, Chico (Complete)<br>
                                                    400 West 1st Street, Chico, CA 95929-0295<br>
                                                    Phone: <a href="tel:+1(530) 898-5833">(530) 898-5833</a><br>
                                                    Fax: <a href="tel:+15308984443">(530) 898-4443</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.chulavistaca.gov/departments/library">Chula Vista Public Library</a></div>
                                                <div class="address">
                                                    365 F Street, Chula Vista, CA 91910<br>
                                                    Phone: <a href="tel:+16196915069">(619) 691-5069</a><br>
                                                    <a href="http://www.chulavistaca.gov/departments/library/contact-us">E-mail</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://libraries.claremont.edu/gov/">Claremont Colleges Honnold/Mudd Library</a></div>
                                                <div class="address">
                                                    800 North Dartmouth Avenue, Claremont, CA 91711-3991<br>
                                                    Phone: <a href="tel:+19096073959">(909) 607-3959</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="d">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.cityofinglewood.org/depts/library/">University of California, Davis</a></div>
                                                <div class="address">
                                                    Mabie Law Library, King Hall, Room 1071, Davis, CA 95616-5201<br>
                                                    Phone: <a href="tel:+15307523327">(530) 752-3327</a><br>
                                                    Fax: <a href="tel:+15307528766">(530) 752-8766</a><br>
                                                    Email: <a href="mailto:lawlibref@ucdavis.edu">lawlibref@ucdavis.edu</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.buttecounty.net/bclibrary/Home.aspx">University of California, Davis (Complete)</a></div>
                                                <div class="address">
                                                    Shields Library, 100 North West Quad, Davis, CA 95616-5292<br>
                                                    Phone: <a href="tel:+15307521624">(530) 752-1624</a><br>
                                                    Fax: <a href="tel:+15307523148">(530) 752-3148</a><br>
                                                    <a href="http://www.lib.ucdavis.edu/dept/govinfo/forms/ask.php">Email</a> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="e">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.cityofelcentro.org/library/">El Centro Public Library</a></div>
                                                <div class="address">
                                                    1140 N. Imperial Ave., El Centro, CA 92243<br>
                                                    Phone: <a href="tel:+17603374565">(760) 337-4565</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.humboldtgov.org/1346/Public-Library">Humboldt County Library</a></div>
                                                <div class="address">
                                                    1313 Third Street, Eureka, CA 95501-0533<br>
                                                    Phone: <a href="tel:+17072691900">(707) 269-1900</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="f">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.aclibrary.org/">Fremont Main Library</a></div>
                                                <div class="address">
                                                    Alameda County Library<br>
                                                    2400 Stevenson Blvd., Fremont, CA 94538-2326<br>
                                                    Phone: <a href="tel:+15107451444">(510) 745-1444</a><br>
                                                    <a href="http://www.aclibrary.org/research/default.asp?topic=Research&cat=AskaLibrarianEmail">E-mail</a><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.fresnolibrary.org/ref/govdoc.html">Fresno County Public Library (Complete)</a></div>
                                                <div class="address">
                                                    2420 Mariposa Street, Fresno, CA 93721-2285<br>
                                                    Phone: <a href="tel:+15594883195">(559) 488-3195</a><br>
                                                    Fax: <a href="5594886735">(559) 488-6735</a><br>
                                                    <a href="http://www.fresnolibrary.org/ref/webref.html">E-mail</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://libguides.csufresno.edu/govinfocollections">Henry Madden Library</a></div>
                                                <div class="address">
                                                    California State University, Fresno<br>
                                                    5200 North Barton Avenue, Fresno, CA 93740-8014<br>
                                                    Phone: <a href="tel:+15592782335">(559) 278-2335</a><br>
                                                    Fax: <a href="tel:+15592786952">(559) 278-6952</a><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://libraryguides.fullerton.edu/c.php?g=189838">Pollak Library</a></div>
                                                <div class="address">
                                                    California State University, Fullerton
                                                    800 North State College Boulevard, Fullerton, CA 92834-4150<br>
                                                    Phone: <a href="tel:+17142783449">(714) 278-3449</a><br>
                                                    E-mail: <a href="mailto:libraryanswers@fullerton.edu">libraryanswers@fullerton.edu</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="g">
                                <div class="location mini">
                                    <div class="ca-gov-icon-road-pin"></div>
                                    <div class="contact">
                                        <div class="title"><a href="http://ocpl.org/gov/occr/lib/">Orange County Public Library</a></div>
                                        <div class="address">
                                            Garden Grove Regional Branch<br>
                                            11200 Stanford Avenue, Garden Grove, CA 92840-5318<br>
                                            Phone: <a href="tel:+17145300711">714-530-0711</a><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="h">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.countyofkings.com/services/law-library">Kings County Law Library</a></div>
                                                <div class="address">
                                                    1400 West Lacey Boulevard, Building 4, Hanford, CA 93230<br>
                                                    Phone: <a href="tel:+15595823211">(559) 582-3211 ex. 4430</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://csueastbay.libguides.com/gov">California State University, East Bay</a></div>
                                                <div class="address">
                                                    University Libraries<br>
                                                    25800 Carlos Bee Boulevard, Hayward, CA 94542-3052<br>
                                                    Phone: <a href="tel:+1(510) 885-3765">(510) 885-3765</a><br>
                                                    Fax: <a href="tel:+1(510) 885-2049">(510) 885-2049</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="i">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.cityofinglewood.org/depts/library/">Inglewood Public Library</a></div>
                                                <div class="address">
                                                    101 West Manchester Boulevard, Inglewood, CA 90301-1771<br>
                                                    Phone: <a href="tel:+13104125380">(310) 412-5380</a><br>
                                                    Email: <a href="mailto:publiclibrary@cityofinglewood.org">publiclibrary@cityofinglewood.org</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.buttecounty.net/bclibrary/Home.aspx">University of California, Irvine </a></div>
                                                <div class="address">
                                                    Langson Library, Irvine, CA 92697<br>
                                                    Phone: <a href="tel:+19498244976">(949) 824-4976</a><br>
                                                    Fax: <a href="tel:+19498243644">(949) 824-3644</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="l">
                                Settings Tab
                            </div>
                            <div class="tab-pane" id="m">
                                <div class="location mini">
                                    <div class="ca-gov-icon-road-pin"></div>
                                    <div class="contact">
                                        <div class="title"><a href="http://www.stanislauslibrary.org/">Stanislaus County Library</a></div>
                                        <div class="address">
                                            1500 I Street, Modesto, CA 95354-1166<br>
                                            Phone: <a href="tel:+12095587814">209-558-7814</a><br>
                                            <a href="http://www.stanislauslibrary.org/find_ask_ref.shtml">Email</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="n">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://countyofnapa.org/library/">Napa City-County Library</a></div>
                                                <div class="address">
                                                    580 Coombs Street, Napa, CA 94559-3340<br>
                                                    Phone: <a href="tel:+17072534235">(707) 253-4235</a><br>
                                                    Email: <a href="mailto:Library@countyofnapa.org">Library@countyofnapa.org</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://library.csun.edu/GovernmentPublications">Delmar T. Oviatt Library</a></div>
                                                <div class="address">
                                                    California State University, Northridge<br>
                                                    18111 Nordhoff Street, Northridge, CA 91330-8328<br>
                                                    Phone: <a href="tel:+18186772285">(818) 677-2285</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.colapublib.org/services/govsvcs/internet.html">Norwalk Regional Library</a></div>
                                                <div class="address">
                                                    12350 Imperial Highway, Norwalk, CA 90650-3199<br>
                                                    Phone: <a href="tel:+15628680775">(562) 868-0775</a><br>
                                                    Fax: <a href="tel:+15629291130">(562) 929-1130</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="o">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.oaklandlibrary.org/">Oakland Public Library</a></div>
                                                <div class="address">
                                                    125 14th Street, Oakland, CA 94612-4397<br>
                                                    Phone: <a href="tel:+15102383138">510-238-3138</a><br>
                                                    Email: <a href="mailto:eanswers@oaklandlibrary.org">eanswers@oaklandlibrary.org</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://lawlibrary.laverne.edu/resources_online.php#california-5">University of La Verne College of Law Library</a></div>
                                                <div class="address">
                                                    320 East D St, Ontario, CA 91764<br>
                                                    Phone: <a href="tel:+19094602061">909-460-2061</a><br>
                                                    Fax: <a href="tel:+19094602083">909-460-2083</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.buttecounty.net/bclibrary/Home.aspx">Butte County Library</a></div>
                                                <div class="address">
                                                    1820 Mitchell Avenue, Oroville, CA 95966-5387<br>
                                                    Phone: <a href="tel:+15305387641">(530) 538-7641</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="p">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.ci.pasadena.ca.us/library/">Pasadena Public Library</a></div>
                                                <div class="address">
                                                    285 East Walnut Street, Pasadena, CA 91101-1556<br>
                                                    Phone: <a href="tel:+1(626) 744-4066">(626) 744-4066</a><br>
                                                    <a href="http://cityofpasadena.net/library/about_the_library/contact_us/">E-mail</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://guides.ccclib.org/government">Contra Costa County Library</a></div>
                                                <div class="address">
                                                    Central Library<br>
                                                    1750 Oak Park Boulevard, Pleasant Hill, CA 94523-4497<br>
                                                    Phone: <a href="tel:+19256466434">(925) 646-6434</a><br>
                                                    <a href="http://ccclib.org/askaquestion/">E-mail</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.cpp.edu/~library/index.shtml">California State Polytechnic University, Pomona Library</a></div>
                                                <div class="address"> 
                                                    3801 W. Temple Ave., Pomona, CA 91768<br>
                                                    Phone: <a href="tel:+19098693084">(909) 869-3084</a><br>
                                                    Fax: <a href="tel:+19098696922">(909) 869-6922</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="r">
                                Settings Tab
                            </div>
                            <div class="tab-pane" id="s">
                                Settings Tab
                            </div>
                            <div class="tab-pane" id="t">
                                <div class="group">
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.toaks.org/library/">Thousand Oaks Library</a></div>
                                                <div class="address">
                                                    1401 E. Janss Road, Thousand Oaks, CA 91362<br>
                                                    Phone: <a href="tel:+18054492660">(805) 449-2660</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="location mini">
                                            <div class="ca-gov-icon-road-pin"></div>
                                            <div class="contact">
                                                <div class="title"><a href="http://www.library.csustan.edu/ahor/govdocs/">California State University, Stanislaus Library</a></div>
                                                <div class="address">
                                                    One University Circle, Turlock, CA 95382<br>
                                                    Phone: <a href="tel:+12096673233">209-667-3233</a><br>
                                                    Fax: <a href="tel:+12096673164">209-667-3164</a><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="v">
                                <div class="location mini">
                                    <div class="ca-gov-icon-road-pin"></div>
                                    <div class="contact">
                                        <div class="title"><a href="http://www.vencolawlib.org/">Ventura County Law Library</a></div>
                                        <div class="address">
                                            Courthouse<br>
                                            800 S. Victoria Ave., Ventura, CA 93009-2020<br>
                                            Phone: <a href="tel:+18056428982">805-642-8982</a><br>
                                            Fax: <a href="tel:+18056427177">805-642-7177</a><br>
                                            Email: <a href="mailto:vencolawlib@yahoo.com">vencolawlib@yahoo.com</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="w">
                                <div class="location mini">
                                    <div class="ca-gov-icon-road-pin"></div>
                                    <div class="contact">
                                        <div class="title"><a href="http://www.vencolawlib.org/">Anglo-American Acquisition Division</a></div>
                                        <div class="address">
                                            Library of Congress (Complete)<br>
                                            101 Independence Ave S.E., Washington, D.C., 20540-4172<br>
                                            Phone: <a href="tel:+12027075000">202-707-5000</a><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="list-unstyled p-t-md">
                        Last updated: July 2017
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>

