@{
    ViewBag.Title = "CSL - Welcome to the California State Library";
    ViewBag.PageTitle = "Welcome to the California State Library";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
    ViewBag.pageID = "Home";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="State of California Library" />
    <meta name="Keywords" content="California, government" />  
</head>

<!-- Search Results -->
<div class="search-results-container">
	@Html.Partial("~/Views/shared/modules/search-results.cshtml")
</div>

<div class="header-decoration"></div>

<body class="primary">
	<div id="main-content" class="main-content">
			<!-- Begin Main Content -->
            @Html.Partial("~/Views/shared/modules/_HomeCarousel.cshtml")
            @Html.Partial("~/Views/shared/modules/_HomeSpotlight.cshtml")
            @Html.Partial("~/Views/shared/modules/_HomeEvents.cshtml")
            @Html.Partial("~/Views/shared/modules/_HomeLinks.cshtml")
            @Html.Partial("~/Views/shared/modules/_HomeItems.cshtml")	
			<!-- End Main Content -->		
	</div>
</body>

