@model StateTemplateV5Beta.Models.HelperClasses.HomeViewModel
@using StateTemplateV5Beta.Models

@{
    ViewBag.Title = "Home Page";
}


<!--
<div class="navigation-search">
	<div id="head-search" class="search-container featured-search fade">
        
		Html.Partial("~/Views/shared/modules/search.cshtml")
	</div>

</div>
-->

<!-- Search Results -->
<div class="search-results-container">
	@Html.Partial("~/Views/shared/modules/search-results.cshtml")
</div>

<div class="header-decoration"></div>

<body class="primary">


	<!-- Ask Bar -->
	@*@Html.Partial("~/Views/shared/modules/ask-bar.cshtml")*@
	<!-- Step 5: Header Images -->
	<!-- Include for optional slideshow banner -->
	@*@Html.Partial("~/Views/shared/modules/header-single-banner.cshtml")*@

    
    

	<div id="main-content" class="main-content">
		<main class="main-primary">
			<!-- Begin Main Content -->
            @*<div style="background-color:red; height:400px;">
                
            </div>*@

            @Html.Partial("~/Views/shared/modules/_HomeCarousel.cshtml")
            @Html.Partial("~/Views/shared/modules/_HomeSpotlight.cshtml")
            @Html.Partial("~/Views/shared/modules/_HomeEvents.cshtml")
            @Html.Partial("~/Views/shared/modules/_HomeLinks.cshtml")
            @Html.Partial("~/Views/shared/modules/section-mobile-gallery.cshtml")
            @Html.Partial("~/Views/shared/modules/Blogs.cshtml", Model.BlogList)
            @Html.Partial("~/Views/shared/modules/section-footer2.cshtml")

			
			<!-- End Main Content -->
		</main>
	</div>
   

</body>

